@import url("https://fonts.googleapis.com/css?family=Kirang+Haerang:400");
@import url("https://fonts.googleapis.com/css?family=Do+Hyeon:400");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Merriweather+Sans:ital,wght@0,300;0,400;1,300;1,400;1,700&family=Mynerve&family=Rubik+Mono+One&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "LOTTERIACHAB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OKDDUNG";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/OKDDUNG.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NeoDunggeunmoPro-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Noto Sans KR", sans-serif;
  line-height: 1.4;
  cursor: none;
}

.bar {
  width: 15vw;
  height: 2px;
  background-color: #5c3b16;
  margin: auto;
}

.cursor {
  background-image: url("../source/cursor.png");
  background-size: contain;
  width: 45px;
  height: 45px;
  position: absolute;
  top: 0;
  left: 2px;
  z-index: 3;
}

header {
  position: fixed;
  height: 100px;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  background-color: transparent;
}
header .title {
  color: #5c3b16;
  font-size: 36px;
  font-family: "OKDDUNG";
  text-shadow: 0px 3px 0 white;
  padding-left: 40px;
  height: 100px;
  line-height: 18vh;
}
header .title .title__logo > i:first-child {
  position: absolute;
  top: 0px;
  left: 147px;
  line-height: 18vh;
}
header .title .title__logo > i:last-child {
  position: absolute;
  top: 14px;
  left: 148px;
  transform: rotate(-90deg) scale(0.4);
  line-height: 18vh;
}
header .other-menu ul {
  display: flex;
  position: absolute;
  top: 0;
  right: 40px;
  height: 100%;
}
header .other-menu ul li {
  position: relative;
  margin: auto 15px;
  font-size: 20px;
  transition: 0.7s;
}
header .other-menu ul li span {
  display: none;
  box-sizing: border-box;
  font-size: 13px;
  font-weight: 700;
  padding: 3px 7px;
  width: 70px;
  height: 25px;
  background-color: #ff7f3f;
  position: absolute;
  top: -28px;
  left: -24px;
  border-radius: 4px;
  text-align: center;
}
header .other-menu ul li a {
  color: white;
}
header .other-menu ul li a.changeColor {
  color: #5c3b16;
}
header .other-menu ul li a.changeColor:hover {
  color: #ea5c2b;
}
header .other-menu ul li a:hover {
  color: #f6d860;
}
header .other-menu ul li:hover span {
  display: block;
  color: white;
}
header .other-menu ul li:hover::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  transform: rotate(45deg);
  top: -8px;
  left: 6px;
  background-color: #ff7f3f;
}
header .other-menu ul li:last-child span {
  font-size: 11px;
  text-align: center;
  padding-top: 4px;
  width: 80px;
}

.weather {
  position: fixed;
  display: flex;
  width: 150px;
  bottom: 10px;
  right: 10px;
  padding: 7px 10px;
  background-color: #ff9a1f;
  border-radius: 10px;
  z-index: 3;
  opacity: 0.7;
}
.weather i {
  font-size: 2rem;
  text-align: center;
  line-height: 32px;
  margin: auto 12px auto 9px;
  color: white;
  animation: weatherAnim 10s infinite;
}
@keyframes weatherAnim {
  0% {
    opacity: 0;
    transform: rotate(90deg) translateY(-40%) scale(0.8);
  }
  50% {
    opacity: 1;
    transform: rotate(0deg);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}
.weather ul li {
  font-size: 14px;
  line-height: 14px;
  font-family: "Noto Sans KR", sans-serif;
  margin: 5px 0;
}

.returnToTop {
  position: fixed;
  bottom: 10px;
  right: 190px;
}
.returnToTop a {
  display: block;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  text-align: center;
  font-size: 1.2rem;
}
.returnToTop a.changeColor {
  background-color: #ea5c2b;
}
.returnToTop a.changeColor i {
  color: white;
}
.returnToTop a.changeColor span {
  background-color: white;
}
.returnToTop a span {
  width: 18px;
  height: 1.8px;
  display: block;
  border-radius: 4px;
  background-color: #626458;
  position: absolute;
  top: 6px;
  left: 6px;
}
.returnToTop a i {
  position: absolute;
  top: 8px;
  left: 8px;
  color: #626458;
}

.main {
  position: relative;
}
.main figure .bg {
  width: 100vw;
  -o-object-position: bottom;
     object-position: bottom;
  -o-object-fit: bottom;
     object-fit: bottom;
  filter: sepia(70%);
}
.main .main__contents {
  position: absolute;
  top: 27vh;
  left: 0;
  width: 100vw;
  height: 420px;
}
.main .main__contents .contents__title {
  width: 25.5rem;
  margin: 0 auto;
  padding-left: 5px;
}
.main .main__contents .contents__title h2 {
  display: none;
  width: 4rem;
  font-family: "LOTTERIACHAB";
  font-size: 4.5rem;
  color: #ff7f3f;
  text-shadow: 3px 3px 0 white;
  display: inline-block;
  margin-bottom: 20px;
}
.main .main__contents .contents__title h2:nth-child(1) {
  display: inline-block;
  animation: titleAnim 0.5s 0s ease-out;
}
.main .main__contents .contents__title h2:nth-child(2) {
  display: inline-block;
  animation: titleAnim 0.5s 0.5s ease-out;
}
.main .main__contents .contents__title h2:nth-child(3) {
  display: inline-block;
  animation: titleAnim 0.5s 1s ease-out;
}
.main .main__contents .contents__title h2:nth-child(4) {
  display: inline-block;
  animation: titleAnim 0.5s 1.5s ease-out;
}
.main .main__contents .contents__title h2:nth-child(5) {
  display: inline-block;
  animation: titleAnim 0.5s 2s ease-out;
}
.main .main__contents .contents__title h2:nth-child(6) {
  display: inline-block;
  animation: titleAnim 0.5s 2.5s ease-out;
}
.main .main__contents .contents__title h2:first-child {
  color: #ea5c2b;
  font-size: 5.5rem;
  transform: scale(1.05) rotate(-13deg);
  margin-right: 5px;
}
.main .main__contents .contents__title h2:nth-child(2) {
  animation-delay: 0.2s;
}
.main .main__contents .contents__title h2:nth-child(3) {
  transform: scale(1.05) rotate(-5deg) translate(1px, 2px);
}
.main .main__contents .contents__title h2:nth-child(4) {
  transform: translateX(3px);
}
.main .main__contents .contents__title h2:nth-child(5) {
  transform: scale(1) rotate(-16deg) translateX(5px);
}
.main .main__contents .contents__title h2:nth-child(6) {
  color: #ea5c2b;
  animation-name: titleAnim_exclamation;
  animation-delay: 2.2s;
  transform: scale(1.4) rotate(15deg) translateX(13px);
}
@keyframes titleAnim {
  0% {
    opacity: 0;
    transform: scale(3);
  }
  50% {
    opacity: 1;
  }
  90% {
    transform: scale(1) rotate(-10deg);
  }
  100% {
    transform: scale(1.05) rotate(-13deg);
  }
}
@keyframes titleAnim_exclamation {
  0% {
    opacity: 0;
    display: block;
    transform: scale(3);
  }
  50% {
    opacity: 1;
  }
  90% {
    transform: scale(1) rotate(10deg);
  }
  100% {
    transform: scale(1.2) rotate(13deg);
  }
}
.main .main__contents .contents__title h6 {
  position: absolute;
  font-size: 1.5rem;
  font-family: "OKDDUNG";
  color: #f6d860;
  text-shadow: 4px 4px 0 #5c3b16;
}
.main .main__contents .contents__title h6.subtitle1 {
  top: -28px;
  right: 50vw;
  color: white;
}
.main .main__contents .contents__title h6.subtitle1::first-letter {
  color: #95cd41;
}
.main .main__contents .contents__title h6.subtitle2 {
  top: -19px;
  left: 50vw;
  color: white;
}
.main .main__contents .contents__title h6.subtitle2::first-letter {
  color: #f6d860;
}
.main .main__contents .main__hash {
  width: 587px;
  margin: 15px auto;
}
.main .main__contents .main__hash p {
  display: inline-block;
  text-align: center;
  position: relative;
  z-index: 1;
  font-size: 13px;
  line-height: 1.7;
  padding: 3px 9px;
  margin-top: 10px;
  background-color: #e4ffb9;
  border-radius: 16px;
  border: 2px solid #95cd41;
}
.main .main__contents .bottomButton {
  position: absolute;
  width: 45px;
  height: 65px;
  bottom: 5vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 3;
}
.main .main__contents .bottomButton a {
  color: rgba(98, 100, 88, 0.4823529412);
  font-size: 2rem;
  text-decoration: none;
}
.main .main__contents .bottomButton i {
  display: block;
  position: absolute;
  animation: arrowDown 3s infinite;
}
.main .main__contents .bottomButton i:first-child {
  top: 13px;
  animation: arrowDown 3s 0.5s infinite;
}
@keyframes arrowDown {
  0% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(7px);
  }
}

.nav {
  width: 100vw;
  height: 900px;
  position: relative;
  top: -5px;
  left: 0;
}
.nav .nav__container {
  width: 100%;
  height: 100%;
  background-color: white;
}
.nav .nav__container .title {
  position: absolute;
  z-index: 1;
  top: 60px;
  left: 44%;
}
.nav .nav__container .title h3 {
  font-size: 4rem;
  font-family: "Rubik Mono One", sans-serif;
  letter-spacing: -8px;
  font-style: italic;
}
.nav .nav__container .title span {
  display: block;
  width: 100%;
  height: 1px;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.238);
  position: absolute;
  top: 82%;
}
.nav .nav__container .title p {
  position: absolute;
  right: 0;
  font-family: "Noto Sans", sans-serif;
  font-weight: 100;
}
.nav .nav__container .nav__bg {
  background-image: url("../source/image/jejuMain.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 70vw;
  height: 680px;
  position: absolute;
  left: calc(70vw - 50%);
  transform: translateX(-8%);
}
.nav .nav__container .parts {
  width: 99vw;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  bottom: 0;
}
.nav .nav__container .parts li {
  position: relative;
  background-color: white;
  width: 18vw;
  transition: 0.7s;
  overflow: hidden;
  border-radius: 7px;
  box-shadow: 3px 4px 9px rgba(0, 0, 0, 0.1843137255);
}
.nav .nav__container .parts li a {
  text-decoration: none;
}
.nav .nav__container .parts li .parts__image {
  background-size: cover;
  background-repeat: no-repeat;
  height: 170px;
  opacity: 0.8;
  transition: 0.5s;
}
.nav .nav__container .parts li:nth-child(1) .parts__image {
  background-image: url("../source/activityMain.jpeg");
  background-position: 0 -40px;
}
.nav .nav__container .parts li:nth-child(2) .parts__image {
  background-image: url("../source/cafeMain.jpeg");
  background-position: 0 -60px;
}
.nav .nav__container .parts li:nth-child(3) .parts__image {
  background-image: url("../source/foodMain.jpeg");
}
.nav .nav__container .parts li:nth-child(4) .parts__image {
  background-image: url("../source/touristMain.jpeg");
}
.nav .nav__container .parts li:nth-child(5) .parts__image {
  background-image: url("../source/emergencyMain.jpeg");
}
.nav .nav__container .parts li p {
  width: 165px;
  height: 35px;
  border-radius: 20px;
  background-color: rgba(246, 216, 96, 0.6);
  font-family: "Rubik Mono One", sans-serif;
  letter-spacing: -2px;
  font-size: 1.5rem;
  text-align: center;
  color: rgb(34, 34, 34);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: none;
  transition: 0.7s;
}
.nav .nav__container .parts li:hover .parts__image {
  opacity: 0.3;
  transform: scale(1.1);
}
.nav .nav__container .parts li:hover p {
  display: block;
}

footer {
  width: 100vw;
  background-color: #363730;
  margin-top: 50px;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer img {
  height: 40px;
  background-size: cover;
  background-color: white;
  margin-right: 30px;
}
footer ul li {
  color: white;
  font-weight: 100;
  font-size: 12px;
  font-style: italic;
  font-family: "Noto Sans", sans-serif;
  letter-spacing: 1px;
}/*# sourceMappingURL=style.css.map */