@import url("https://fonts.googleapis.com/css?family=Kirang+Haerang:400");
@import url("https://fonts.googleapis.com/css?family=Do+Hyeon:400");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Noto Sans KR";
  line-height: 1.4;
}

header {
  position: fixed;
  height: 100px;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  background-color: white;
}
header .title {
  color: #ea5c2b;
  font: 8vh "Kirang Haerang";
  text-shadow: 0px 3px 0 white;
  margin-left: 40px;
  height: 100px;
  line-height: 14vh;
}
header .other-menu ul {
  display: flex;
  position: absolute;
  top: 0;
  height: 100%;
  right: 10%;
}
header .other-menu ul li {
  margin: auto 15px;
  font-size: 20px;
  position: relative;
  transition: 0.7s;
}
header .other-menu ul li span {
  display: none;
  box-sizing: border-box;
  font-size: 13px;
  font-weight: 700;
  padding: 2px 7px;
  width: 90px;
  height: 25px;
  background-color: #ff7f3f;
  position: absolute;
  top: -28px;
  left: -24px;
  border-radius: 4px;
  text-align: center;
}
header .other-menu ul li a {
  color: #5c3b16;
}
header .other-menu ul li:hover span {
  display: block;
  color: white;
}
header .other-menu ul li:hover::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  transform: rotate(45deg);
  top: -8px;
  left: 6px;
  background-color: #ff7f3f;
}

.weather {
  position: fixed;
  display: flex;
  width: 150px;
  bottom: 10px;
  right: 10px;
  padding: 7px 10px;
  background-color: #ff9a1f;
  border-radius: 10px;
  z-index: 3;
  opacity: 0.7;
}
.weather i {
  font-size: 2rem;
  text-align: center;
  line-height: 32px;
  margin: auto 10px auto 5px;
  color: white;
  animation: weatherAnim 10s infinite;
}
@keyframes weatherAnim {
  0% {
    opacity: 0;
    transform: rotate(90deg) translateY(-40%) scale(0.8);
  }
  50% {
    opacity: 1;
    transform: rotate(0deg);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}
.weather ul li {
  font-size: 14px;
  line-height: 14px;
  font-family: "Noto Sans KR";
  margin: 5px 0;
}

.swiper {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.swiper .swiper-slide .swiper-img {
  padding-top: 100px;
  height: 100%;
  width: 100%;
  cursor: pointer;
  box-shadow: 8px 4px 4px #888;
}
.swiper .swiper-slide p {
  opacity: 0;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  position: absolute;
  top: 75vh;
  left: 0vw;
  width: 40px;
  height: 40px;
  color: black;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}
.swiper .swiper-button-prev::after,
.swiper .swiper-button-next::after {
  font-size: 25px;
}
.swiper .swiper-button-next {
  left: 3vw;
}

.description .description-content1 {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.description .description-content1 img {
  position: absolute;
}
.description .description-content1 img:nth-child(1) {
  width: 50vw;
  height: 50vh;
  left: 0;
}
.description .description-content1 img:nth-child(2) {
  width: 50vw;
  height: 50vh;
  left: 0;
  top: 50vh;
}
.description .description-content1 img:nth-child(3) {
  width: 50vw;
  height: 50vh;
  top: 0;
  left: 50vw;
}
@keyframes contentAnim {
  0% {
    opacity: 0;
    transform: translateY(-40%) scale(0.8);
  }
  50% {
    opacity: 1;
    transform: rotate(0deg);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}
.description .description-content1 .place-content {
  position: absolute;
  right: 10%;
  bottom: 25%;
}
.description .description-content1 .place-content .content-box {
  background-color: #95cd41;
  font-family: "Do Hyeon";
  font-size: 4vh;
}
.description .description-content2 {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.description .description-content2 img:nth-child(1) {
  position: absolute;
  width: 50vw;
  height: 50vh;
  top: 0;
  left: 0;
}
.description .description-content2 img:nth-child(2) {
  display: none;
  position: absolute;
  width: 50vw;
  height: 50vh;
  left: 0;
  top: 50vh;
}
.description .description-content2 img:nth-child(3) {
  position: absolute;
  width: 50vw;
  height: 50vh;
  left: 0;
  top: 50vh;
}
.description .description-content2 .place {
  position: absolute;
  left: 5%;
  top: 5%;
  font-family: "Do Hyeon";
  font-size: 4vh;
}
.description .description-content2 .place-content {
  position: absolute;
  left: 10%;
  top: 15%;
}
.description .description-content3 {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.description .description-content3 img:nth-child(1) {
  position: absolute;
  width: 50vw;
  height: 50vh;
  top: 0;
  left: 0;
}
.description .description-content3 img:nth-child(2) {
  position: absolute;
  width: 50vw;
  height: 50vh;
  left: 0;
  top: 50vh;
}
.description .description-content3 img:nth-child(3) {
  position: absolute;
  width: 50vw;
  height: 50vh;
  left: 0;
  top: 50vh;
}
.description .description-content3 .place {
  position: absolute;
  left: 5%;
  top: 5%;
  font-family: "Do Hyeon";
  font-size: 4vh;
}
.description .description-content3 .place-content {
  position: absolute;
  left: 10%;
  top: 8%;
}
.description .description-content4 {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.description .description-content4 img:nth-child(1) {
  position: absolute;
  width: 50vw;
  height: 50vh;
  top: 0;
  left: 0;
}
.description .description-content4 img:nth-child(2) {
  position: absolute;
  width: 50vw;
  height: 50vh;
  top: 50vh;
  left: 0;
}
.description .description-content4 img:nth-child(3) {
  position: absolute;
  width: 450px;
  height: 300px;
  left: 800px;
  top: 50px;
}
.description .description-content4 .place {
  position: absolute;
  left: 5%;
  top: 5%;
  font-family: "Do Hyeon";
  font-size: 4vh;
}
.description .description-content4 .place-content {
  position: absolute;
  left: 10%;
  top: 8%;
}
.description .description-content5 {
  width: 100%;
  height: 100vh;
  position: relative;
}
.description .description-content5 img:nth-child(1) {
  position: absolute;
  width: 50vw;
  height: 50vh;
  top: 0;
  left: 0;
}
.description .description-content5 img:nth-child(2) {
  position: absolute;
  width: 50vw;
  height: 50vh;
  top: 50vh;
  left: 0;
}
.description .description-content5 .place {
  position: absolute;
  left: 5%;
  top: 5%;
  font-family: "Do Hyeon";
  font-size: 4vh;
}
.description .description-content5 .place-content {
  position: absolute;
  left: 10%;
  top: 8%;
}/*# sourceMappingURL=style.css.map */