//font
@import url("https://fonts.googleapis.com/css?family=Kirang+Haerang:400");
//Kirang Haerang
@import url("https://fonts.googleapis.com/css?family=Do+Hyeon:400");
//Do Hyeon
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
//font-family: 'Noto Sans KR', sans-serif;

//reset
@import "reset";

//color
$yellow: #f6d860;
$orange: #ff7f3f;
$darkOrange: #ea5c2b;
$green: #95cd41;

$lightGray: #ced8d6;
$gray: #626458;
$darkYellow: #cba55b;
$darkBrown: #5c3b16;

//font
$doHyeon: "Do Hyeon";
$kirangHaerang: "Kirang Haerang";
$notoSans: "Noto Sans KR";

body {
  // background-color: $yellow;
  font-family: "Noto Sans KR";
  line-height: 1.4;
  height: 3000px;
  width: 100vw;
}

//header
header {
  position: fixed;
  // opacity: 0.5;
  height: 100px;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100vw;
  background-color: transparent;

  .title {
    color: #ea5c2b;
    font: 8vh "Kirang Haerang";
    text-shadow: 0px 3px 0 white;
    margin-left: 40px;
    height: 100px;
    line-height: 14vh;
  }
  .other-menu {
    ul {
      display: flex;
      position: absolute;
      top: 0;
      height: 100%;
      right: 10%;
      li {
        margin: auto 15px;
        font-size: 20px;
        position: relative;
        transition: 0.7s;
        span {
          display: none;
          box-sizing: border-box;
          font-size: 13px;
          font-weight: 700;
          padding: 2px 7px;

          width: 90px;
          height: 25px;
          background-color: $orange;
          position: absolute;
          top: -28px;
          left: -24px;
          border-radius: 4px;
          text-align: center;
        }

        a {
          color: $darkBrown;
        }
        &:hover {
          span {
            display: block;
            color: white;
          }
          &::after {
            content: "";
            display: block;
            width: 10px;
            height: 10px;
            position: absolute;
            transform: rotate(45deg);
            top: -8px;
            left: 6px;
            background-color: $orange;
          }
        }
      }
    }
  }
}

//weather
.weather {
  position: fixed;
  display: flex;
  width: 150px;
  bottom: 10px;
  right: 10px;
  padding: 7px 10px;
  background-color: #ff9a1f;
  border-radius: 10px;
  z-index: 3;
  opacity: 0.7;

  i {
    font-size: 2rem;
    text-align: center;
    line-height: 32px;
    margin: auto 10px auto 5px;
    color: white;
    animation: weatherAnim 10s infinite;
  }

  @keyframes weatherAnim {
    0% {
      opacity: 0;
      transform: rotate(90deg) translateY(-40%) scale(0.8);
    }
    50% {
      opacity: 1;
      transform: rotate(0deg);
    }
    100% {
      transform: translateY(0px) scale(1);
    }
  }

  ul {
    li {
      font-size: 14px;
      line-height: 14px;
      font-family: "Noto Sans KR";
      margin: 5px 0;
    }
  }
}

// Return to Top Button
.returnToTop {
  position: fixed;
  bottom: 10px;
  right: 190px;

  a {
    display: block;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    text-align: center;

    font-size: 1.2rem;

    i {
      color: $gray;
    }
  }
}

//section
.intro {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  div {
    position: relative;
    &:hover {
      opacity: 0.6;
      cursor: pointer;
      scale: 1.05;
      transition: 0.5s;

      & p {
        color: $darkOrange;
      }
    }

    img {
      width: calc(100vw / 3);
      height: 100vh;
    }
    p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: white;
      font-size: 3vh;
      font-weight: 500;
    }
  }
}

.contents.hide {
  display: none;
}
.contents {
  .mountainContent {
    .swiper {
      .swiper-wrapper {
        .swiper-slide {
          height: 70vh;
          overflow: hidden;
          img {
            width: 50vw;
            height: 70vh;
            &:hover {
              scale: 1.05;
              opacity: 0.6;
              transition: 0.5s;
            }
          }
        }
      }
    }
  }
  .seaContent {
    position: relative;

    .text {
      width: 90vw;
      margin-left: 5vw;
      height: 70vh;
      background-color: $gray;

      border: 1px solid black;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 2;
      .close {
        margin: 10px;
        float: right;
        width: 30px;
        height: 30px;

        border-radius: 50%;

        cursor: pointer;
        i {
          font-size: 30px;
        }
      }
    }
    .text.off {
      display: none;
    }

    .swiper {
      .swiper-wrapper {
        .swiper-slide {
          height: 70vh;
          overflow: hidden;
          img {
            width: 50vw;
            height: 70vh;
            &:hover {
              scale: 1.05;
              opacity: 0.6;
              transition: 0.5s;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
