//font
@import url("https://fonts.googleapis.com/css?family=Kirang+Haerang:400");
//Kirang Haerang
@import url("https://fonts.googleapis.com/css?family=Do+Hyeon:400");
//Do Hyeon
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
//font-family: 'Noto Sans KR', sans-serif;

//reset
@import "reset";

//color
$yellow: #f6d860;
$orange: #ff7f3f;
$darkOrange: #ea5c2b;
$green: #95cd41;

$lightGray: #ced8d6;
$gray: #626458;
$darkYellow: #cba55b;
$darkBrown: #5c3b16;

//font
$doHyeon: "Do Hyeon";
$kirangHaerang: "Kirang Haerang";
$notoSans: "Noto Sans KR";

body {
  // background-color: $yellow;
  font-family: "Noto Sans KR";
  line-height: 1.4;
}

//header
header {
  position: fixed;
  // opacity: 0.5;
  height: 100px;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  background-color: white;

  .title {
    color: #ea5c2b;
    font: 8vh "Kirang Haerang";
    text-shadow: 0px 3px 0 white;
    margin-left: 40px;
    height: 100px;
    line-height: 14vh;
  }
  .other-menu {
    ul {
      display: flex;
      position: absolute;
      top: 0;
      height: 100%;
      right: 10%;
      li {
        margin: auto 15px;
        font-size: 20px;
        position: relative;
        transition: 0.7s;
        span {
          display: none;
          box-sizing: border-box;
          font-size: 13px;
          font-weight: 700;
          padding: 2px 7px;

          width: 90px;
          height: 25px;
          background-color: $orange;
          position: absolute;
          top: -28px;
          left: -24px;
          border-radius: 4px;
          text-align: center;
        }

        a {
          color: $darkBrown;
        }
        &:hover {
          span {
            display: block;
            color: white;
          }
          &::after {
            content: "";
            display: block;
            width: 10px;
            height: 10px;
            position: absolute;
            transform: rotate(45deg);
            top: -8px;
            left: 6px;
            background-color: $orange;
          }
        }
      }
    }
  }
}

//weather
.weather {
  position: fixed;
  display: flex;
  width: 150px;
  bottom: 10px;
  right: 10px;
  padding: 7px 10px;
  background-color: #ff9a1f;
  border-radius: 10px;
  z-index: 3;
  opacity: 0.7;

  i {
    font-size: 2rem;
    text-align: center;
    line-height: 32px;
    margin: auto 10px auto 5px;
    color: white;
    animation: weatherAnim 10s infinite;
  }

  @keyframes weatherAnim {
    0% {
      opacity: 0;
      transform: rotate(90deg) translateY(-40%) scale(0.8);
    }
    50% {
      opacity: 1;
      transform: rotate(0deg);
    }
    100% {
      transform: translateY(0px) scale(1);
    }
  }

  ul {
    li {
      font-size: 14px;
      line-height: 14px;
      font-family: "Noto Sans KR";
      margin: 5px 0;
    }
  }
}

//section

.swiper {
  position: relative;
  width: 100vw;
  height: 100vh;

  .swiper-slide {
    // &:hover {
    //   transition: 0.5s;
    //   opacity: 0.5;
    //   & p {
    //     color: white;
    //     position: absolute;
    //     top: 50%;
    //     left: 50%;
    //     transform: translate(-50%, -50%);
    //     opacity: 1;
    //     transition: 0.5s;
    //   }
    // }
    .swiper-img {
      padding-top: 100px;
      height: 100%;
      width: 100%;
      cursor: pointer;
      box-shadow: 8px 4px 4px #888;
    }
    p {
      opacity: 0;
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 75vh;
    left: 0vw;
    width: 40px;
    height: 40px;

    color: black;
    // border: 1px solid black;
    //background-color: black;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
    &::after {
      font-size: 25px;
    }
  }
  .swiper-button-next {
    left: 3vw;
  }
}

//description
.description {
  //제주 곶자왈 도립공원
  .description-content1 {
    position: relative;
    width: 100vw;
    height: 100vh;
    img {
      position: absolute;
      &:nth-child(1) {
        width: 50vw;
        height: 50vh;

        left: 0;
      }
      &:nth-child(2) {
        width: 50vw;
        height: 50vh;
        left: 0;
        top: 50vh;
      }
      &:nth-child(3) {
        width: 50vw;
        height: 50vh;
        top: 0;
        left: 50vw;
      }
    }
    // .place {
    //   position: relative;
    //   margin-top: 100px;
    //   text-align: center;

    //   font-family: "Do Hyeon";
    //   font-size: 4vh;
    // }
    @keyframes contentAnim {
      0% {
        opacity: 0;
        transform: translateY(-40%) scale(0.8);
      }
      50% {
        opacity: 1;
        transform: rotate(0deg);
      }
      100% {
        transform: translateY(0px) scale(1);
      }
    }
    .place-content {
      // opacity: 0;
      // transition: 0.5s;
      position: absolute;
      right: 10%;
      bottom: 25%;
      .content-box {
        background-color: $green;
        font-family: $doHyeon;

        font-size: 4vh;
        // animation: contentAnim 5s infinite;
      }
    }
  }
  //색달해변
  .description-content2 {
    width: 100vw;
    height: 100vh;
    position: relative;

    img {
      &:nth-child(1) {
        position: absolute;
        width: 50vw;
        height: 50vh;
        top: 0;
        left: 0;
      }
      &:nth-child(2) {
        display: none;
        position: absolute;
        width: 50vw;
        height: 50vh;
        left: 0;
        top: 50vh;
      }
      &:nth-child(3) {
        position: absolute;
        width: 50vw;
        height: 50vh;
        left: 0;
        top: 50vh;
      }
    }
    .place {
      position: absolute;
      left: 5%;
      top: 5%;
      font-family: "Do Hyeon";
      font-size: 4vh;
    }
    .place-content {
      position: absolute;
      left: 10%;
      top: 15%;
    }
  }
  //성산일출봉
  .description-content3 {
    width: 100vw;
    height: 100vh;
    position: relative;
    img {
      &:nth-child(1) {
        position: absolute;
        width: 50vw;
        height: 50vh;
        top: 0;
        left: 0;
      }
      &:nth-child(2) {
        position: absolute;
        width: 50vw;
        height: 50vh;
        left: 0;
        top: 50vh;
      }
      &:nth-child(3) {
        position: absolute;
        width: 50vw;
        height: 50vh;
        left: 0;
        top: 50vh;
      }
    }
    .place {
      position: absolute;
      left: 5%;
      top: 5%;
      font-family: "Do Hyeon";
      font-size: 4vh;
    }
    .place-content {
      position: absolute;
      left: 10%;
      top: 8%;
    }
  }
  //카멜리아 힐
  .description-content4 {
    width: 100vw;
    height: 100vh;
    position: relative;
    img {
      &:nth-child(1) {
        position: absolute;
        width: 50vw;
        height: 50vh;
        top: 0;
        left: 0;
      }
      &:nth-child(2) {
        position: absolute;
        width: 50vw;
        height: 50vh;
        top: 50vh;
        left: 0;
      }
      &:nth-child(3) {
        position: absolute;
        width: 450px;
        height: 300px;
        left: 800px;
        top: 50px;
      }
    }
    .place {
      position: absolute;
      left: 5%;
      top: 5%;
      font-family: "Do Hyeon";
      font-size: 4vh;
    }
    .place-content {
      position: absolute;
      left: 10%;
      top: 8%;
    }
  }
  //쇠소깍
  .description-content5 {
    width: 100%;
    height: 100vh;
    position: relative;
    img {
      &:nth-child(1) {
        position: absolute;
        width: 50vw;
        height: 50vh;
        top: 0;
        left: 0;
      }
      &:nth-child(2) {
        position: absolute;
        width: 50vw;
        height: 50vh;
        top: 50vh;
        left: 0;
      }
    }
    .place {
      position: absolute;
      left: 5%;
      top: 5%;
      font-family: "Do Hyeon";
      font-size: 4vh;
    }
    .place-content {
      position: absolute;
      left: 10%;
      top: 8%;
    }
  }
}
