//font
@import url("https://fonts.googleapis.com/css?family=Kirang+Haerang:400");
//Kirang Haerang
@import url("https://fonts.googleapis.com/css?family=Do+Hyeon:400");
//Do Hyeon
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
//font-family: 'Noto Sans KR', sans-serif;

//reset
@import "reset";

//color
$yellow: #f6d860;
$orange: #ff7f3f;
$darkOrange: #ea5c2b;
$green: #95cd41;

body {
  background-color: $yellow;
  font-family: "Noto Sans KR";
  line-height: 1.4;
}

header {
  // background-color: yellow;
  position: relative;
  height: 100px;

  .title {
    //background-color: bisque;
    color: #ea5c2b;
    font: 8vh "Kirang Haerang";

    margin-left: 40px;
    height: 100px;
    line-height: 13vh;
  }
  .other-menu {
    ul {
      display: flex;
      position: absolute;
      bottom: 0;
      right: 10%;
      li {
        margin: 15px;
        font-size: 20px;
        a {
          color: black;
        }
      }
    }
  }
}

//날씨
.weather {
  font-family: "Do Hyeon";
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 2;
  // background-color: $green;
}

//내용 시작
.content {
  display: flex;
  height: 92vh;
}

.swiper {
  position: relative;
  width: 80vw;

  .swiper-slide {
    .swiper-content {
      margin-top: 10px;
      border-radius: 30px;
      height: 70%;
      width: 100%;
      cursor: pointer;
      box-shadow: 8px 4px 4px #888;
      &:hover {
        transition: 0.5s;
        opacity: 0.5;
      }
    }
    p {
      opacity: 0;
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      &:hover {
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 1;
      }
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 75vh;
    left: 0vw;
    width: 40px;
    height: 40px;

    color: black;
    // border: 1px solid black;
    //background-color: black;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
    &::after {
      font-size: 25px;
    }
  }
  .swiper-button-next {
    left: 3vw;
  }
}

//관광지 설명
.description {
  // font-family: "Noto Sans KR";
  // position: relative;
  // background-color: aqua;
  width: 100%;
  //제주 곶자왈 도립공원
  .description-content1 {
    position: relative;
    img {
      position: absolute;
      &:nth-child(1) {
        width: 35vw;
        height: 40vh;
        top: 12%;
        left: 10%;
      }
      &:nth-child(2) {
        width: 35vw;
        height: 40vh;
        left: 40%;
        top: 15%;
      }
      &:nth-child(3) {
        width: 35vw;
        height: 40vh;
        left: 15%;
        bottom: 8%;
      }
    }
    .place {
      position: absolute;
      left: 5%;
      top: 5%;
      font-family: "Do Hyeon";
      font-size: 4vh;
    }
    .place-content {
      position: absolute;
      right: 10%;
      top: 60%;
    }

    width: 100%;
    height: 100vh;
    border: 1px solid black;
  }
  //색달해변
  .description-content2 {
    width: 100%;
    height: 100vh;
    position: relative;
    border: 1px solid black;
    img {
      &:nth-child(1) {
        position: absolute;
        width: 35vw;
        height: 45vh;
        bottom: 15%;
        left: 10%;
      }
      &:nth-child(2) {
        display: none;
        position: absolute;
        width: 35vw;
        height: 45vh;
        right: 10%;
        top: 25%;
      }
      &:nth-child(3) {
        position: absolute;
        width: 35vw;
        height: 45vh;
        right: 15%;
        bottom: 15%;
      }
    }
    .place {
      position: absolute;
      left: 5%;
      top: 5%;
      font-family: "Do Hyeon";
      font-size: 4vh;
    }
    .place-content {
      position: absolute;
      left: 10%;
      top: 15%;
    }
  }
  //성산일출봉
  .description-content3 {
    border: 1px solid black;
    width: 100%;
    height: 100vh;
    position: relative;
    img {
      &:nth-child(1) {
        position: absolute;
        width: 450px;
        height: 300px;
        top: 25%;
        left: 5%;
      }
      &:nth-child(2) {
        position: absolute;
        width: 450px;
        height: 300px;
        left: 400px;
        top: 50px;
      }
      &:nth-child(3) {
        position: absolute;
        width: 450px;
        height: 300px;
        left: 30%;
        bottom: 8%;
      }
    }
    .place {
      position: absolute;
      left: 5%;
      top: 5%;
      font-family: "Do Hyeon";
      font-size: 4vh;
    }
    .place-content {
      position: absolute;
      left: 10%;
      top: 8%;
    }
  }
  //카멜리아 힐
  .description-content4 {
    border: 1px solid black;
    width: 100%;
    height: 100vh;
    position: relative;
    img {
      &:nth-child(1) {
        position: absolute;
        width: 450px;
        height: 300px;
        top: 25%;
        left: 5%;
      }
      &:nth-child(2) {
        position: absolute;
        width: 450px;
        height: 300px;
        left: 400px;
        top: 50px;
      }
      &:nth-child(3) {
        position: absolute;
        width: 450px;
        height: 300px;
        left: 800px;
        top: 50px;
      }
    }
    .place {
      position: absolute;
      left: 5%;
      top: 5%;
      font-family: "Do Hyeon";
      font-size: 4vh;
    }
    .place-content {
      position: absolute;
      left: 10%;
      top: 8%;
    }
  }
  //쇠소깍
  .description-content5 {
    border: 1px solid black;
    width: 100%;
    height: 100vh;
    position: relative;
    img {
      &:nth-child(1) {
        position: absolute;
        width: 450px;
        height: 300px;
        top: 150px;
        left: 50px;
      }
      &:nth-child(2) {
        position: absolute;
        width: 450px;
        height: 300px;
        left: 400px;
        top: 50px;
      }
    }
    .place {
      position: absolute;
      left: 5%;
      top: 5%;
      font-family: "Do Hyeon";
      font-size: 4vh;
    }
    .place-content {
      position: absolute;
      left: 10%;
      top: 8%;
    }
  }
}
