//font
@import url("https://fonts.googleapis.com/css?family=Kirang+Haerang:400");
//Kirang Haerang
@import url("https://fonts.googleapis.com/css?family=Do+Hyeon:400");
//Do Hyeon
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
//font-family: 'Noto Sans KR', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Merriweather+Sans:ital,wght@0,300;0,400;1,300;1,400;1,700&family=Mynerve&family=Rubik+Mono+One&display=swap");
//font-family: 'Rubik Mono One', sans-serif;
@font-face {
  font-family: "RIDIBatang";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "KOTRA_BOLD-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.1/KOTRA_BOLD-Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "KCCPakKyongni";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCCPakKyongni.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SF_HambakSnow";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

//reset
@import "../../css/reset";
//font
@import "../../css/font/font";

//color
$yellow: #f6d860;
$orange: #ff7f3f;
$darkOrange: #ea5c2b;
$green: #95cd41;

$lightGray: #ced8d6;
$gray: #626458;
$darkYellow: #cba55b;
$darkBrawn: #5c3b16;

$backgray: rgba(210, 227, 245, 0.188);
$backgray2: rgba(20, 20, 20, 0.831);
$backgray3: rgba(20, 20, 20, 0.481);

//font
$doHyeon: "Do Hyeon";
$kirangHaerang: "Kirang Haerang";
$notoSans: "Noto Sans KR";
$rubik: "Rubik Mono One", sans-serif;

body {
  font-family: $notoSans;
  line-height: 1.4;
  width: 100vw;
  //좌우 스크롤 방지
  overflow-x: hidden;
  cursor: none;
}
.cursor {
  background-image: url("../../source/cursor.png");
  background-size: contain;

  width: 45px;
  height: 45px;
  position: absolute;
  top: 0;
  left: 2px;
  z-index: 3;
}

//header
header {
  position: fixed;
  height: 100px;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100vw;
  background-color: transparent;

  .title {
    color: $darkBrawn;
    font-size: 36px;
    font-family: "OKDDUNG";
    text-shadow: 0px 3px 0 white;
    padding-left: 40px;
    height: 100px;
    line-height: 18vh;

    .title__logo {
      & > i:first-child {
        position: absolute;
        top: 0px;
        left: 147px;
        line-height: 18vh;
      }
      & > i:last-child {
        position: absolute;
        top: 14px;
        left: 148px;
        transform: rotate(-90deg) scale(0.4);
        line-height: 18vh;
      }
    }
  }
  .other-menu {
    ul {
      display: flex;
      position: absolute;
      top: 0;
      height: 100%;
      right: 40px;
      li {
        margin: auto 15px;
        font-size: 20px;
        position: relative;
        transition: 0.7s;
        span {
          display: none;
          box-sizing: border-box;
          font-size: 13px;
          font-weight: 700;
          padding: 2px 7px;

          width: 90px;
          height: 25px;
          background-color: $orange;
          position: absolute;
          top: -28px;
          left: -24px;
          border-radius: 4px;
          text-align: center;
        }

        a {
          color: $darkBrawn;
          &:hover {
            color: $yellow;
          }
        }
        &:hover {
          span {
            display: block;
            color: white;
          }
          &::after {
            content: "";
            display: block;
            width: 10px;
            height: 10px;
            position: absolute;
            transform: rotate(45deg);
            top: -8px;
            left: 6px;
            background-color: $orange;
          }
        }
      }
    }
  }
}

//weather
.weather {
  position: fixed;
  display: flex;
  width: 150px;
  bottom: 10px;
  right: 10px;
  padding: 7px 10px;
  background-color: #ff9a1f;
  border-radius: 10px;
  z-index: 3;
  opacity: 0.7;

  i {
    font-size: 2rem;
    text-align: center;
    line-height: 32px;
    margin: auto 10px auto 5px;
    color: white;
    animation: weatherAnim 10s infinite;
  }

  @keyframes weatherAnim {
    0% {
      opacity: 0;
      transform: rotate(90deg) translateY(-40%) scale(0.8);
    }
    50% {
      opacity: 1;
      transform: rotate(0deg);
    }
    100% {
      transform: translateY(0px) scale(1);
    }
  }

  ul {
    li {
      font-size: 14px;
      line-height: 14px;
      font-family: $notoSans;
      margin: 5px 0;
    }
  }
}

// Return to Top Button
.returnToTop {
  z-index: 4;
  position: fixed;
  bottom: 10px;
  right: 190px;

  a {
    display: block;
    width: 30px;
    height: 30px;
    background-color: $darkBrawn;
    border-radius: 50%;
    text-align: center;
    font-size: 1.2rem;

    span {
      width: 18px;
      height: 1.8px;
      display: block;
      border-radius: 4px;
      background-color: white;
      position: absolute;
      top: 6px;
      left: 6px;
    }

    i {
      position: absolute;
      top: 8px;
      left: 8px;
      color: white;
    }
  }
}

//section
.intro {
  display: flex;
  .introDiv {
    ul {
      height: 100vh;
      overflow: hidden;

      li {
        position: relative;
        overflow: hidden;
        &:hover {
          scale: 1.05;
          transition: 0.5s;
          opacity: 0.6;
          cursor: pointer;
          & p {
            color: $darkOrange;
          }
        }
        img {
          width: calc(100vw / 3);
          height: 100vh;
        }
        p {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          color: white;
          font-size: 5vh;
          font-weight: 500;
          font-family: "Rubik Mono One", sans-serif;
        }
      }
    }
  }
}

.contents.hide {
  display: none;
}
.contents {
  .mountainContent {
    ul {
      li {
        position: relative;
        width: 100vw;
        height: 100vh;
        img {
          width: 100vw;
          height: 100vh;
        }
        .type-h2-1,
        .type-h2-2,
        .type-h2-3 {
          // font-family: "SF_HambakSnow";
          font-size: 4rem;
          position: absolute;

          color: white;
          z-index: 3;
          font-weight: 700;
          text-shadow: 5px 5px 0 $backgray2;
        }
        .type-h2-1 {
          top: 13%;
          left: 33%;
        }
        .type-h2-2 {
          top: 15%;
          right: 10%;
          text-align: right;
        }
        .type-h2-3 {
          top: 50%;
          left: 15%;
        }

        .mountainText {
          position: absolute;
          top: 18%;
          left: 6%;

          font-size: 18px;
          background-color: $backgray2;
          color: white;
          line-height: 1.5;
          border-radius: 10px;
          padding: 50px 40px 40px;
          p {
            font-size: 1rem;
            text-align: right;
            font-weight: 200;
            color: $green;
            margin-right: 5px;
          }
        }

        .mountainText2 {
          position: absolute;
          top: 20%;
          right: 10%;
          border-radius: 10px;
          font-size: 18px;
          background-color: $backgray2;
          color: white;
          line-height: 1.5;
          padding: 50px 40px 40px;

          a {
            color: white;
            text-decoration: none;
            margin-left: 30px;
            padding: 5px 30px;
            border: 3px solid white;
            border-radius: 10px;
            &:hover {
              background-color: white;
              color: $gray;
              transition: 0.5s;
            }
          }

          .course-map {
            animation: blink 0.5s ease-in-out infinite alternate;
            padding: 5px 15px;
            color: black;
            border-radius: 10px;
            background-color: $yellow;
            font-size: 20px;
            float: left;
            margin-top: 20px;
            i {
              margin-right: 5px;
            }
            &:hover {
              cursor: pointer;
              color: $green;
              background-color: white;
              .park-map {
                display: block;
                transition: 0.7s;
              }
              animation: none;
            }
            .park-map {
              display: none;

              position: absolute;
              top: 0;
              right: 800px;

              img {
                width: 800px;
                height: 500px;
                border-radius: 20px;
              }
            }
          }
        }
        .mountainText3 {
          position: absolute;
          top: 55%;
          left: 10%;
          border-radius: 10px;
          font-size: 18px;
          background-color: $backgray2;
          color: white;
          line-height: 1.5;
          padding: 50px 40px 40px;
          .course-map {
            animation: blink 0.5s ease-in-out infinite alternate;
            padding: 5px 15px;
            color: black;
            border-radius: 10px;
            background-color: $yellow;
            font-size: 20px;
            float: right;
            i {
              margin-left: 10px;
            }
            &:hover {
              cursor: pointer;
              color: $green;
              background-color: white;
              .park-map {
                display: block;
                transition: 0.7s;
              }
              animation: none;
            }
            .park-map {
              display: none;

              position: absolute;
              bottom: -40px;
              right: -750px;

              img {
                width: 700px;
                height: 550px;
                border-radius: 20px;
              }
              p {
                text-align: right;
                color: white;
              }
            }
          }
        }
      }
    }
  }
  .seaContent {
    position: relative;
    overflow: hidden;
    .text.on {
      display: block;
      animation: appear 1s;
      animation-fill-mode: forwards;
    }
    .text {
      .text-map {
        margin-top: 60px;
        position: absolute;
        right: 35px;
        width: 50vh;
        height: 50vh;
        background-color: $lightGray;
        box-shadow: 7px 10px 11px rgba(0, 0, 0, 0.262);

        p {
          text-align: left;
          margin-top: 35px;
          margin-left: 25px;
          font-size: 18px;
        }
        .sea-map {
          iframe {
            width: 400px;
            height: 32vh;
            margin-top: 30px;
            margin-left: calc((50vh - 400px) / 2);
          }
        }
      }

      ul {
        margin-left: 20px;
        width: 60vw;
        display: flex;

        li {
          margin-top: 60px;
          margin-bottom: 20px;
          margin-left: 5px;
          img {
            width: 30vw;
            height: 40vh;
          }
        }
      }
      p {
        text-align: center;
      }
      h1 {
        font-family: "RIDIBatang";
        text-align: left;
        margin-left: 25px;
        font-size: 3vh;
        font-weight: 700;
        width: calc(60vw + 5px);
      }
      .sea-text {
        margin-top: 5px;
        margin-left: 25px;
      }

      margin-top: 20vh;
      width: 90vw;
      margin-left: 5vw;
      height: 68vh;
      background-color: white;
      box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.485);
      transition: 0.5s;

      // border-radius: 30px;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 2;
      .close {
        margin: 10px;
        float: right;
        width: 30px;
        height: 30px;

        border-radius: 50%;

        cursor: pointer;
        i {
          font-size: 30px;
        }
      }
    }
    .text.off {
      display: none;
    }

    .swiper {
      background-color: $lightGray;
      .swiper-wrapper {
        .swiper-slide.swiper-slide-active {
          transition: 0.5s;
          opacity: 1;
        }
        .swiper-slide {
          box-sizing: border-box;
          opacity: 0.5;
          position: relative;
          border: 30px solid white;
          border-bottom: 80px solid white;
          box-shadow: 9px 10px 12px rgba(0, 0, 0, 0.2);
          height: 100vh;
          overflow: hidden;
          &:hover {
            scale: 1.03;
            opacity: 0.6;

            transition: 0.5s;
            cursor: pointer;
            & p {
              opacity: 1;
              transition: 0.5s;
            }
          }
          img {
            width: 50vw;
            height: 100vh;
          }
          p {
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: black;
            font-size: 3vh;
            font-weight: 500;
          }
        }
      }
    }
    .swiper-button-prev,
    .swiper-button-next {
      position: absolute;
      top: 50%;
      color: black;
    }
    .swiper-button-next {
      right: 50px;
    }
    .swiper-button-prev {
      left: 50px;
    }
    .swiper-button-next::after,
    .swiper-button-prev::after {
      font-size: 6vh;
    }
  }
  .museumContent {
    height: 80vh;
    position: relative;

    .museumTitle {
      text-align: center;
      padding-top: 200px;
      margin-left: 50vw;
      width: 50vw;
      height: 65vh;
      background-color: #cba55b;
      color: white;
      font-size: 40px;
      font-family: $rubik;
    }

    .flip-box {
      position: absolute;
      border-radius: 50%;
      width: 220px;
      height: 220px;
      perspective: 1000px;
      // background-color: $orange;
      &:hover {
        .flip {
          transform: rotateY(-180deg);
          cursor: pointer;
        }
      }

      .flip {
        width: 100%;
        height: 100%;
        position: relative;
        color: white;
        text-align: center;
        transform-style: preserve-3d;
        transform: rotateY(0deg);
        transition: 0.5s;

        .teddyImg,
        .teddyBack {
          width: 100%;
          height: 100%;
          backface-visibility: hidden;
          position: absolute;
        }
        .teddyImg {
          border-radius: 50%;
        }
        .teddyBack {
          border-radius: 50%;
          background-color: $orange;
          transform: rotateY(180deg);
          p {
            color: black;
            position: absolute;
            width: 220px;
            height: 220px;
            padding-top: 95px;
            margin: auto;

            line-height: 1.5;
          }
          h1 {
            color: black;
            font-size: 4vh;
            position: absolute;
            top: 10%;
            left: 50%;
            transform: translate(-50%, 0);
            line-height: 1.8;
          }
        }
      }
    }
    & .flip-box:nth-child(4) {
      position: absolute;
      top: 40%;
      right: 20%;
    }
    & .flip-box:nth-child(3) {
      position: absolute;
      top: 40%;
      right: calc(50vw - 110px);
    }
    & .flip-box:nth-child(2) {
      position: absolute;
      top: 40%;
      left: 20%;
    }
    .teddyMore {
      text-align: center;
      font-size: 1vw;

      width: 100vw;
      height: 10vh;

      background-color: $gray;
      ul {
        display: flex;
        justify-content: center;

        li {
          margin-left: 20px;
          line-height: 10vh;

          a {
            color: white;
            text-decoration: none;
            margin-left: 30px;
            padding: 5px 30px;
            border: 3px solid white;
            border-radius: 10px;
            animation: blink 0.5s ease-in-out infinite alternate;
            &:hover {
              background-color: white;
              color: $gray;
              transition: 0.5s;
              animation: none;
            }
          }
        }
      }
    }
  }
  //museum2
  .museumContent2 {
    .museumTitle2 {
      margin-top: 200px;
      margin-bottom: 20px;
      text-align: center;
      font-family: $rubik;
      font-size: 40px;
    }
    .arte {
      width: 100vw;
      height: 80vh;
      display: flex;

      .arteImg1 {
        width: calc(100vw / 3);
        background-size: cover;
        background-image: url("../image/arte.png");
      }
      .arteImg2 {
        width: calc(100vw / 3);
        background-size: cover;
        background-image: url("../image/arte3.jpg");
      }
      .arteImg3 {
        background-size: cover;
        width: calc(100vw / 3);
        background-image: url("../image/arte2.png");
      }
    }
    .detail-flow {
      height: 10vh;
      line-height: 10vh;
      font-size: 20px;
      font-weight: 400;
      position: relative;
      width: 100%;
      max-width: 100%;
      padding: 5px 0;
      overflow-x: hidden;
      overflow-y: hidden;
      .track {
        width: 100%;

        white-space: nowrap;
        will-change: transform;
        animation: flow 10s linear infinite;
        .flow-content {
          width: 100%;
        }
      }
    }
  }
}

//animation
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

//글자가 흐르도록 하는 애니메이션
@keyframes flow {
  from {
    transform: translateX(0);
  }
  to {
    transform: translate(-50%);
  }
}

//깜빡이는 애니메이션
@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
