@import "../../css/reset";
@import "../../css/font/font";

//font-family: 'Kirang Haerang';
//font-family: 'Do Hyeon';
//font-family: 'Noto Sans KR', sans-serif;

// Variable
// Color
$yellow: #f6d860;
$orange: #ff7f3f;
$darkOrange: #ea5c2b;
$green: #95cd41;

$lightGray: #ced8d6;
$gray: #626458;
$darkYellow: #cba55b;
$darkBrawn: #5c3b16;

// Font
$logo-txt: "Kirang Haerang";
$title-txt: "Do Hyeon";
$content-txt: "Noto Sans KR", sans-serif;
// Layout
$primary-border: 1px solid #ddd;

// Common
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Noto Sans KR", sans-serif;
  line-height: 1.4;
}

.bar {
  width: 15vw;
  height: 2px;
  background-color: $darkBrawn;
  margin: auto;
}

.point {
  position: absolute;
  top: 60px;
  left: 50%;
  z-index: 0;
  width: 20vw;
  height: 10px;
  background-color: #ffeda4;
}

.redChar {
  color: #ff6c65;
}

.d-On {
  display: block;
}
.d-Off {
  display: none;
}
.opacity-On {
  opacity: 1;
}
.opacity-Off {
  opacity: 0;
}
.height-0 {
  height: 0;
}
.height-100 {
  height: 100%;
}

.strong {
  font-weight: 700;
}

.cursor {
  background-image: url("../source/cursor.png");
  background-size: contain;

  width: 45px;
  height: 45px;
  position: absolute;
  top: 0;
  left: 2px;
  z-index: 3;
}

// 애니메이션
.bounce-out-down {
  animation: bounce-out-down 2s ease infinite;
}
@keyframes bounce-out-down {
  0% { transform: translateY(0); }
  20% {
    opacity: 1;
    transform: translateY(-20px);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

.shake {
  animation: shake 7s ease infinite;
}
@keyframes shake {
	0%, 100% {transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
	20%, 40%, 60%, 80% {transform: translateX(10px);}
}

.gelatine {
  animation: gelatine 0.5s infinite;
}
@keyframes gelatine {
  from, to { transform: scale(1, 1); }
  25% { transform: scale(0.9, 1.1); }
  50% { transform: scale(1.1, 0.9); }
  75% { transform: scale(0.95, 1.05); }
}

.bounce {
  animation: bounce 3s ease infinite;
}
@keyframes bounce {
    70% { transform:translateY(0%); }
    80% { transform:translateY(-15%); }
    90% { transform:translateY(0%); }
    95% { transform:translateY(-7%); }
    97% { transform:translateY(0%); }
    99% { transform:translateY(-3%); }
    100% { transform:translateY(0); }
}

.hithere {
  animation: hithere 2s ease infinite;
}
@keyframes hithere {
  30% { transform: scale(1.2); }
  40%, 60% { transform: rotate(-20deg) scale(1.2); }
  50% { transform: rotate(20deg) scale(1.2); }
  70% { transform: rotate(0deg) scale(1.2); }
  100% { transform: scale(1); }
}

// Header
header {
  position: fixed;
  height: 100px;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  background-color: transparent;

  .title {
    color: $darkBrawn;
    font-size: 36px;
    font-family: "OKDDUNG";
    text-shadow: 0px 3px 0 white;
    padding-left: 40px;
    height: 100px;
    line-height: 18vh;

    .title__logo {
      & > i:first-child {
        position: absolute;
        top: 0px;
        left: 147px;
        line-height: 18vh;
      }
      & > i:last-child {
        position: absolute;
        top: 14px;
        left: 148px;
        transform: rotate(-90deg) scale(0.4);
        line-height: 18vh;
      }
    }
  }
  .other-menu {
    ul {
      display: flex;
      position: absolute;
      top: 0;
      right: 40px;
      height: 100%;

      li {
        position: relative;
        margin: auto 15px;
        font-size: 20px;
        transition: 0.7s;

        span {
          display: none;
          box-sizing: border-box;
          font-size: 13px;
          font-weight: 700;
          padding: 2px 7px;

          width: 70px;
          height: 25px;
          background-color: $orange;
          position: absolute;
          top: -28px;
          left: -24px;
          border-radius: 4px;
          text-align: center;
        }

        a {
          color: $darkBrawn;

          //메뉴가 일정 이상 내려가면 색이 바뀌는 클래스 추가
          &.changeColor {
            color: $darkBrawn;
            &:hover {
              color: $darkOrange;
            }
          }
          &:hover {
            color: $yellow;
          }
        }

        &:hover {
          span {
            display: block;
            color: white;
          }
          &::after {
            content: "";
            display: block;
            width: 10px;
            height: 10px;
            position: absolute;
            transform: rotate(45deg);
            top: -8px;
            left: 6px;
            background-color: $orange;
          }
        }
      }
    }
  }
}

// Fixed Weather
.weather {
  position: fixed;
  display: flex;
  width: 150px;
  bottom: 10px;
  right: 10px;
  padding: 7px 10px;
  background-color: #ff9a1f;
  border-radius: 10px;
  z-index: 3;
  opacity: 0.7;

  i {
    font-size: 2rem;
    text-align: center;
    line-height: 32px;
    margin: auto 12px auto 9px;
    color: white;
    animation: weatherAnim 10s infinite;
  }

  @keyframes weatherAnim {
    0% {
      opacity: 0;
      transform: rotate(90deg) translateY(-40%) scale(0.8);
    }
    50% {
      opacity: 1;
      transform: rotate(0deg);
    }
    100% {
      transform: translateY(0px) scale(1);
    }
  }

  ul {
    li {
      font-size: 14px;
      line-height: 14px;
      font-family: $content-txt;
      margin: 5px 0;
    }
  }
}

// Return to Top Button
.returnToTop {
  position: fixed;
  bottom: 10px;
  right: 190px;

  a {
    display: block;
    width: 30px;
    height: 30px;
    background-color: $darkBrawn;
    border-radius: 50%;
    text-align: center;

    font-size: 1.2rem;

    &.changeColor {
      background-color: $darkOrange;

      i {
        color: white;
      }
      span {
        background-color: white;
      }
    }

    span {
      width: 18px;
      height: 1.8px;
      display: block;
      border-radius: 4px;
      background-color: white;
      position: absolute;
      top: 6px;
      left: 6px;
    }

    i {
      position: absolute;
      top: 8px;
      left: 8px;
      color: white;
    }
  }
}

// Emergency Situation
.emgSituation {
  width: 100vw;
  height: 670px;
  padding: 22vh 0 30px 0;
  position: relative;
  overflow: hidden;

  .title {
    position: relative;
    width: 70vw;
    margin: 20px auto;
    padding: 5px;

    .title__icon {
      position: absolute;
      z-index: 1;
      width: 110px;
      height: 95px;

      top: 5px;
      right: -13px;
    }
    .icon__ambulance {
      background-image: url("../source/icon/ambulance.png");
      background-size: cover;
      transform: rotateY(180deg);
      animation: ambulence 9s infinite;
    }
    .icon__siren {
      background-image: url("../source/icon/siren.png");
      background-size: cover;
      width: 34px;
      height: 34px;

      top: -46px;
      right: 41%;
      animation: h2Animation 5s;

      &::before,
      &::after {
        content: "";
        display: block;
        position: relative;
        top: -4px;
        z-index: -1;
        width: 20px;
        height: 14px;
        border-radius: 50%;
        background-color: #ea5c2b;
        animation: siren 2.5s infinite;
      }
      &::after {
        width: 14px;
        height: 9px;
        top: -15px;
        animation-delay: 0.3s;
      }
    }

    .icon__plus {
      background-image: url("../source/icon/add.png");
      background-size: cover;
      width: 220px;
      height: 220px;
      top: -45px;
      left: -30px;
      z-index: -1;
      transform: rotate(-10deg);
      opacity: 0.4;
    }

    @keyframes ambulence {
      0% {
        transform: rotateY(180deg) scale(1.01, 1.01) translateX(-600%)
          translateY(0px);
      }
      50% {
        transform: rotateY(180deg) scaleY(1.03) translateX(0) translateY(1px);
      }
      100% {
        z-index: 0;
        transform: rotateY(180deg) scale(1, 1) translateX(1400%) translateY(3px);
      }
    }

    @keyframes siren {
      0% {
        border-radius: 40%;
      }
      25% {
        transform: translate(36px, 0px) rotate(-3deg);
      }
      50% {
        border-radius: 50%;
        transform: translate(-12px, -3px) rotate(0deg) scale(0.6);
      }
      100% {
      }
    }

    h2 {
      position: absolute;
      font-size: 2rem;
      font-weight: 700;
      text-align: center;
      box-sizing: content-box;
      margin: -20px auto 3px auto;
      width: 17vw;
      background-color: #f6d860;
      box-shadow: 1px 1px 1px $gray;
      animation: h2Animation 2s;
      transition: 0.4s;

      &:nth-child(3) {
        top: -5px;
        left: 23%;
        transform: rotate(5deg);
      }
      &:nth-child(5) {
        top: 6px;
        right: 24%;
        animation: h2Animation 2s;
        animation-delay: 0.1s;
        animation-duration: 4s;
      }
    }

    @keyframes h2Animation {
      0% {
        opacity: 0;
        transform: rotate(2deg) translateY(-200px);
      }
      50% {
        opacity: 1;
        transform: rotate(5deg) translateY(-2px);
      }
      100% {
        transform: rotate(1deg) translate(0);
      }
    }

    p {
      margin-top: 45px;
      text-align: center;
      position: relative;
      z-index: 0;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 9px;
        left: 31%;
        z-index: -1;
        width: 31vw;
        height: 14px;
        background-color: #ffeda4;
      }
      &::after {
        top: 32px;
        left: 22%;
      }
    }
  }

  .swiper-container {
    position: relative;
    right: 0;
    width: 100vw;
    height: 535px;
    margin: 0 auto;
    overflow: hidden;

    .swiper-wrapper {
      border: $primary-border;
      width: 450px;

      .swiper-slide {
        width: 350px;
        height: 500px;
        background-color: white;
        border: 1px solid $yellow;
        margin: 15px auto;
        transition: 0.6s;
        opacity: 0.6;
        left: 0;
        right: 0;

        span {
          display: block;
          position: absolute;
          top: 10px;
          background-color: #1e95e9;
          color: white;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          text-align: center;
          margin-left: 15px;
          font-weight: 700;
          font-size: 1.2rem;
          font-family: "Noto Sans KR", sans-serif;
        }
        img {
          display: block;
          width: 66%;
          position: absolute;
          top: 30px;
          left: 50%;
          transform: translateX(-50%);
        }
        p {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 30px;
          height: 60px;
          background-color: #ffeda4;
          font-size: 16px;
          padding: 15px 16px 20px 25px;
          line-height: 1.3;
        }

        &.swiper-slide-active {
          transform: scale(1.02);
          opacity: 1;
          z-index: 1;
        }
      }
    }
  }
  .swiper-pagination {
    position: absolute;
    bottom: 0px;
    right: 0;
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-image: url("../source/icon/add.png");
    background-color: transparent;
    background-size: contain;
  }

  .swiper-pagination-bullet-active {
    width: 16px;
    height: 16px;
    background-image: url("../source/icon/add.png");
    background-color: transparent;
    background-size: contain;
    transform: translateY(2px);
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }

  .swiper-button-prev,
  .swiper-button-next {
    top: calc(50% + 50px);
    font-size: 2.8rem;
    color: $darkOrange;
    opacity: 0.8;
    z-index: 2;
  }

  .swiper-button-prev {
    left: 20%;
  }
  .swiper-button-next {
    right: 20%;
  }
}

// Jeju island Map
.map {
  margin-top: 50px;
  position: relative;
  width: 100vw;
  height: 690px;
  background: linear-gradient(30deg, #60bbec, #1e95e9);

  .map__bg {
    position: relative;
    left: 0;

    .bubble {
      position: absolute;
      border-radius: 45%;
      background: rgba(45, 188, 255, 0.8);
      animation: move 3s infinite linear;
    }

    .bubble__bg-1 {
      width: 78px;
      height: 82px;
      top: 125px;
      left: 90px;
    }

    .bubble__bg-2 {
      width: 297px;
      height: 299px;
      top: 308px;
      right: 348px;
      border-radius: 43%;
      animation: move 5s infinite linear;
    }

    .bubble__bg-3 {
      width: 160px;
      height: 168px;
      top: 126px;
      left: 108px;
      background: rgba(6, 135, 195, 0.8);
    }

    .bubble__bg-4 {
      width: 186px;
      height: 192px;
      top: 424px;
      right: 579px;
      background: rgba(6, 135, 195, 0.8);
    }
  }

  @keyframes move {
    100% {
      transform: rotate(360deg);
    }
  }

  .title__container {
    position: absolute;
    z-index: 1;
    top : 77px;
    left: 20%;
    background-color: #f6d860;
    width: 535px;
    height: 47px;
      
    transform: skewY(-4deg);

    &::after {
      content: "";
      display: block;
      background-image: url('../source/icon/sosIcon.png');
      background-size: cover;
      width: 50px;
      height: 50px;
      position: absolute;
      bottom : 45px;
      left: 145px;
      z-index: -1;
    }

    h2.title {
      margin-left: 15px;
      text-align: center;
      font-size: 3.5rem;
      font-family: 'OKDDUNG';
  
      position: absolute;
      bottom : 0px;
      left: -26px;

      color : white;
      text-shadow: 7px 7px 0 $darkBrawn;
  
      &::first-letter {
        color : $green;
      }
    }
  }
  

  .map__image {
    width: 730px;
    position: relative;
    top : 76px;
    left: 76px;

    img {
      width: 100%;
      display: block;
      filter: grayscale(15%) drop-shadow(2px 2px 4px $gray);
    }
    .map__pin {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;

      li {
        position: absolute;
        transition: 0.7s ease-in-out;

        span {
          color: white;
          font-weight: 500;
          display: block;
          position: absolute;
          width: 100px;
        }
        i {
          font-size: 32px;
          color: $darkOrange;
          margin-bottom: 10px;
        }

        a {
          text-decoration: none;
          color: black;
          transition: 0.5s;
        }

        &:first-child {
          top: 32%;
          left: 43%;
        
          span {
            top :18px;
            left: 24px;
          }
        }
        &:nth-child(2) {
          top: 27%;
          left: 32%;

          span {
            top: 6px;
            left: -95px;
          }
        }
        &:nth-child(3) {
          top: 22%;
          left: 38%;

          span {
            top : -15px;
            left: -3px;
          }

          i {
            margin-top: 10px;
          }
        }
        &:nth-child(4) {
          top: 24%;
          left: 44%;

          span {
            top : 12px;
            left: 25px;
          }
        }
        &:last-child {
          bottom: 24%;
          left: 43%;
        
          span {
            top : 4px;
            left: -99px;
          }
        }

        &:hover {
          i {
            color: $darkBrawn;
            transform: scale(1.2) translateY(-2px);
          }

          span {
            font-weight: 700;
            text-shadow: 1px 1px 1px $gray;
          }
        }
      }
    }
  }

  .map__icons {
    position: relative;
    bottom: 481px;
    left: -259px;
    width: 100%;

    & > div {
      position: absolute;
      background-repeat: no-repeat;
      background-size: cover;
      width: 60px;
      height: 60px;
    }

    .icon__mountain {
      background-image: url("../source/icon/mountain.png");
      right: 50%;
      transform: translate(30%, 200px);
    }
    .icon__surf {
      background-image: url("../source/icon/surfing.png");
      width: 40px;
      height: 40px;
      top: 0px;
      right: 28%;
    }
    .icon__shark {
      background-image: url("../source/icon/shark.png");
      top: 400px;
      right: 33%;
    }
    .icon__boat {
      background-image: url("../source/icon/speed-boat.png");
      top: 112px;
      left: 24%;
    }
  }
}

article.hospital-details {
  width: 45vw;
  position: absolute;
  top: 143px;
  right: 70px;
  z-index: 1;

  .nav-bar {
    width: 100%;
    height: 42px;
    background-color: rgba(72, 72, 72, 0.9215686275);
    position: relative;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    li {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: #ff6c65;
      position: absolute;
      top: 13px;
      cursor: pointer;
    }
    li:first-child {
      left: 10px;
    }

    li:nth-child(2) {
      background-color: #f6d860;
      left: 30px;
    }

    li:nth-child(3) {
      left: 52px;
      background-color: #95cd41;
    }

    li:nth-child(4) {
      background-color: transparent;
      top: 8px;
      right: 8px;

      i {
        font-size: 14px;
        text-align: center;
        line-height: 10px;
        color: white;
        transition: 0.3s;
      }
    }
  }

  .detail-bar {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: rgba(255, 255, 255, 0.852);
    padding-bottom: 19px;

    li {
      margin: 0 0 0 25px;
      padding: 14px 0 0 5%;
      font-size: 1.2rem;
      width: 35vw;
      display: flex;
      cursor: pointer;

      &.title::after {
        content: "";
        display: block;
        width: 50%;
        height: .3px;
        box-shadow: 0 .3px 0 $gray;
        position: absolute;
        top : 98px;
      }

      &#map {
        width: 60%;
        height: 200px;
        margin: 10px auto 0 auto;
      }

      .image-container {
        width: 40px;
        height: 40px;
        background-color: white;
        border-radius: 5px;
        transition: 0.7s;
        position: relative;

        img {
          display: block;
          width: 30px;
          height: 30px;
          margin: auto;
          padding-top: 5px;
          position: absolute;
          right: 3px;
        }
      }

      p {
        line-height: 2.4rem;
        margin-left: 30px;
        width: 80%;
        transform: translateX(0);
        transition: 0.7s;

        a {
          color: black;
          text-decoration: none;
        }
      }
    }

    li:nth-child(3)  {
      &:hover {
        text-decoration: underline;
      }

      &:hover .image-container {
        background-color: #95cd41;
      }

      img {
        width: 33px;
        height: 33px;
        padding-top: 2px;
      }
    }

    li:nth-child(4) {
      &:hover .image-container {
        background-color: #ea5c2b;
        img {
          padding-left: 2px;
        }
      }

    } 

    li:hover .image-container {
      width: 20%;
    }

    li:hover .image-container img {
      right: 3px;
    }

    li:hover p {
      transform: translateX(-7%);

      a {
        color: black;

      }
    }

    li:first-child {
      font-size: 1.8rem;
      font-weight: 700;
      margin-left: 35px;
      padding-top: 15px;
    }
  }
} 


// Footer
footer {
  width: 100vw;

  background-color: #363730;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  img {

    height: 40px;
    background-size: cover;
    background-color: white;
    margin-right: 30px;
  }

  ul {
    li {
      color: white;
      font-weight: 100;
      font-size: 12px;
      font-style: italic;
      font-family: 'Noto Sans', sans-serif;
      letter-spacing: 1px;
    }
  }
}