@import url("https://fonts.googleapis.com/css?family=Kirang+Haerang:400");
@import url("https://fonts.googleapis.com/css?family=Do+Hyeon:400");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital@0;1&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "LOTTERIACHAB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OKDDUNG";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/OKDDUNG.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Noto Sans KR", sans-serif;
  line-height: 1.4;
}

.bar {
  width: 15vw;
  height: 2px;
  background-color: #5c3b16;
  margin: auto;
}

.point {
  position: absolute;
  top: 60px;
  left: 50%;
  z-index: 0;
  width: 20vw;
  height: 10px;
  background-color: #ffeda4;
}

.cursor {
  background-image: url("../source/cursor.png");
  background-size: contain;
  width: 45px;
  height: 45px;
  position: absolute;
  top: 0;
  left: 2px;
  z-index: 3;
}

header {
  position: fixed;
  height: 100px;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  background-color: transparent;
}
header .title {
  color: #5c3b16;
  font-size: 36px;
  font-family: "OKDDUNG";
  text-shadow: 0px 3px 0 white;
  padding-left: 40px;
  height: 100px;
  line-height: 18vh;
}
header .title .title__logo > i:first-child {
  position: absolute;
  top: 0px;
  left: 147px;
  line-height: 18vh;
}
header .title .title__logo > i:last-child {
  position: absolute;
  top: 14px;
  left: 148px;
  transform: rotate(-90deg) scale(0.4);
  line-height: 18vh;
}
header .other-menu ul {
  display: flex;
  position: absolute;
  top: 0;
  right: 40px;
  height: 100%;
}
header .other-menu ul li {
  position: relative;
  margin: auto 15px;
  font-size: 20px;
  transition: 0.7s;
}
header .other-menu ul li span {
  display: none;
  box-sizing: border-box;
  font-size: 13px;
  font-weight: 700;
  padding: 2px 7px;
  width: 70px;
  height: 25px;
  background-color: #ff7f3f;
  position: absolute;
  top: -28px;
  left: -24px;
  border-radius: 4px;
  text-align: center;
}
header .other-menu ul li a {
  color: white;
}
header .other-menu ul li a.changeColor {
  color: #5c3b16;
}
header .other-menu ul li a.changeColor:hover {
  color: #ea5c2b;
}
header .other-menu ul li a:hover {
  color: #f6d860;
}
header .other-menu ul li:hover span {
  display: block;
  color: white;
}
header .other-menu ul li:hover::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  transform: rotate(45deg);
  top: -8px;
  left: 6px;
  background-color: #ff7f3f;
}

.weather {
  position: fixed;
  display: flex;
  width: 150px;
  bottom: 10px;
  right: 10px;
  padding: 7px 10px;
  background-color: #ff9a1f;
  border-radius: 10px;
  z-index: 3;
  opacity: 0.7;
}
.weather i {
  font-size: 2rem;
  text-align: center;
  line-height: 32px;
  margin: auto 12px auto 9px;
  color: white;
  animation: weatherAnim 10s infinite;
}
@keyframes weatherAnim {
  0% {
    opacity: 0;
    transform: rotate(90deg) translateY(-40%) scale(0.8);
  }
  50% {
    opacity: 1;
    transform: rotate(0deg);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}
.weather ul li {
  font-size: 14px;
  line-height: 14px;
  font-family: "Noto Sans KR", sans-serif;
  margin: 5px 0;
}

.returnToTop {
  position: fixed;
  bottom: 10px;
  right: 190px;
}
.returnToTop a {
  display: block;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  text-align: center;
  font-size: 1.2rem;
}
.returnToTop a.changeColor {
  background-color: #ea5c2b;
}
.returnToTop a.changeColor i {
  color: white;
}
.returnToTop a.changeColor span {
  background-color: white;
}
.returnToTop a span {
  width: 18px;
  height: 1.8px;
  display: block;
  border-radius: 4px;
  background-color: #626458;
  position: absolute;
  top: 6px;
  left: 6px;
}
.returnToTop a i {
  position: absolute;
  top: 8px;
  left: 8px;
  color: #626458;
}

.emgSituation {
  width: 100vw;
  height: 670px;
  padding: 22vh 0 30px 0;
  position: relative;
}
.emgSituation .title {
  position: relative;
  width: 70vw;
  margin: 20px auto;
  padding: 5px;
}
.emgSituation .title .title__icon {
  position: absolute;
  z-index: 1;
  width: 110px;
  height: 95px;
  top: 5px;
  right: -13px;
}
.emgSituation .title .icon__ambulance {
  background-image: url("../source/icon/ambulance.png");
  background-size: cover;
  transform: rotateY(180deg);
  animation: ambulence 9s infinite;
}
.emgSituation .title .icon__siren {
  background-image: url("../source/icon/siren.png");
  background-size: cover;
  width: 34px;
  height: 34px;
  top: -46px;
  right: 41%;
  animation: h2Animation 5s;
}
.emgSituation .title .icon__siren::before, .emgSituation .title .icon__siren::after {
  content: "";
  display: block;
  position: relative;
  top: -4px;
  z-index: -1;
  width: 20px;
  height: 14px;
  border-radius: 50%;
  background-color: #ea5c2b;
  animation: siren 2.5s infinite;
}
.emgSituation .title .icon__siren::after {
  width: 14px;
  height: 9px;
  top: -15px;
  animation-delay: 0.3s;
}
.emgSituation .title .icon__plus {
  background-image: url("../source/icon/add.png");
  background-size: cover;
  width: 220px;
  height: 220px;
  top: -45px;
  left: -30px;
  z-index: -1;
  transform: rotate(-10deg);
  opacity: 0.4;
}
@keyframes ambulence {
  0% {
    transform: rotateY(180deg) scale(1.01, 1.01) translateX(-300%) translateY(0px);
  }
  50% {
    transform: rotateY(180deg) scaleY(1.03) translateX(0) translateY(1px);
  }
  100% {
    z-index: 0;
    transform: rotateY(180deg) scale(1, 1) translateX(1000%) translateY(3px);
  }
}
@keyframes siren {
  0% {
    border-radius: 40%;
  }
  25% {
    transform: translate(36px, 0px) rotate(-3deg);
  }
  50% {
    border-radius: 50%;
    transform: translate(-12px, -3px) rotate(0deg) scale(0.6);
  }
}
.emgSituation .title h2 {
  position: absolute;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  box-sizing: content-box;
  margin: -20px auto 3px auto;
  width: 17vw;
  background-color: #f6d860;
  box-shadow: 1px 1px 1px #626458;
  animation: h2Animation 2s;
  transition: 0.4s;
}
.emgSituation .title h2:nth-child(3) {
  top: -5px;
  left: 23%;
  transform: rotate(5deg);
}
.emgSituation .title h2:nth-child(5) {
  top: 6px;
  right: 24%;
  animation: h2Animation 2s;
  animation-delay: 0.1s;
  animation-duration: 4s;
}
@keyframes h2Animation {
  0% {
    opacity: 0;
    transform: rotate(2deg) translateY(-200px);
  }
  50% {
    opacity: 1;
    transform: rotate(5deg) translateY(-2px);
  }
  100% {
    transform: rotate(1deg) translate(0);
  }
}
.emgSituation .title p {
  margin-top: 45px;
  text-align: center;
  position: relative;
  z-index: 0;
}
.emgSituation .title p::before, .emgSituation .title p::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 31%;
  z-index: -1;
  width: 31vw;
  height: 14px;
  background-color: #ffeda4;
}
.emgSituation .title p::after {
  top: 32px;
  left: 22%;
}
.emgSituation .swiper-container {
  position: relative;
  right: 0;
  width: 90vw;
  height: 535px;
  margin: 0 auto;
  overflow: hidden;
}
.emgSituation .swiper-container .swiper-wrapper {
  border: 1px solid #ddd;
  width: 450px;
}
.emgSituation .swiper-container .swiper-wrapper .swiper-slide {
  width: 350px;
  height: 500px;
  background-color: white;
  border: 1px solid #f6d860;
  margin: 15px auto;
  transition: 0.6s;
  opacity: 0.6;
  left: 0;
  right: 0;
}
.emgSituation .swiper-container .swiper-wrapper .swiper-slide span {
  display: block;
  position: absolute;
  top: 10px;
  background-color: #1e95e9;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  margin-left: 15px;
  font-weight: 700;
  font-size: 1.2rem;
  font-family: "Noto Sans KR", sans-serif;
}
.emgSituation .swiper-container .swiper-wrapper .swiper-slide img {
  display: block;
  width: 83%;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}
.emgSituation .swiper-container .swiper-wrapper .swiper-slide p {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
  height: 60px;
  background-color: #ffeda4;
  font-size: 16px;
  padding: 15px 16px 20px 25px;
  line-height: 1.3;
}
.emgSituation .swiper-container .swiper-wrapper .swiper-slide.swiper-slide-active {
  transform: scale(1.05);
  opacity: 1;
  z-index: 1;
}
.emgSituation .swiper-pagination {
  position: absolute;
  bottom: 5px;
  right: 0;
}
.emgSituation .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-image: url("../source/icon/add.png");
  background-color: transparent;
  background-size: contain;
}
.emgSituation .swiper-pagination-bullet-active {
  width: 16px;
  height: 16px;
  background-image: url("../source/icon/add.png");
  background-color: transparent;
  background-size: contain;
  transform: translateY(2px);
}
.emgSituation .swiper-button-next::after,
.emgSituation .swiper-button-prev::after {
  display: none;
}
.emgSituation .swiper-button-prev,
.emgSituation .swiper-button-next {
  top: calc(50% + 50px);
  font-size: 2.8rem;
  color: #ea5c2b;
  opacity: 0.8;
  z-index: 2;
}
.emgSituation .swiper-button-prev {
  left: 20%;
}
.emgSituation .swiper-button-next {
  right: 20%;
}

.map {
  position: relative;
  width: 100vw;
  height: 570px;
  background: linear-gradient(30deg, #60bbec, #1e95e9);
}
.map .map__bg {
  position: relative;
}
.map .map__bg .bubble {
  position: absolute;
  border-radius: 45%;
  background: rgba(45, 188, 255, 0.8);
  animation: move 3s infinite linear;
}
.map .map__bg .bubble__bg-1 {
  width: 78px;
  height: 82px;
  top: 125px;
  left: 90px;
}
.map .map__bg .bubble__bg-2 {
  width: 297px;
  height: 301px;
  top: 168px;
  right: 200px;
  border-radius: 43%;
  animation: move 5s infinite linear;
}
.map .map__bg .bubble__bg-3 {
  width: 160px;
  height: 168px;
  top: 126px;
  left: 108px;
  background: rgba(6, 135, 195, 0.8);
}
.map .map__bg .bubble__bg-4 {
  width: 173px;
  height: 179px;
  top: 30px;
  right: 215px;
  background: rgba(6, 135, 195, 0.8);
}
@keyframes move {
  100% {
    transform: rotate(360deg);
  }
}
.map .map__image {
  width: 600px;
  position: relative;
  margin: auto;
}
.map .map__image img {
  width: 100%;
  display: block;
  filter: grayscale(15%) drop-shadow(2px 2px 0px #626458);
}
.map .map__image .map__pin {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.map .map__image .map__pin li {
  position: absolute;
  transition: 0.7s ease-in-out;
}
.map .map__image .map__pin li span {
  color: white;
  font-weight: 500;
}
.map .map__image .map__pin li i {
  font-size: 20px;
  color: #ea5c2b;
}
.map .map__image .map__pin li a {
  text-decoration: none;
  color: black;
  transition: 0.5s;
}
.map .map__image .map__pin li:first-child {
  top: 33%;
  left: 28%;
  text-align: center;
}
.map .map__image .map__pin li:nth-child(2) {
  top: 28%;
  left: 9%;
}
.map .map__image .map__pin li:nth-child(3) {
  top: 20%;
  left: 28%;
  text-align: center;
}
.map .map__image .map__pin li:nth-child(4) {
  top: 25%;
  left: 45%;
}
.map .map__image .map__pin li:last-child {
  bottom: 20%;
  left: 29%;
  text-align: center;
}
.map .map__image .map__pin li:hover i {
  color: #5c3b16;
  transform: scale(1.2) translateY(-2px);
}
.map .map__image .map__pin li:hover span {
  font-weight: 700;
  text-shadow: 1px 1px 1px #626458;
}
.map .map__icons {
  position: relative;
  top: -500px;
  left: 0;
  width: 100%;
}
.map .map__icons > div {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  width: 60px;
  height: 60px;
}
.map .map__icons .icon__mountain {
  background-image: url("../source/icon/mountain.png");
  right: 50%;
  transform: translate(30%, 200px);
}
.map .map__icons .icon__surf {
  background-image: url("../source/icon/surfing.png");
  width: 40px;
  height: 40px;
  top: 50px;
  right: 20%;
  animation: slowly 4s infinite;
}
.map .map__icons .icon__shark {
  background-image: url("../source/icon/shark.png");
  top: 400px;
  right: 25%;
  animation: slowly 3s infinite;
}
.map .map__icons .icon__boat {
  background-image: url("../source/icon/speed-boat.png");
  top: 150px;
  left: 11%;
  animation: slowly 3s infinite;
}
@keyframes slowly {
  0% {
    transform: scale(0.97) rotate(1deg);
  }
  50% {
    transform: scale(0.95) rotate(3deg);
  }
  100% {
    transform: scale(1.01) rotate(-2deg);
  }
}

.hospital-1 {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  padding: 90px 0;
  height: 460px;
}
.hospital-1 .hospital__bg {
  width: 100vw;
  height: 720px;
  position: absolute;
  top: -70px;
  z-index: -1;
  background-image: url("../source/image/shotBg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  background-attachment: fixed;
  opacity: 0.7;
}
.hospital-1 img {
  border: 9px solid white;
  border-bottom: 40px solid white;
  box-shadow: 9px 10px 12px rgba(0, 0, 0, 0.2);
}
.hospital-1 .hospital__image {
  position: relative;
  display: block;
  transform: scale(0.9);
  filter: blur(0.5px) grayscale(100%) contrast(105%);
  transition: 0.6s;
}
.hospital-1 .hospital__image:hover {
  transform: scale(1);
  filter: grayscale(10%);
}
.hospital-1 .title {
  margin-right: 15px;
}
.hospital-1 .title .title__bg {
  position: absolute;
  width: 58vw;
  height: 20px;
  top: 125px;
  right: 0;
  background-color: #626458;
}
.hospital-1 .title .title__bg h2 {
  position: absolute;
  color: white;
  left: 0;
  top: -30px;
  font-size: 2rem;
  line-height: 1;
  font-weight: 700;
  padding: 7px 17px 7px 7px;
  text-shadow: -2px 0 #626458, 0 2px #626458, 2px 0 #626458, 0 -2px #626458;
}
.hospital-1 .title ul {
  width: 25vw;
  margin-top: 90px;
}
.hospital-1 .title ul .item {
  position: relative;
  margin-bottom: 7px;
  padding: 3px;
  background-color: white;
  border-radius: 3px;
}
.hospital-1 .title ul .item a {
  color: white;
  display: inline-block;
  width: 28px;
  height: 28px;
  background-color: #626458;
  border-radius: 50%;
  text-align: center;
  line-height: 28px;
}
.hospital-1 .title ul .item:hover a {
  background-color: #5c3b16;
}
.hospital-1 .title ul .item > span {
  display: inline-block;
  transition: 0.6s;
  transform: translateX(-10px);
  opacity: 0;
  margin-left: 5px;
}
.hospital-1 .title ul .item:first-child:hover span {
  opacity: 1;
  transform: translateX(0px);
}
.hospital-1 .title ul .item i {
  font-size: 1.1rem;
}
.hospital-1 .title ul .item .item__location {
  transition: 0.6s;
  width: 86%;
  height: 0px;
  margin: 0 auto;
}
.hospital-1 .title ul .item .item__location .location {
  width: 100%;
  height: 0;
  background-color: #ddd;
}
.hospital-1 .title ul .item .item__location > p {
  height: 0;
  font-size: 0px;
  text-align: center;
}
.hospital-1 .title ul .item:nth-child(2):hover .item__location {
  height: 250px;
  padding: 7px 0;
}
.hospital-1 .title ul .item:nth-child(2):hover .item__location .location {
  height: 90%;
}
.hospital-1 .title ul .item:nth-child(2):hover .item__location > p {
  margin-top: 5px;
  font-size: 14px;
  height: 10%;
}
.hospital-1 .title ul .item i.fa-chevron-down {
  color: #5c3b16;
  position: absolute;
  top: 8px;
  right: 8px;
}

.hospital-2 {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  padding: 70px 0;
  height: 460px;
  top: 10px;
}
.hospital-2 .hospital__bg {
  width: 100vw;
  height: 600px;
  position: absolute;
  top: 0px;
  z-index: -1;
  background-image: url("../source/image/ambulanceBg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  transform: rotateY(180deg);
  background-color: #626458;
  opacity: 0.9;
}
.hospital-2 .hospital__image {
  background-image: url("../source/image/hanlaEmg3.jpeg");
  background-size: cover;
  width: 450px;
  border: 9px solid white;
  border-bottom: 40px solid white;
  box-shadow: 9px 10px 12px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 8%;
  border-bottom-right-radius: 18%;
  filter: blur(0.5px) grayscale(100%) contrast(100%);
  overflow: hidden;
}
.hospital-2 .hospital__image .shine {
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 2;
  display: block;
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  transform: skewX(-25deg);
}
.hospital-2 .hospital__image:hover {
  transform: scale(1);
  filter: grayscale(10%);
}
.hospital-2 .hospital__image:hover .shine {
  animation: shine 3s;
}
@keyframes shine {
  50% {
    left: 125%;
  }
  100% {
    left: -125%;
  }
}
.hospital-2 .title {
  margin-right: 15px;
}
.hospital-2 .title .title__bg {
  position: absolute;
  z-index: 1;
  width: 58vw;
  height: 20px;
  top: 125px;
  left: 0;
  background-color: #5c3b16;
}
.hospital-2 .title .title__bg h2 {
  position: absolute;
  color: white;
  right: 0;
  top: -30px;
  font-size: 2rem;
  line-height: 1;
  font-weight: 700;
  padding: 7px 17px 7px 7px;
  text-shadow: -2px 0 #5c3b16, 0 2px #5c3b16, 2px 0 #5c3b16, 0 -2px #5c3b16;
}
.hospital-2 .title ul {
  width: 25vw;
  margin-top: 110px;
}
.hospital-2 .title ul .item {
  position: relative;
  margin-bottom: 7px;
  padding: 3px;
  background-color: white;
  border-radius: 3px;
}
.hospital-2 .title ul .item a {
  color: white;
  display: inline-block;
  width: 28px;
  height: 28px;
  background-color: #5c3b16;
  border-radius: 50%;
  text-align: center;
  line-height: 28px;
}
.hospital-2 .title ul .item:hover a {
  background-color: white;
  color: #5c3b16;
}
.hospital-2 .title ul .item > span {
  display: inline-block;
  transition: 0.6s;
  transform: translateX(-10px);
  opacity: 0;
  margin-left: 5px;
}
.hospital-2 .title ul .item:first-child:hover span {
  opacity: 1;
  transform: translateX(0px);
}
.hospital-2 .title ul .item i {
  font-size: 1.1rem;
}
.hospital-2 .title ul .item .item__location {
  transition: 0.6s;
  width: 86%;
  height: 0px;
  margin: 0 auto;
}
.hospital-2 .title ul .item .item__location .location {
  width: 100%;
  height: 0;
  background-color: #ddd;
}
.hospital-2 .title ul .item .item__location > p {
  height: 0;
  font-size: 0px;
  text-align: center;
}
.hospital-2 .title ul .item:nth-child(2):hover .item__location {
  height: 250px;
  padding: 7px 0;
}
.hospital-2 .title ul .item:nth-child(2):hover .item__location .location {
  height: 90%;
}
.hospital-2 .title ul .item:nth-child(2):hover .item__location > p {
  margin-top: 5px;
  font-size: 14px;
  height: 10%;
}
.hospital-2 .title ul .item i.fa-chevron-down {
  color: #5c3b16;
  position: absolute;
  top: 8px;
  right: 8px;
}/*# sourceMappingURL=emergency.css.map */