@import url("https://fonts.googleapis.com/css?family=Kirang+Haerang:400");
@import url("https://fonts.googleapis.com/css?family=Do+Hyeon:400");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Merriweather+Sans:ital,wght@0,300;0,400;1,300;1,400;1,700&family=Mynerve&family=Rubik+Mono+One&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "LOTTERIACHAB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OKDDUNG";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/OKDDUNG.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NeoDunggeunmoPro-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  line-height: 1.4;
}

.bar {
  width: 15vw;
  height: 2px;
  background-color: #5c3b16;
  margin: auto;
}

.point {
  position: absolute;
  top: 60px;
  left: 50%;
  z-index: 0;
  width: 20vw;
  height: 10px;
  background-color: #ffeda4;
}

.redChar {
  color: #ff6c65;
}

.d-On {
  display: block;
}

.d-Off {
  display: none;
}

.opacity-On {
  opacity: 1;
}

.opacity-Off {
  opacity: 0;
}

.height-0 {
  height: 0;
}

.height-100 {
  height: 100%;
}

.strong {
  font-weight: 700;
}

.cursor {
  background-image: url("../source/cursor.png");
  background-size: contain;
  width: 45px;
  height: 45px;
  position: absolute;
  top: 0;
  left: 2px;
  z-index: 3;
}

.bounce-out-down {
  animation: bounce-out-down 2s ease infinite;
}

@keyframes bounce-out-down {
  0% {
    transform: translateY(0);
  }
  20% {
    opacity: 1;
    transform: translateY(-20px);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}
.shake {
  animation: shake 7s ease infinite;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}
.gelatine {
  animation: gelatine 0.5s infinite;
}

@keyframes gelatine {
  from, to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}
.bounce {
  animation: bounce 3s ease infinite;
}

@keyframes bounce {
  70% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(-15%);
  }
  90% {
    transform: translateY(0%);
  }
  95% {
    transform: translateY(-7%);
  }
  97% {
    transform: translateY(0%);
  }
  99% {
    transform: translateY(-3%);
  }
  100% {
    transform: translateY(0);
  }
}
.hithere {
  animation: hithere 2s ease infinite;
}

@keyframes hithere {
  30% {
    transform: scale(1.2);
  }
  40%, 60% {
    transform: rotate(-20deg) scale(1.2);
  }
  50% {
    transform: rotate(20deg) scale(1.2);
  }
  70% {
    transform: rotate(0deg) scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
header {
  position: fixed;
  height: 100px;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  background-color: transparent;
}
header .title {
  color: #5c3b16;
  font-size: 36px;
  font-family: "OKDDUNG";
  text-shadow: 0px 3px 0 white;
  padding-left: 40px;
  height: 100px;
  line-height: 18vh;
}
header .title .title__logo > i:first-child {
  position: absolute;
  top: 0px;
  left: 147px;
  line-height: 18vh;
}
header .title .title__logo > i:last-child {
  position: absolute;
  top: 14px;
  left: 148px;
  transform: rotate(-90deg) scale(0.4);
  line-height: 18vh;
}
header .other-menu ul {
  display: flex;
  position: absolute;
  top: 0;
  right: 40px;
  height: 100%;
}
header .other-menu ul li {
  position: relative;
  margin: auto 15px;
  font-size: 20px;
  transition: 0.7s;
}
header .other-menu ul li span {
  display: none;
  box-sizing: border-box;
  font-size: 13px;
  font-weight: 700;
  padding: 2px 7px;
  width: 70px;
  height: 25px;
  background-color: #ff7f3f;
  position: absolute;
  top: -28px;
  left: -24px;
  border-radius: 4px;
  text-align: center;
}
header .other-menu ul li a {
  color: #5c3b16;
}
header .other-menu ul li a.changeColor {
  color: #5c3b16;
}
header .other-menu ul li a.changeColor:hover {
  color: #ea5c2b;
}
header .other-menu ul li a:hover {
  color: #f6d860;
}
header .other-menu ul li:hover span {
  display: block;
  color: white;
}
header .other-menu ul li:hover::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  transform: rotate(45deg);
  top: -8px;
  left: 6px;
  background-color: #ff7f3f;
}

.weather {
  position: fixed;
  display: flex;
  width: 150px;
  bottom: 10px;
  right: 10px;
  padding: 7px 10px;
  background-color: #ff9a1f;
  border-radius: 10px;
  z-index: 3;
  opacity: 0.7;
}
.weather i {
  font-size: 2rem;
  text-align: center;
  line-height: 32px;
  margin: auto 12px auto 9px;
  color: white;
  animation: weatherAnim 10s infinite;
}
@keyframes weatherAnim {
  0% {
    opacity: 0;
    transform: rotate(90deg) translateY(-40%) scale(0.8);
  }
  50% {
    opacity: 1;
    transform: rotate(0deg);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}
.weather ul li {
  font-size: 14px;
  line-height: 14px;
  font-family: "Noto Sans KR", sans-serif;
  margin: 5px 0;
}

.returnToTop {
  position: fixed;
  bottom: 10px;
  right: 190px;
}
.returnToTop a {
  display: block;
  width: 30px;
  height: 30px;
  background-color: #5c3b16;
  border-radius: 50%;
  text-align: center;
  font-size: 1.2rem;
}
.returnToTop a.changeColor {
  background-color: #ea5c2b;
}
.returnToTop a.changeColor i {
  color: white;
}
.returnToTop a.changeColor span {
  background-color: white;
}
.returnToTop a span {
  width: 18px;
  height: 1.8px;
  display: block;
  border-radius: 4px;
  background-color: white;
  position: absolute;
  top: 6px;
  left: 6px;
}
.returnToTop a i {
  position: absolute;
  top: 8px;
  left: 8px;
  color: white;
}

.emgSituation {
  width: 100vw;
  height: 670px;
  padding: 22vh 0 30px 0;
  position: relative;
  overflow: hidden;
}
.emgSituation .title {
  position: relative;
  width: 70vw;
  margin: 20px auto;
  padding: 5px;
}
.emgSituation .title .title__icon {
  position: absolute;
  z-index: 1;
  width: 110px;
  height: 95px;
  top: 5px;
  right: -13px;
}
.emgSituation .title .icon__ambulance {
  background-image: url("../source/icon/ambulance.png");
  background-size: cover;
  transform: rotateY(180deg);
  animation: ambulence 9s infinite;
}
.emgSituation .title .icon__siren {
  background-image: url("../source/icon/siren.png");
  background-size: cover;
  width: 34px;
  height: 34px;
  top: -46px;
  right: 41%;
  animation: h2Animation 5s;
}
.emgSituation .title .icon__siren::before, .emgSituation .title .icon__siren::after {
  content: "";
  display: block;
  position: relative;
  top: -4px;
  z-index: -1;
  width: 20px;
  height: 14px;
  border-radius: 50%;
  background-color: #ea5c2b;
  animation: siren 2.5s infinite;
}
.emgSituation .title .icon__siren::after {
  width: 14px;
  height: 9px;
  top: -15px;
  animation-delay: 0.3s;
}
.emgSituation .title .icon__plus {
  background-image: url("../source/icon/add.png");
  background-size: cover;
  width: 220px;
  height: 220px;
  top: -45px;
  left: -30px;
  z-index: -1;
  transform: rotate(-10deg);
  opacity: 0.4;
}
@keyframes ambulence {
  0% {
    transform: rotateY(180deg) scale(1.01, 1.01) translateX(-600%) translateY(0px);
  }
  50% {
    transform: rotateY(180deg) scaleY(1.03) translateX(0) translateY(1px);
  }
  100% {
    z-index: 0;
    transform: rotateY(180deg) scale(1, 1) translateX(1400%) translateY(3px);
  }
}
@keyframes siren {
  0% {
    border-radius: 40%;
  }
  25% {
    transform: translate(36px, 0px) rotate(-3deg);
  }
  50% {
    border-radius: 50%;
    transform: translate(-12px, -3px) rotate(0deg) scale(0.6);
  }
}
.emgSituation .title h2 {
  position: absolute;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  box-sizing: content-box;
  margin: -20px auto 3px auto;
  width: 17vw;
  background-color: #f6d860;
  box-shadow: 1px 1px 1px #626458;
  animation: h2Animation 2s;
  transition: 0.4s;
}
.emgSituation .title h2:nth-child(3) {
  top: -5px;
  left: 23%;
  transform: rotate(5deg);
}
.emgSituation .title h2:nth-child(5) {
  top: 6px;
  right: 24%;
  animation: h2Animation 2s;
  animation-delay: 0.1s;
  animation-duration: 4s;
}
@keyframes h2Animation {
  0% {
    opacity: 0;
    transform: rotate(2deg) translateY(-200px);
  }
  50% {
    opacity: 1;
    transform: rotate(5deg) translateY(-2px);
  }
  100% {
    transform: rotate(1deg) translate(0);
  }
}
.emgSituation .title p {
  margin-top: 45px;
  text-align: center;
  position: relative;
  z-index: 0;
}
.emgSituation .title p::before, .emgSituation .title p::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 31%;
  z-index: -1;
  width: 31vw;
  height: 14px;
  background-color: #ffeda4;
}
.emgSituation .title p::after {
  top: 32px;
  left: 22%;
}
.emgSituation .swiper-container {
  position: relative;
  right: 0;
  width: 100vw;
  height: 535px;
  margin: 0 auto;
  overflow: hidden;
}
.emgSituation .swiper-container .swiper-wrapper {
  border: 1px solid #ddd;
  width: 450px;
}
.emgSituation .swiper-container .swiper-wrapper .swiper-slide {
  width: 350px;
  height: 500px;
  background-color: white;
  border: 1px solid #f6d860;
  margin: 15px auto;
  transition: 0.6s;
  opacity: 0.6;
  left: 0;
  right: 0;
}
.emgSituation .swiper-container .swiper-wrapper .swiper-slide span {
  display: block;
  position: absolute;
  top: 10px;
  background-color: #1e95e9;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  margin-left: 15px;
  font-weight: 700;
  font-size: 1.2rem;
  font-family: "Noto Sans KR", sans-serif;
}
.emgSituation .swiper-container .swiper-wrapper .swiper-slide img {
  display: block;
  width: 66%;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}
.emgSituation .swiper-container .swiper-wrapper .swiper-slide p {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
  height: 60px;
  background-color: #ffeda4;
  font-size: 16px;
  padding: 15px 16px 20px 25px;
  line-height: 1.3;
}
.emgSituation .swiper-container .swiper-wrapper .swiper-slide.swiper-slide-active {
  transform: scale(1.02);
  opacity: 1;
  z-index: 1;
}
.emgSituation .swiper-pagination {
  position: absolute;
  bottom: 0px;
  right: 0;
}
.emgSituation .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-image: url("../source/icon/add.png");
  background-color: transparent;
  background-size: contain;
}
.emgSituation .swiper-pagination-bullet-active {
  width: 16px;
  height: 16px;
  background-image: url("../source/icon/add.png");
  background-color: transparent;
  background-size: contain;
  transform: translateY(2px);
}
.emgSituation .swiper-button-next::after,
.emgSituation .swiper-button-prev::after {
  display: none;
}
.emgSituation .swiper-button-prev,
.emgSituation .swiper-button-next {
  top: calc(50% + 50px);
  font-size: 2.8rem;
  color: #ea5c2b;
  opacity: 0.8;
  z-index: 2;
}
.emgSituation .swiper-button-prev {
  left: 20%;
}
.emgSituation .swiper-button-next {
  right: 20%;
}

.map {
  margin-top: 50px;
  position: relative;
  width: 100vw;
  height: 690px;
  background: linear-gradient(30deg, #60bbec, #1e95e9);
}
.map .map__bg {
  position: relative;
  left: 0;
}
.map .map__bg .bubble {
  position: absolute;
  border-radius: 45%;
  background: rgba(45, 188, 255, 0.8);
  animation: move 3s infinite linear;
}
.map .map__bg .bubble__bg-1 {
  width: 78px;
  height: 82px;
  top: 125px;
  left: 90px;
}
.map .map__bg .bubble__bg-2 {
  width: 297px;
  height: 299px;
  top: 308px;
  right: 348px;
  border-radius: 43%;
  animation: move 5s infinite linear;
}
.map .map__bg .bubble__bg-3 {
  width: 160px;
  height: 168px;
  top: 126px;
  left: 108px;
  background: rgba(6, 135, 195, 0.8);
}
.map .map__bg .bubble__bg-4 {
  width: 186px;
  height: 192px;
  top: 424px;
  right: 579px;
  background: rgba(6, 135, 195, 0.8);
}
@keyframes move {
  100% {
    transform: rotate(360deg);
  }
}
.map .title__container {
  position: absolute;
  z-index: 1;
  top: 77px;
  left: 20%;
  background-color: #f6d860;
  width: 535px;
  height: 47px;
  transform: skewY(-4deg);
}
.map .title__container::after {
  content: "";
  display: block;
  background-image: url("../source/icon/sosIcon.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 45px;
  left: 145px;
  z-index: -1;
}
.map .title__container h2.title {
  margin-left: 15px;
  text-align: center;
  font-size: 3.5rem;
  font-family: "OKDDUNG";
  position: absolute;
  bottom: 0px;
  left: -26px;
  color: white;
  text-shadow: 7px 7px 0 #5c3b16;
}
.map .title__container h2.title::first-letter {
  color: #95cd41;
}
.map .map__image {
  width: 730px;
  position: relative;
  top: 76px;
  left: 76px;
}
.map .map__image img {
  width: 100%;
  display: block;
  filter: grayscale(15%) drop-shadow(2px 2px 4px #626458);
}
.map .map__image .map__pin {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.map .map__image .map__pin li {
  position: absolute;
  transition: 0.7s ease-in-out;
}
.map .map__image .map__pin li span {
  color: white;
  font-weight: 500;
  display: block;
  position: absolute;
  width: 100px;
}
.map .map__image .map__pin li i {
  font-size: 32px;
  color: #ea5c2b;
  margin-bottom: 10px;
}
.map .map__image .map__pin li a {
  text-decoration: none;
  color: black;
  transition: 0.5s;
}
.map .map__image .map__pin li:first-child {
  top: 32%;
  left: 43%;
}
.map .map__image .map__pin li:first-child span {
  top: 18px;
  left: 24px;
}
.map .map__image .map__pin li:nth-child(2) {
  top: 27%;
  left: 32%;
}
.map .map__image .map__pin li:nth-child(2) span {
  top: 6px;
  left: -95px;
}
.map .map__image .map__pin li:nth-child(3) {
  top: 22%;
  left: 38%;
}
.map .map__image .map__pin li:nth-child(3) span {
  top: -15px;
  left: -3px;
}
.map .map__image .map__pin li:nth-child(3) i {
  margin-top: 10px;
}
.map .map__image .map__pin li:nth-child(4) {
  top: 24%;
  left: 44%;
}
.map .map__image .map__pin li:nth-child(4) span {
  top: 12px;
  left: 25px;
}
.map .map__image .map__pin li:last-child {
  bottom: 24%;
  left: 43%;
}
.map .map__image .map__pin li:last-child span {
  top: 4px;
  left: -99px;
}
.map .map__image .map__pin li:hover i {
  color: #5c3b16;
  transform: scale(1.2) translateY(-2px);
}
.map .map__image .map__pin li:hover span {
  font-weight: 700;
  text-shadow: 1px 1px 1px #626458;
}
.map .map__icons {
  position: relative;
  bottom: 481px;
  left: -259px;
  width: 100%;
}
.map .map__icons > div {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  width: 60px;
  height: 60px;
}
.map .map__icons .icon__mountain {
  background-image: url("../source/icon/mountain.png");
  right: 50%;
  transform: translate(30%, 200px);
}
.map .map__icons .icon__surf {
  background-image: url("../source/icon/surfing.png");
  width: 40px;
  height: 40px;
  top: 0px;
  right: 28%;
}
.map .map__icons .icon__shark {
  background-image: url("../source/icon/shark.png");
  top: 400px;
  right: 33%;
}
.map .map__icons .icon__boat {
  background-image: url("../source/icon/speed-boat.png");
  top: 112px;
  left: 24%;
}

article.hospital-details {
  width: 45vw;
  position: absolute;
  top: 143px;
  right: 70px;
  z-index: 1;
}
article.hospital-details .nav-bar {
  width: 100%;
  height: 42px;
  background-color: rgba(72, 72, 72, 0.9215686275);
  position: relative;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
article.hospital-details .nav-bar li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ff6c65;
  position: absolute;
  top: 13px;
  cursor: pointer;
}
article.hospital-details .nav-bar li:first-child {
  left: 10px;
}
article.hospital-details .nav-bar li:nth-child(2) {
  background-color: #f6d860;
  left: 30px;
}
article.hospital-details .nav-bar li:nth-child(3) {
  left: 52px;
  background-color: #95cd41;
}
article.hospital-details .nav-bar li:nth-child(4) {
  background-color: transparent;
  top: 8px;
  right: 8px;
}
article.hospital-details .nav-bar li:nth-child(4) i {
  font-size: 14px;
  text-align: center;
  line-height: 10px;
  color: white;
  transition: 0.3s;
}
article.hospital-details .detail-bar {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: rgba(255, 255, 255, 0.852);
  padding-bottom: 19px;
}
article.hospital-details .detail-bar li {
  margin: 0 0 0 25px;
  padding: 14px 0 0 5%;
  font-size: 1.2rem;
  width: 35vw;
  display: flex;
  cursor: pointer;
}
article.hospital-details .detail-bar li.title::after {
  content: "";
  display: block;
  width: 50%;
  height: 0.3px;
  box-shadow: 0 0.3px 0 #626458;
  position: absolute;
  top: 98px;
}
article.hospital-details .detail-bar li#map {
  width: 60%;
  height: 200px;
  margin: 10px auto 0 auto;
}
article.hospital-details .detail-bar li .image-container {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 5px;
  transition: 0.7s;
  position: relative;
}
article.hospital-details .detail-bar li .image-container img {
  display: block;
  width: 30px;
  height: 30px;
  margin: auto;
  padding-top: 5px;
  position: absolute;
  right: 3px;
}
article.hospital-details .detail-bar li p {
  line-height: 2.4rem;
  margin-left: 30px;
  width: 80%;
  transform: translateX(0);
  transition: 0.7s;
}
article.hospital-details .detail-bar li p a {
  color: black;
  text-decoration: none;
}
article.hospital-details .detail-bar li:nth-child(3):hover {
  text-decoration: underline;
}
article.hospital-details .detail-bar li:nth-child(3):hover .image-container {
  background-color: #95cd41;
}
article.hospital-details .detail-bar li:nth-child(3) img {
  width: 33px;
  height: 33px;
  padding-top: 2px;
}
article.hospital-details .detail-bar li:nth-child(4):hover .image-container {
  background-color: #ea5c2b;
}
article.hospital-details .detail-bar li:nth-child(4):hover .image-container img {
  padding-left: 2px;
}
article.hospital-details .detail-bar li:hover .image-container {
  width: 20%;
}
article.hospital-details .detail-bar li:hover .image-container img {
  right: 3px;
}
article.hospital-details .detail-bar li:hover p {
  transform: translateX(-7%);
}
article.hospital-details .detail-bar li:hover p a {
  color: black;
}
article.hospital-details .detail-bar li:first-child {
  font-size: 1.8rem;
  font-weight: 700;
  margin-left: 35px;
  padding-top: 15px;
}

footer {
  width: 100vw;
  background-color: #363730;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer img {
  height: 40px;
  background-size: cover;
  background-color: white;
  margin-right: 30px;
}
footer ul li {
  color: white;
  font-weight: 100;
  font-size: 12px;
  font-style: italic;
  font-family: "Noto Sans", sans-serif;
  letter-spacing: 1px;
}/*# sourceMappingURL=emergency.css.map */