/**$yellow: #f6d860;
$orange: #ff7f3f;
$darkOrange: #ea5c2b;
$green: #95cd41; */
@import url("https://fonts.googleapis.com/css?family=Do+Hyeon:400");
/* font-family : 'Do Hyeon'  */
@import url("https://fonts.googleapis.com/css2?family=Mynerve&display=swap");
/* font-family: 'Mynerve', cursive; */

* {
  /* transition-duration: 0.2s; */
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
}

header {
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: transparent;
}
header .title {
  display: flex;
  align-items: center;
  color: #ea5c2b;
  font: 8vh "Kirang Haerang";
  text-shadow: 0px 3px 0 white;
  padding-left: 40px;

  height: 100px;
  line-height: 18vh;
}
header .other-menu ul {
  display: flex;
  position: absolute;
  top: 0;
  right: 10%;
  height: 100%;
}
header .other-menu ul li {
  position: relative;
  margin: auto 15px;
  font-size: 20px;
  transition: 0.7s;
}
header .other-menu ul li span {
  display: none;
  box-sizing: border-box;
  font-size: 13px;
  font-weight: 700;
  padding: 2px 7px;
  width: 70px;
  height: 25px;
  background-color: #ff7f3f;
  position: absolute;
  top: -28px;
  left: -24px;
  border-radius: 4px;
  text-align: center;
}
header .other-menu ul li a {
  color: #5c3b16;
}
header .other-menu ul li:hover span {
  display: block;
  color: white;
}
header .other-menu ul li:hover::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  transform: rotate(45deg);
  top: -8px;
  left: 6px;
  background-color: #ff7f3f;
}

.weather {
  position: fixed;
  display: flex;
  width: 150px;
  bottom: 10px;
  right: 10px;
  padding: 7px 10px;
  background-color: #ff9a1f;
  border-radius: 10px;
  z-index: 3;
  opacity: 0.7;
}
.weather i {
  font-size: 2rem;
  text-align: center;
  line-height: 32px;
  margin: auto 10px auto 5px;
  color: white;
  animation: weatherAnim 10s infinite;
}
@keyframes weatherAnim {
  0% {
    opacity: 0;
    transform: rotate(90deg) translateY(-40%) scale(0.8);
  }
  50% {
    opacity: 1;
    transform: rotate(0deg);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}
.weather ul li {
  font-size: 14px;
  line-height: 14px;
  font-family: "Noto Sans KR", sans-serif;
  margin: 5px 0;
}
section {
  min-height: 100vh;
}

.swiper-slide img {
  background-size: cover;
  position: relative;
  margin-bottom: 0;
  width: 100vw;
  opacity: 0.6;
  /* filter: brightness(0%); */
  z-index: -1;
}

.swiper-slide h1 {
  font-family: "Mynerve";
  color: #ff7f3f;
  position: absolute;
  font-size: 80px;
  top: 200px;
  right: 200px;
}

.theme .cafe_theme {
  width: 100vw;
  height: 100vh;
  display: grid;
  position: relative;
  bottom: 5px;
  overflow: hidden;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
}
.theme .cafe_theme .cafe_theme_sea {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 8;
  background-image: url("../cafe/images/jejuocean.jpeg");
  background-size: cover;
  background-position-x: -130px;
  transition: all 0.6s ease-in-out;
  background-repeat: no-repeat;
}

.theme .cafe_theme .cafe_theme_sea:hover {
  filter: brightness(60%);
  transition: all 0.6s ease-in-out;
}

.theme .cafe_theme .cafe_theme_sea p {
  position: absolute;
  font-size: 60px;
  margin: 70% 30%;
  color: white;
  opacity: 0;
  transition: all 1s;
  z-index: 6;
}

.theme .cafe_theme .cafe_theme_sea:hover p {
  opacity: 1;
  color: white;
}

.theme .cafe_theme .cafe_theme_mountain {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 8;
  background-image: url("../cafe/images/jejumountain.jpeg");
  background-position-x: -170px;
  transition: all 0.6s ease-in-out;
  background-size: cover;
  background-repeat: no-repeat;
}

.theme .cafe_theme .cafe_theme_mountain:hover {
  filter: brightness(60%);
  transition: all 0.6s ease-in-out;
}

.theme .cafe_theme .cafe_theme_mountain p {
  position: absolute;
  font-size: 60px;
  margin: 70% 26%;
  color: white;
  opacity: 0;
  transition: all 1s;
  z-index: 6;
}

.theme .cafe_theme .cafe_theme_mountain:hover p {
  opacity: 1;
  color: white;
}
.theme .cafe_theme .cafe_theme_interesting {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 8;
  background-image: url("../cafe/images/jejucolacafe.jpeg");
  background-size: cover;
  transition: all 0.6s ease-in-out;
  background-repeat: no-repeat;
  background-position-x: -400px;
}

.theme .cafe_theme .cafe_theme_interesting:hover {
  filter: brightness(60%);
  transition: all 0.6s ease-in-out;
}

.theme .cafe_theme .cafe_theme_interesting p {
  position: absolute;
  font-size: 60px;
  margin: 70% 22%;
  color: white;
  opacity: 0;
  transition: all 1s;
}

.theme .cafe_theme .cafe_theme_interesting:hover p {
  opacity: 1;
  color: white;
}

.cafe_sea {
  position: relative;
  top: -5px;
}
.cafe_sea .cafe_sea_1 {
  display: flex;
  flex-wrap: wrap;
}
.cafe_sea .cafe_sea_1_text {
  height: 100vh;
  flex-grow: 1;
  background-color: #ea5c2b;
}
.cafe_sea .cafe_sea_1_img {
  height: 100vh;
  flex-grow: 1;
  background-color: aqua;
}
.cafe_sea .cafe_sea_2 {
  display: flex;
  flex-wrap: wrap;
}
.cafe_sea .cafe_sea_2_text {
  height: 100vh;
  flex-grow: 1;
  background-color: bisque;
}
.cafe_sea .cafe_sea_2_img {
  height: 100vh;
  flex-grow: 1;
  background-color: cadetblue;
}
