/**$yellow: #f6d860;
$orange: #ff7f3f;
$darkOrange: #ea5c2b;
$green: #95cd41; */
@import url("https://fonts.googleapis.com/css?family=Do+Hyeon:400");
/* font-family : 'Do Hyeon'  */
@import url("https://fonts.googleapis.com/css2?family=Mynerve&display=swap");
/* font-family: 'Mynerve', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Merriweather+Sans:ital,wght@0,300;0,400;1,300;1,400;1,700&family=Mynerve&display=swap");
/* font-family: 'Black Han Sans', sans-serif;
font-family: 'Merriweather Sans', sans-serif;
font-family: 'Mynerve', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Merriweather+Sans:ital,wght@0,300;0,400;1,300;1,400;1,700&family=Mynerve&family=Rubik+Mono+One&display=swap");
/* font-family: 'Black Han Sans', sans-serif;
font-family: 'Merriweather Sans', sans-serif;
font-family: 'Mynerve', cursive;
font-family: 'Rubik Mono One', sans-serif; */
@import url("../css/font/_font.scss");
@import url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/OKDDUNG.woff2");
@font-face {
  font-family: "OKDDUNG";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/OKDDUNG.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TmonMonsori";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  /* transition-duration: 0.2s; */
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  overflow-x: hidden;
}

header {
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: transparent;
}
header .title {
  color: #5c3b16;
  font-size: 36px;
  font-family: "OKDDUNG";
  text-shadow: 0px 3px 0 white;
  padding-left: 40px;
  height: 100px;
  line-height: 12vh;
}

header .title .title__logo > i:first-child {
  position: absolute;
  top: 0px;
  left: 147px;
  line-height: 12vh;
}
header .title .title__logo > i:last-child {
  position: absolute;
  top: 14px;
  left: 148px;
  transform: rotate(-90deg) scale(0.4);
  line-height: 12vh;
}
header .other-menu ul {
  display: flex;
  position: absolute;
  top: 0;
  right: 10%;
  height: 100%;
}
header .other-menu ul li {
  position: relative;
  margin: auto 15px;
  font-size: 20px;
  transition: 0.7s;
}
header .other-menu ul li span {
  display: none;
  box-sizing: border-box;
  font-size: 13px;
  font-weight: 700;
  padding: 2px 7px;
  width: 70px;
  height: 25px;
  background-color: #ff7f3f;
  position: absolute;
  top: -28px;
  left: -24px;
  border-radius: 4px;
  text-align: center;
}
header .other-menu ul li a {
  color: #5c3b16;
}
header .other-menu ul li:hover span {
  display: block;
  color: white;
}
header .other-menu ul li:hover::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  transform: rotate(45deg);
  top: -8px;
  left: 6px;
  background-color: #ff7f3f;
}

.weather {
  position: fixed;
  display: flex;
  width: 150px;
  bottom: 10px;
  right: 10px;
  padding: 7px 10px;
  background-color: #ff9a1f;
  border-radius: 10px;
  z-index: 3;
  opacity: 0.7;
}
.weather i {
  font-size: 2rem;
  text-align: center;
  line-height: 32px;
  margin: auto 10px auto 5px;
  color: white;
  animation: weatherAnim 10s infinite;
}
@keyframes weatherAnim {
  0% {
    opacity: 0;
    transform: rotate(90deg) translateY(-40%) scale(0.8);
  }
  50% {
    opacity: 1;
    transform: rotate(0deg);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}
.weather ul li {
  font-size: 14px;
  line-height: 14px;
  font-family: "Noto Sans KR", sans-serif;
  margin: 5px 0;
}
section {
  min-height: 100vh;
}

.swiper {
  width: 100%;
  height: 100%;
}

.returnToTop {
  z-index: 3;
  position: fixed;
  bottom: 20px;
  right: 190px;
}
.returnToTop a {
  display: block;
  width: 30px;
  height: 30px;
  background-color: #5c3b16;
  border-radius: 50%;
  text-align: center;
  font-size: 1.2rem;
}
.returnToTop a.changeColor {
  background-color: #ea5c2b;
}
.returnToTop a.changeColor i {
  color: white;
}
.returnToTop a.changeColor span {
  background-color: white;
}
.returnToTop a span {
  width: 18px;
  height: 1.8px;
  display: block;
  border-radius: 4px;
  background-color: white;
  position: absolute;
  top: 6px;
  left: 6px;
}
.returnToTop a i {
  position: absolute;
  top: 8px;
  left: 8px;
  color: white;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.swiper-slide img {
  background-size: cover;
  position: relative;
  margin-bottom: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.7;
  /* filter: brightness(70%); */
  z-index: -1;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.mySwiper h1 {
  font-family: "Rubik Mono One", sans-serif;
  color: #ff7f3f;
  position: absolute;
  font-size: 80px;
  top: 200px;
  right: 200px;
  z-index: 1;
  animation: fadeInUp 2s;
}

.border_first {
  z-index: 2;
  margin-top: -5px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 25px;
  background-color: black;
}
.border_first h1 {
  font-family: "Rubik Mono One", sans-serif;
  color: white;
}
.theme .cafe_theme {
  width: 100vw;
  height: 100vh;
  display: grid;
  position: relative;
  bottom: 5px;
  overflow: hidden;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
}
.theme .cafe_theme .cafe_theme_sea {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 8;
  background-image: url("../cafe/images/jejuocean.jpeg");
  background-size: cover;
  background-position-x: -130px;
  transition: all 0.6s ease-in-out;
  background-repeat: no-repeat;
}

.theme .cafe_theme .cafe_theme_sea:hover {
  filter: brightness(60%);
  transition: all 0.6s ease-in-out;
}

.theme .cafe_theme .cafe_theme_sea p {
  position: absolute;
  font-size: 30px;
  margin: 70% 33%;
  color: white;
  opacity: 0;
  transition: all 1s;
  z-index: 6;
  font-family: "Rubik Mono One", sans-serif;
}

.theme .cafe_theme .cafe_theme_sea:hover p {
  opacity: 1;
  color: white;
  font-family: "Rubik Mono One", sans-serif;
}

.theme .cafe_theme .cafe_theme_mountain {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 8;
  background-image: url("../cafe/images/jejumountain.jpeg");
  background-position-x: -170px;
  transition: all 0.6s ease-in-out;
  background-size: cover;
  background-repeat: no-repeat;
}

.theme .cafe_theme .cafe_theme_mountain:hover {
  filter: brightness(60%);
  transition: all 0.6s ease-in-out;
}

.theme .cafe_theme .cafe_theme_mountain p {
  position: absolute;
  font-size: 30px;
  margin: 70% 28%;
  color: white;
  opacity: 0;
  transition: all 1s;
  z-index: 6;
  font-family: "Rubik Mono One", sans-serif;
}

.theme .cafe_theme .cafe_theme_mountain:hover p {
  opacity: 1;
  color: white;
  font-family: "Rubik Mono One", sans-serif;
}
.theme .cafe_theme .cafe_theme_interesting {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 8;
  background-image: url("../cafe/images/jejucolacafe.jpeg");
  background-size: cover;
  transition: all 0.6s ease-in-out;
  background-repeat: no-repeat;
  background-position-x: -400px;
}

.theme .cafe_theme .cafe_theme_interesting:hover {
  filter: brightness(60%);
  transition: all 0.6s ease-in-out;
}

.theme .cafe_theme .cafe_theme_interesting p {
  position: absolute;

  font-size: 30px;
  margin: 70% 22%;
  color: white;
  opacity: 0;
  transition: all 1s;
  font-family: "Rubik Mono One", sans-serif;
}

.theme .cafe_theme .cafe_theme_interesting:hover p {
  opacity: 1;
  color: white;
  font-family: "Rubik Mono One", sans-serif;
}

.cafe_sea {
  position: relative;
  top: -5px;
}
.cafe_sea .cafe_sea_1 {
  display: flex;
}
.cafe_sea .cafe_sea_1_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 100vh;
  background-color: #ff9a1f;
}

.cafe_sea_1_text_bounce {
  height: 100px;
  position: absolute;
  left: 70px;
  top: 130px;
  transform: rotate(-30deg);
}

.cafe_sea_1_text_bounce span {
  position: relative;
  top: 20px;
  display: inline-block;
  animation: bounce 0.3s ease infinite alternate;
  font-family: "Rubik Mono One", sans-serif;
  font-size: 1.5vw;
  color: black;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
    0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
    0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}

.cafe_sea_1_text_bounce span:nth-child(2) {
  animation-delay: 0.1s;
}
.cafe_sea_1_text_bounce span:nth-child(3) {
  animation-delay: 0.2s;
}
.cafe_sea_1_text_bounce span:nth-child(4) {
  animation-delay: 0.3s;
}
.cafe_sea_1_text_bounce span:nth-child(5) {
  animation-delay: 0.4s;
}
.cafe_sea_1_text_bounce span:nth-child(6) {
  animation-delay: 0.5s;
}

@keyframes bounce {
  100% {
    top: 5px;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
      0 5px 0 #ccc, 0 6px 0 #ccc, 0 50px 25px rgba(0, 0, 0, 0.1);
  }
}

.cafe_sea .cafe_sea_1_text .cafe_sea_1_text_1 {
}

.cafe_sea .cafe_sea_1_text .fa-solid.fa-clock {
  font-size: 30px;
  position: absolute;
  margin-left: -212px;
  margin-bottom: 120px;
  opacity: 0;
}

.cafe_sea .cafe_sea_1_text .cafe_sea_1_text_2:hover + #clock {
  opacity: 1;
}

.cafe_sea .cafe_sea_1_text .cafe_sea_1_text_2:hover {
  font-size: 45px;
}
.cafe_sea_1_text_2_modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 50vw;
  height: 100vh;
  display: none;

  background-color: rgba(0, 0, 0, 0.4);
}

.cafe_sea_1_text_2_modal.show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cafe_sea_1_text_2_modal_body {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 400px;
  height: 150px;
  /* padding: 40px; */
  text-align: center;
  justify-content: center;
  font-family: "Rubik Mono One", sans-serif;
  font-size: 15px;
  align-items: center;
  /* font-family: "Mynerve"; */
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  transform: translateX(-50%) translateY(-50%);
}

.cafe_sea_1_text_2_modal_body iframe {
  border-radius: 10%;
}

.cafe_sea .cafe_sea_1_text .fa-solid.fa-map {
  font-size: 30px;
  position: absolute;
  margin-left: -410px;
  margin-bottom: -40px;
  opacity: 0;
}
.cafe_sea .cafe_sea_1_text .cafe_sea_1_text_3:hover + #map {
  opacity: 1;
}
.cafe_sea .cafe_sea_1_text .cafe_sea_1_text_3:hover {
  font-size: 45px;
}
.cafe_sea_1_text_3_modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 50vw;
  height: 100vh;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
}

.cafe_sea_1_text_3_modal.show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cafe_sea_1_text_3_modal_body {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 400px;
  height: 150px;
  /* padding: 40px; */
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

  transform: translateX(-50%) translateY(-50%);
}

.cafe_sea .cafe_sea_1_text .fa-solid.fa-mug-saucer {
  font-size: 30px;
  position: absolute;
  margin-left: -400px;
  margin-bottom: -200px;
  opacity: 0;
}
.cafe_sea .cafe_sea_1_text .cafe_sea_1_text_4:hover + #mug {
  opacity: 1;
}
.cafe_sea .cafe_sea_1_text .cafe_sea_1_text_4:hover {
  font-size: 45px;
}
.cafe_sea_1_text_4_modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 50vw;
  height: 100vh;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
}

.cafe_sea_1_text_4_modal.show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cafe_sea_1_text_4_modal_body {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 400px;
  height: 150px;
  /* padding: 40px; */
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Rubik Mono One", sans-serif;
  font-size: 15px;

  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

  transform: translateX(-50%) translateY(-50%);
}
.cafe_sea .cafe_sea_1_text h1 {
  font-size: 40px;
  margin-bottom: 40px;
  font-family: "Rubik Mono One", sans-serif;
  color: black;
}

.cafe_sea .cafe_sea_1_text .donut_img {
  display: flex;
  position: absolute;
  left: 70px;
  top: 550px;
  width: 10vw;
  /* transform: rotate(40deg); */
}

.cafe_sea .cafe_sea_1_img {
  background-image: url("../cafe/images/donut.jpeg");
  height: 100vh;
  width: 50vw;
  background-position-x: -300px;
  background-size: cover;
}
.cafe_sea .cafe_sea_2 {
  display: flex;
  position: relative;
}

.cafe_sea .cafe_sea_2_img {
  z-index: 2;
  height: 100vh;
  width: 50vw;
  background-image: url("../cafe/images/scatch.jpeg");
  background-size: cover;
}
.cafe_sea .cafe_sea_2_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50vw;
  background-color: rgb(134, 144, 196);
}

.box {
  position: absolute;
  width: 530px;
  height: 300px;
  bottom: -150px;
  left: 600px;
  border-radius: 5px;
  box-shadow: 0 2px 30px rgba(black, 0.2);
  background: lighten(#f0f4c3, 10%);
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  transform: rotate(180deg);
}

.box1 {
  position: absolute;
  width: 530px;
  height: 300px;
  bottom: -165px;
  left: 800px;
  border-radius: 5px;
  box-shadow: 0 2px 30px rgba(black, 0.2);
  background: lighten(#f0f4c3, 10%);
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  transform: rotate(180deg);
}

.box2 {
  position: absolute;
  width: 530px;
  height: 300px;
  bottom: -150px;
  left: 1000px;
  border-radius: 5px;
  box-shadow: 0 2px 30px rgba(black, 0.2);
  background: lighten(#f0f4c3, 10%);
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  transform: rotate(180deg);
}

.wave {
  opacity: 0.7;
  position: absolute;
  top: 3%;
  left: 50%;
  background: #0af;
  width: 500px;
  height: 500px;
  margin-left: -250px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  overflow: hidden;
  animation: drift 3400ms infinite linear;
}
.wave1 {
  opacity: 0.7;
  position: absolute;
  top: 3%;
  left: 50%;
  background: #0af;
  width: 500px;
  height: 500px;
  margin-left: -250px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  overflow: hidden;
  animation: drift 2500ms infinite linear;
}
.wave2 {
  opacity: 0.7;
  position: absolute;
  top: 3%;
  left: 50%;
  background: #0af;
  width: 500px;
  height: 500px;
  margin-left: -250px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  overflow: hidden;
  animation: drift 2000ms infinite linear;
}

.wave.-three {
  animation: drift 5000ms infinite linear;
}

.wave.-two {
  animation: drift 7000ms infinite linear;
  opacity: 0.1;
  background: #0af;
}
.wave1.-three1 {
  animation: drift 5000ms infinite linear;
}

.wave1.-two1 {
  animation: drift 7000ms infinite linear;
  opacity: 0.1;
  background: #0af;
}
.wave2.-three2 {
  animation: drift 5000ms infinite linear;
}

.wave2.-two2 {
  animation: drift 7000ms infinite linear;
  opacity: 0.1;
  background: #0af;
}

.box:after {
  content: "";
  display: inline;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    to bottom,
    rgba(#e8a, 1),
    rgba(#def, 0) 80%,
    rgba(white, 0.5)
  );
  z-index: 1;
  transform: translate3d(0, 0, 0);
}
.box1:after {
  content: "";
  display: inline;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    to bottom,
    rgba(#e8a, 1),
    rgba(#def, 0) 80%,
    rgba(white, 0.5)
  );
  z-index: 1;
  transform: translate3d(0, 0, 0);
}
.box2:after {
  content: "";
  display: inline;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    to bottom,
    rgba(#e8a, 1),
    rgba(#def, 0) 80%,
    rgba(white, 0.5)
  );
  z-index: 1;
  transform: translate3d(0, 0, 0);
}
.box3:after {
  content: "";
  display: inline;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    to bottom,
    rgba(#e8a, 1),
    rgba(#def, 0) 80%,
    rgba(white, 0.5)
  );
  z-index: 1;
  transform: translate3d(0, 0, 0);
}

@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

.cafe_sea .cafe_sea_2_text .fa-solid.fa-clock {
  font-size: 30px;
  position: absolute;
  margin-left: -212px;
  margin-bottom: 120px;
  opacity: 0;
}

.cafe_sea .cafe_sea_2_text .cafe_sea_2_text_2:hover + #clock2 {
  opacity: 1;
}

.cafe_sea .cafe_sea_2_text .cafe_sea_2_text_2:hover {
  font-size: 45px;
}
.cafe_sea_2_text_2_modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 50vw;
  height: 100vh;
  display: none;

  background-color: rgba(0, 0, 0, 0.4);
}

.cafe_sea_2_text_2_modal.show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cafe_sea_2_text_2_modal_body {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 400px;
  height: 150px;
  /* padding: 40px; */
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Rubik Mono One", sans-serif;
  font-size: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  transform: translateX(-50%) translateY(-50%);
}

.cafe_sea .cafe_sea_2_text .fa-solid.fa-map {
  font-size: 30px;
  position: absolute;
  margin-left: -410px;
  margin-bottom: -40px;
  opacity: 0;
}

.cafe_sea .cafe_sea_2_text .cafe_sea_2_text_3:hover + #map2 {
  opacity: 1;
}

.cafe_sea .cafe_sea_2_text .cafe_sea_2_text_3:hover {
  font-size: 45px;
}
.cafe_sea_2_text_3_modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 50vw;
  height: 100vh;
  display: none;

  background-color: rgba(0, 0, 0, 0.4);
}

.cafe_sea_2_text_3_modal.show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cafe_sea_2_text_3_modal_body {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 400px;
  height: 150px;
  /* padding: 40px; */
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  transform: translateX(-50%) translateY(-50%);
}

.cafe_sea .cafe_sea_2_text .fa-solid.fa-mug-saucer {
  font-size: 30px;
  position: absolute;
  margin-left: -400px;
  margin-bottom: -200px;
  opacity: 0;
}

.cafe_sea .cafe_sea_2_text .cafe_sea_2_text_4:hover + #mug2 {
  opacity: 1;
}

.cafe_sea .cafe_sea_2_text .cafe_sea_2_text_4:hover {
  font-size: 45px;
}
.cafe_sea_2_text_4_modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 50vw;
  height: 100vh;
  display: none;

  background-color: rgba(0, 0, 0, 0.4);
}

.cafe_sea_2_text_4_modal.show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cafe_sea_2_text_4_modal_body {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 400px;
  height: 150px;
  /* padding: 40px; */
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Rubik Mono One", sans-serif;
  font-size: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  transform: translateX(-50%) translateY(-50%);
}
.cafe_sea .cafe_sea_2_text h1 {
  font-size: 40px;
  margin-bottom: 40px;
  font-family: "Rubik Mono One", sans-serif;
  color: black;
}

.cafe_mountain {
  position: relative;
  top: -5px;
}
.cafe_mountain .cafe_mountain_1 {
  display: flex;
}

.black {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: black;
}
.cafe_mountain .cafe_mountain_1_img {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
      to right,
      rgba(20, 20, 20, 0.35) 35%,
      rgba(20, 20, 20, 0.4) 40%,
      rgba(20, 20, 20, 0.6) 60%,
      rgba(20, 20, 20, 0.8) 80%,
      rgba(20, 20, 20, 1) 100%
    ),
    url("../cafe/images/oneandonly.jpeg");
  background-size: cover;
  background-color: black;
  background-position-y: -550px;
}
.cafe_mountain_1 .cafe_mountain_1_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 30px;
  top: 250px;
}
.cafe_mountain_1 .cafe_mountain_1_text h1 {
  font-size: 40px;
  margin-bottom: 40px;
  font-family: "Rubik Mono One", sans-serif;
  color: white;
  /* animation: fadeIn 1; */
}

.cafe_mountain_1 .cafe_mountain_1_text .fa-solid.fa-clock {
  font-size: 30px;
  color: white;
  position: absolute;
  margin-left: -220px;
  margin-top: 85px;
  opacity: 0;
}
.cafe_mountain_1 .cafe_mountain_1_text .cafe_mountain_1_text_2:hover + #clock3 {
  opacity: 1;
}
.cafe_mountain_1 .cafe_mountain_1_text .cafe_mountain_1_text_2:hover {
  font-size: 45px;
}
.cafe_mountain_1_text_2_modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: none;
  right: 0;
  bottom: -195px;

  background-color: rgba(0, 0, 0, 0.4);
}

.cafe_mountain_1_text_2_modal.show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cafe_mountain_1_text_2_modal_body {
  display: flex;
  position: absolute;
  bottom: 250px;
  left: 50%;
  width: 400px;
  height: 150px;
  /* padding: 40px; */
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Rubik Mono One", sans-serif;
  font-size: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  transform: translateX(-50%) translateY(-50%);
}
.cafe_mountain .cafe_mountain_1_text .fa-solid.fa-map {
  font-size: 30px;
  position: absolute;
  margin-left: -410px;
  margin-top: 165px;
  opacity: 0;
  color: white;
}

.cafe_mountain .cafe_mountain_1_text .cafe_mountain_1_text_3:hover + #map3 {
  opacity: 1;
}

.cafe_mountain .cafe_mountain_1_text .cafe_mountain_1_text_3:hover {
  font-size: 45px;
}
.cafe_mountain_1_text_3_modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: none;
  right: 0;
  bottom: -195px;

  background-color: rgba(0, 0, 0, 0.4);
}

.cafe_mountain_1_text_3_modal.show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cafe_mountain_1_text_3_modal_body {
  display: flex;
  position: absolute;
  bottom: 250px;
  left: 50%;
  width: 400px;
  height: 150px;
  /* padding: 40px; */
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  transform: translateX(-50%) translateY(-50%);
}
.cafe_mountain .cafe_mountain_1_text .fa-solid.fa-mug-saucer {
  font-size: 30px;
  position: absolute;
  margin-left: -400px;
  margin-top: 245px;
  opacity: 0;
  color: white;
}

.cafe_mountain .cafe_mountain_1_text .cafe_mountain_1_text_4:hover + #mug3 {
  opacity: 1;
}

.cafe_mountain .cafe_mountain_1_text .cafe_mountain_1_text_4:hover {
  font-size: 45px;
}
.cafe_mountain_1_text_4_modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: none;
  right: 0;
  bottom: -195px;

  background-color: rgba(0, 0, 0, 0.4);
}

.cafe_mountain_1_text_4_modal.show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cafe_mountain_1_text_4_modal_body {
  display: flex;
  position: absolute;
  bottom: 250px;
  left: 50%;
  width: 400px;
  height: 150px;
  /* padding: 40px; */
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Rubik Mono One", sans-serif;
  font-size: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  transform: translateX(-50%) translateY(-50%);
}
.cafe_mountain .cafe_mountain_2 {
  display: flex;
  position: relative;
}
.cafe_mountain .cafe_mountain_2_img {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
      to left,
      rgba(20, 20, 20, 0.35) 35%,
      rgba(20, 20, 20, 0.4) 40%,
      rgba(20, 20, 20, 0.6) 60%,
      rgba(20, 20, 20, 0.8) 80%,
      rgba(20, 20, 20, 1) 100%
    ),
    url("../cafe/images/blossomtea.jpeg");
  background-size: cover;
  background-position-y: -300px;
}

.cafe_mountain .cafe_mountain_2_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 30px;
  top: 250px;
}

.cafe_mountain .cafe_mountain_2_text h1 {
  font-size: 40px;
  margin-bottom: 40px;
  font-family: "Rubik Mono One", sans-serif;
  color: white;
}

.cafe_mountain_2 .cafe_mountain_2_text .fa-solid.fa-clock {
  font-size: 30px;
  color: white;
  position: absolute;
  margin-left: -220px;
  margin-top: 85px;
  opacity: 0;
}
.cafe_mountain_2 .cafe_mountain_2_text .cafe_mountain_2_text_2:hover + #clock4 {
  opacity: 1;
}
.cafe_mountain_2 .cafe_mountain_2_text .cafe_mountain_2_text_2:hover {
  font-size: 45px;
}
.cafe_mountain_2_text_2_modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: none;
  left: -30px;
  bottom: -195px;

  background-color: rgba(0, 0, 0, 0.4);
}

.cafe_mountain_2_text_2_modal.show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cafe_mountain_2_text_2_modal_body {
  display: flex;
  position: absolute;
  bottom: 250px;
  left: 50%;
  width: 400px;
  height: 150px;
  /* padding: 40px; */
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Rubik Mono One", sans-serif;
  font-size: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  transform: translateX(-50%) translateY(-50%);
}
.cafe_mountain .cafe_mountain_2_text .fa-solid.fa-map {
  font-size: 30px;
  position: absolute;
  margin-left: -410px;
  margin-top: 165px;
  opacity: 0;
  color: white;
}

.cafe_mountain .cafe_mountain_2_text .cafe_mountain_2_text_3:hover + #map4 {
  opacity: 1;
}

.cafe_mountain .cafe_mountain_2_text .cafe_mountain_2_text_3:hover {
  font-size: 45px;
}
.cafe_mountain_2_text_3_modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: none;
  left: -30px;
  bottom: -195px;

  background-color: rgba(0, 0, 0, 0.4);
}

.cafe_mountain_2_text_3_modal.show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cafe_mountain_2_text_3_modal_body {
  display: flex;
  position: absolute;
  bottom: 250px;
  left: 50%;
  width: 400px;
  height: 150px;
  /* padding: 40px; */
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  transform: translateX(-50%) translateY(-50%);
}
.cafe_mountain .cafe_mountain_2_text .fa-solid.fa-mug-saucer {
  font-size: 30px;
  position: absolute;
  margin-left: -400px;
  margin-top: 245px;
  opacity: 0;
  color: white;
}

.cafe_mountain .cafe_mountain_2_text .cafe_mountain_2_text_4:hover + #mug4 {
  opacity: 1;
}

.cafe_mountain .cafe_mountain_2_text .cafe_mountain_2_text_4:hover {
  font-size: 45px;
}
.cafe_mountain_2_text_4_modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: none;
  left: -30px;
  bottom: -195px;

  background-color: rgba(0, 0, 0, 0.4);
}

.cafe_mountain_2_text_4_modal.show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cafe_mountain_2_text_4_modal_body {
  display: flex;
  position: absolute;
  bottom: 250px;
  left: 50%;
  width: 400px;
  height: 150px;
  /* padding: 40px; */
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Rubik Mono One", sans-serif;
  font-size: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  transform: translateX(-50%) translateY(-50%);
}

.cafe_interesting {
  display: flex;
  position: relative;
  top: -5px;
}
.cafe_interesting .cafe_interesting_1 {
  display: flex;
  width: 50vw;
  position: relative;
}
.cafe_interesting .cafe_interesting_1 > h1 {
  display: flex;
  font-size: 25px;
  bottom: 40px;
  left: 250px;

  transform: translate(-50% -50%);
  font-family: "Rubik Mono One", sans-serif;
  color: white;
  position: absolute;
}
.cafe_interesting .cafe_interesting_1_img {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: rgb(138, 141, 92);
}

.cafe_interesting .cafe_interesting_1_img .cafe_interesting_1_img_1 {
  position: absolute;
  /* right: 80px;
  top: 60px; */
  width: 35vw;
  height: 37vw;
  border-radius: 5%;
}

/* .cafe_interesting .cafe_interesting_1_img .cafe_interesting_1_img_2 {
  position: absolute;
  left: 600px;
  top: 350px;
  width: 20vw;
} */
.cafe_interesting .cafe_interesting_1_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 180px;
  top: 250px;
}

.cafe_interesting_1_text.off1 {
  display: none;
}

.cafe_interesting .cafe_interesting_1_text h1 {
  font-size: 25px;
  margin-bottom: 40px;
  font-family: "Rubik Mono One", sans-serif;
  color: white;
}
.cafe_interesting .cafe_interesting_2 {
  display: flex;
  width: 50vw;
  position: relative;
}
.cafe_interesting .cafe_interesting_2_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 150px;
  top: 250px;
}
.cafe_interesting_2_text.off2 {
  display: none;
}
.cafe_interesting .cafe_interesting_2_text h1 {
  font-size: 25px;
  margin-bottom: 40px;
  font-family: "Rubik Mono One", sans-serif;
  color: white;
}
.cafe_interesting .cafe_interesting_2_img {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: sandybrown;
}
.cafe_interesting .cafe_interesting_2_img .cafe_interesting_2_img_1 {
  position: absolute;
  /* right: 80px;
  top: 60px; */
  width: 35vw;
  height: 37vw;
  border-radius: 5%;
}
/* .cafe_interesting .cafe_interesting_2_img .cafe_interesting_2_img_2 {
  position: absolute;
  left: 600px;
  top: 350px;
  width: 20vw;
} */

/* footer */
footer {
  width: 100vw;
  background-color: #363730;
  margin-top: -5px;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer img {
  height: 40px;
  background-size: cover;
  background-color: white;
  margin-right: 30px;
}
footer ul li {
  color: white;
  font-weight: 100;
  font-size: 12px;
  font-style: italic;
  font-family: "Noto Sans", sans-serif;
  letter-spacing: 1px;
} /*# sourceMappingURL=emergency.css.map */
