@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
/*font-family: 'Noto Sans KR', sans-serif;*/
@font-face {
    font-family: 'Dovemayo_wild';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/Dovemayo_wild.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
 @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
 /* font-family: 'Kaushan Script', cursive; */

 @font-face {
  font-family: 'OKDDUNG';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/OKDDUNG.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  background-color: #fff;
  font-family: 'Dovemayo_wild';
}

/*header*/
header {
  position: fixed;
  height: 100px;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  background-color: transparent;
}
header .title {
  color: #5c3b16;
  font-size: 36px;
  font-family: "OKDDUNG";
  text-shadow: 0px 3px 0 white;
  padding-left: 40px;
  height: 100px;
  line-height: 18vh;
}
header .title .title__logo > i:first-child {
  position: absolute;
  top: 0px;
  left: 147px;
  line-height: 18vh;
}
header .title .title__logo > i:last-child {
  position: absolute;
  top: 14px;
  left: 148px;
  transform: rotate(-90deg) scale(0.4);
  line-height: 18vh;
}
header .other-menu ul {
  display: flex;
  position: absolute;
  top: 0;
  right: 40px;
  height: 100%;
}
header .other-menu ul li {
  position: relative;
  margin: auto 15px;
  font-size: 20px;
  transition: 0.7s;
}
header .other-menu ul li span {
  display: none;
  box-sizing: border-box;
  font-size: 13px;
  font-weight: 700;
  padding: 2px 7px;
  width: 70px;
  height: 25px;
  background-color: #ff7f3f;
  position: absolute;
  top: -28px;
  left: -24px;
  border-radius: 4px;
  text-align: center;
}
header .other-menu ul li a {
  color: #5c3b16;
}
header .other-menu ul li a.changeColor {
  color: #5c3b16;
}
header .other-menu ul li a.changeColor:hover {
  color: #ea5c2b;
}
header .other-menu ul li a:hover {
  color: #f6d860;
}
header .other-menu ul li:hover span {
  display: block;
  color: white;
}
header .other-menu ul li:hover::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  transform: rotate(45deg);
  top: -8px;
  left: 6px;
  background-color: #ff7f3f;
}

.weather {
  position: fixed;
  display: flex;
  width: 150px;
  bottom: 10px;
  right: 10px;
  padding: 7px 10px;
  background-color: #ff9a1f;
  border-radius: 10px;
  z-index: 3;
  opacity: 0.7;
}
.weather i {
  font-size: 2rem;
  text-align: center;
  line-height: 32px;
  margin: auto 12px auto 9px;
  color: white;
  animation: weatherAnim 10s infinite;
}
@keyframes weatherAnim {
  0% {
    opacity: 0;
    transform: rotate(90deg) translateY(-40%) scale(0.8);
  }
  50% {
    opacity: 1;
    transform: rotate(0deg);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}
.weather ul li {
  font-size: 14px;
  line-height: 14px;
  font-family: "Noto Sans KR", sans-serif;
  margin: 5px 0;
}

.returnToTop {
  position: fixed;
  bottom: 10px;
  right: 190px;
}
.returnToTop a {
  display: block;
  width: 30px;
  height: 30px;
  background-color: #5c3b16;
  border-radius: 50%;
  text-align: center;
  font-size: 1.2rem;
}
.returnToTop a.changeColor {
  background-color: #ea5c2b;
}
.returnToTop a.changeColor i {
  color: white;
}
.returnToTop a.changeColor span {
  background-color: white;
}
.returnToTop a span {
  width: 18px;
  height: 1.8px;
  display: block;
  border-radius: 4px;
  background-color: white;
  position: absolute;
  top: 6px;
  left: 6px;
}
.returnToTop a i {
  position: absolute;
  top: 8px;
  left: 8px;
  color: white;
}


/*FOOD CSS 시작*/
.off {
  display: none;
}
@keyframes an1{
  0%{height: 30px;}
  80%{height: 150px;}
  100%{height: 150px;;}
}
@keyframes an2{
  0%{opacity: 0;}
  80%{opacity: 0;}
  100%{opacity: 1;}
}
.all_content {
  position: relative;
  overflow: hidden;
}
.all_content .first_page {
  height: 100vh;
  overflow: hidden;
}
.all_content .first_page .juju_title {
  position: absolute;
  font-size: 8vw;
  line-height: 20vh;
  font-family: 'Kaushan Script', cursive;
  top: 20vh;
  right: 10vw;
  color: black;
  z-index: 2;
}
.all_content .first_page video {
  position: absolute;
  height: 110vh;
  width: 110vw;
  object-fit: cover;

}
.all_content .second_page {
  height: 110vh;
  position: relative;
  display: flex;
  background-color: #fff;
  overflow: hidden;
  font-family: 'Kaushan Script', cursive;
}
.all_content .second_page img {
  height: 110vh;
  position: absolute;
}
.all_content .second_page .box1 {
  width: 33.333%;
  filter: grayscale(70%);
  font-size: 5vh;
  color: #fff;
  cursor: pointer;
}
.all_content .second_page .box1 .hoverbox {
  height: 200vh;
}
.all_content .second_page .box1 .hoverbox span {
  opacity: 0; border: 2px solid #ccc; position: absolute; top: 85%; 
  transform: translateY(-50%); height: 30px; width: 50%; left: 30%;transition: 0.5s;
}
.all_content .second_page .box1 .hoverbox span p {
  position: absolute;
  opacity: 0;
  top: 30%;
  right: 5%;
}
.all_content .second_page .box1:hover .imgBox {
  filter : grayscale(0);
  transform: translateX(-200px);
  transition: 3s;
}
.all_content .second_page .box1:hover .hoverbox span{
  animation: an1 0.8s linear 1; height: 150px;  
  opacity: 1;
}
.all_content .second_page .box1:hover .hoverbox span p {
  animation: an2 0.8s linear 1; opacity: 1;
}
/**/
.all_content .second_page .box2 {
  width: 33.333%;
  filter: grayscale(70%);
  font-size: 5vh;
  color: #fff;
  cursor: pointer;
}
.all_content .second_page .box2 .hoverbox {
  height: 200vh;
}
.all_content .second_page .box2 .hoverbox span {
  opacity: 0; border: 2px solid #ccc; position: absolute; top: 85%; 
  transform: translateY(-50%); height: 30px; width: 50%; left: 30%;transition: 0.5s;
}
.all_content .second_page .box2 .hoverbox span p {
  position: absolute;
  opacity: 0;
  top: 30%;
  right: 5%;
}
.all_content .second_page .box2:hover .imgBox {
  filter : grayscale(0);
  transform: translateX(-200px);
  transition: 3s;
}
.all_content .second_page .box2:hover .hoverbox span{
  animation: an1 0.8s linear 1; height: 150px;
  opacity: 1;
}
.all_content .second_page .box2:hover .hoverbox span p {
  animation: an2 0.8s linear 1; opacity: 1;
}
.all_content .second_page .box3 {
  width: 33.333%;
  filter: grayscale(70%);
  cursor: pointer;
}
/**/
.all_content .second_page .box3 {
  width: 33.333%;
  filter: grayscale(70%);
  font-size: 5vh;
  color: #fff;
  cursor: pointer;
}
.all_content .second_page .box3 .hoverbox {
  height: 200vh;
}
.all_content .second_page .box3 .hoverbox span {
  opacity: 0; border: 2px solid #ccc; position: absolute; top: 85%; 
  transform: translateY(-50%); height: 30px; width: 50%; left: 30%;transition: 0.5s;
}
.all_content .second_page .box3 .hoverbox span p {
  position: absolute;
  opacity: 0;
  top: 30%;
  right: 5%;
}
.all_content .second_page .box3:hover .imgBox {
  filter : grayscale(0);
  transform: translateX(-200px);
  transition: 3s;
}
.all_content .second_page .box3:hover .hoverbox span{
  animation: an1 0.8s linear 1; height: 150px;
  opacity: 1;
}
.all_content .second_page .box3:hover .hoverbox span p {
  animation: an2 0.8s linear 1; opacity: 1;
}

.all_content .third_page {
  display: flex;
  position: relative;
  height: 110vh;
  overflow: hidden;
}
.all_content .third_page .korea_content {
  position: absolute;
  left: 5vw;
}
.all_content .third_page .korea_content .korea_img1 {
  position: absolute;
  z-index: 2;
  top: 62vh;
  left: 18vw;
  margin-left: 60px;
  z-index: -1;
}
.all_content .third_page .korea_content .korea_img1 img {
  display: block;
  width: 23vw;
  height: 45vh;
  border-radius: 10%;
}
.all_content .third_page .korea_content .korea_text1{
  position: absolute;
  border-radius: 10%;
  background-color: #ff7f3f32;
  width: 23vw;
  height: 45vh;
  top: 20vh;
  left: 10vw;
  cursor: pointer;
}
.all_content .third_page .korea_content .korea_text1 ul.food_list1{
  position: absolute;
  font-size: 3vh;
  color: #ea5c2b;
  top: 7vh;
  left: 6.5vw;
}
.all_content .third_page .korea_content .korea_text1 ul.food_list1 li {
  margin-bottom: 5vh;
}
.all_content .third_page .korea_content .korea_text1 ul.food_list1 li:nth-child(1){
  font-weight: bold;
}
.all_content .third_page .korea_content .korea_text1 ul.food_list1 span {
  position: absolute;
  font-size: 5vh;
  left: -4vw;
}
.all_content .third_page .korea_content .korea_text1 .swiper-contaier {
  position: absolute;
  font-size: 2.3vh;
  width: 100vw;
  height: 4vh;
  color: #626458;
  top:38vh;
  left: 2vw;
  overflow: hidden;
}
.all_content .third_page .korea_content .korea_text1 .swiper-contaier .swiper-slide {
  line-height: 4vh;
  height: 100vh;
}
.all_content .third_page .korea_content .korea_text1 .menu{
  position: absolute;
  top: -2vh;
  left: 3vw;
}
.all_content .third_page .korea_content .korea_text1 i {
  position: absolute;
  font-size: 3vh;
  left: 8vw;
  width: 100vw;
  top: 5vh;
  color: #ea5c2b;
}
.all_content .third_page .korea_content .korea_text1 .menu_li {
  display: flex;
  position: absolute;
  font-size: 3vh;
  line-height: 5.5vh;
  top: 10vh;
  left: 8vw;
  width: 100vw;
  color: #ea5c2b;
}
.all_content .third_page .korea_content .korea_text1 .menu_li .menu_name {
  position: absolute;
  left: -5vw;
}
.all_content .third_page .korea_content .korea_text1 .menu_li .menu_price {
  position: absolute;
  left: 7vw;
}

.all_content .third_page .korea_content .korea_img2 {
  position: absolute;
  top: 60vh;
  left: 57vw;
  margin-left: 60px;
}
.all_content .third_page .korea_content .korea_img2 img {
  display: block;
  width: 23vw;
  height: 45vh;
  border-radius: 10%;
}
.all_content .third_page .korea_content .korea_text2{
  position: absolute;
  top: 20vh;
  border-radius: 10%;
  background-color: #ff7f3f32;
  left: 50vw;
  width: 23vw;
  height: 45vh;
  cursor: pointer;
}
.all_content .third_page .korea_content .korea_text2 ul.food_list2{
  position: absolute;
  font-size: 3vh;
  color: #ea5c2b;
  top: 6vh;
  left: 6vw;
}
.all_content .third_page .korea_content .korea_text2 ul.food_list2 li {
  margin-bottom: 5vh;
}
.all_content .third_page .korea_content .korea_text2 ul.food_list2 li:nth-child(1){
  font-weight: bold;
}
.all_content .third_page .korea_content .korea_text2 ul.food_list2 span {
  position: absolute;
  font-size: 5vh;
  left: -4vw;
}
.all_content .third_page .korea_content .korea_text2 .swiper-contaier {
  position: absolute;
  font-size: 2.3vh;
  width: 100vw;
  height: 4vh;
  color: #626458;
  top:39vh;
  left: 2vw;
  overflow: hidden;
}
.all_content .third_page .korea_content .korea_text2 .swiper-contaier .swiper-slide {
  line-height: 3vh;
}
.all_content .third_page .korea_content .korea_text2 .menu{
  position: absolute;
  top: -2vh;
  left: 3vw;
}
.all_content .third_page .korea_content .korea_text2 i {
  position: absolute;
  font-size: 3vh;
  left: 8vw;
  width: 100vw;
  top: 5vh;
  color: #ea5c2b;
}
.all_content .third_page .korea_content .korea_text2 .menu_li {
  display: flex;
  position: absolute;
  font-size: 3vh;
  line-height: 7vh;
  top: 10vh;
  left: 8vw;
  width: 100vw;
  color: #ea5c2b;
}
.all_content .third_page .korea_content .korea_text2 .menu_li .menu_name {
  position: absolute;
  left: -5vw;
}
.all_content .third_page .korea_content .korea_text2 .menu_li .menu_price {
  position: absolute;
  left: 7vw;
}
.all_content .third_page .back{
  top: 50vh;
}
.all_content .third_page .back_img1 img {
  width: 35vw;
}
.all_content .third_page .ocean { 
  height: 5%;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  background: #15aad3;
  z-index: -3;
}

.all_content .third_page .ocean .wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.all_content .third_page .ocean .wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}
.all_content .third_page .ocean .wing img{
  position: absolute;
  width: 20vw;
  height: 40vh;
  top: -30vw;
  right: 35vw;
  animation: ocean_action 0.3s /* 속도 */
               linear 0s   /* 처음부터 끝까지 일정 속도로 진행 */
               infinite alternate; /* 무한 반복 */
}
.all_content .third_page .ocean .wing img:nth-child(2){
  position: absolute;
  width: 20vw;
  height: 30vh;
  top: -40vw;
  left: 0vw;
}
@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}
@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}
@keyframes ocean_action {
	0% {margin-top: 0px;} /* 처음 위치 */
	100% {margin-top: 10px;} /* 마지막 위치 */
  }
.all_content .third_page .mark img {
  width: 15vw;
}
.all_content .third_page .mark {
  position: absolute;
  right: 0;
}
.all_content .third_page .mark span{
  position: absolute;
  top: 5vh;
  right: 4.5vw;
  font-family: 'Kaushan Script', cursive;
  font-size: 3vh;
}
/**/
.all_content .fourth_page {
  position: relative;
  background-image: url(../img/jeju_back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 110vh;
  
}
.all_content .fourth_page .japan_content {
  height: 25vh;
  margin-bottom: 20vh;
  cursor: pointer;
}
.all_content .fourth_page .japan_content .japan_img1 img{
  position: absolute;
  top: 20vh;
  left: 15vw;
  width: 20vw;
  height: 40vh;
  border-radius: 50%;
  box-shadow: -4px -4px 10px ;
}
.all_content .fourth_page .japan_content .japan_text1{
  position: absolute;
  top: 20vh;
  width: 100vw;
  height: 40vh;
  z-index: -1;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0),gray);
}

.all_content .fourth_page .japan_content .japan_text1 ul.food_list1{
  position: absolute;
  font-size: 2.5vh;
  color: black;
  line-height: bold;
  top: 5vh;
  left: 52vw;
}
.all_content .fourth_page .japan_content .japan_text1 ul.food_list1 li {
  display: flex;
  margin-bottom: 5vh;
}
.all_content .fourth_page .japan_content .japan_text1 ul.food_list1 li:nth-child(1){
  font-weight: bold;
}
.all_content .fourth_page .japan_content .japan_text1 ul.food_list1 span {
  position: absolute;
  font-size: 4vh;
  left: -4vw;
}
.all_content .fourth_page .japan_content .japan_text1 .menu{
  position: absolute;
  top: -2vh;
  left: 3vw;
}
.all_content .fourth_page .japan_content .japan_text1 i {
  position: absolute;
  font-size: 3vh;
  left: 50vw;
  width: 100vw;
  top: 5vh;
  color: black;
}
.all_content .fourth_page .japan_content .japan_text1 .menu_li {
  display: flex;
  position: absolute;
  font-size: 3vh;
  line-height: 5vh;
  left: 50vw;
  top: 10vh;
  width: 100vw;
  color: black;
}
.all_content .fourth_page .japan_content .japan_text1 .menu_li .menu_name {
  position: absolute;
  left: -5vw;
}
.all_content .fourth_page .japan_content .japan_text1 .menu_li .menu_price {
  position: absolute;
  left: 7vw;
}
.all_content .fourth_page .japan_content .japan_img2 img{
  position: absolute;
  top: 20vh;
  left: 60vw;
  width: 20vw;
  height: 40vh;
  border-radius: 50%;
  box-shadow: 4px 4px 10px ;
}
.all_content .fourth_page .japan_content .japan_text2{
  position: absolute;
  top: 20vh;
  width: 100vw;
  height: 40vh;
  z-index: -1;
  background: linear-gradient(90deg, gray,rgba(255, 255, 255, 0));
}
.all_content .fourth_page .japan_content .japan_text2 ul.food_list2{
  position: absolute;
  font-size: 2.5vh;
  color: black;
  top: 5vh;
  left: 34vw;
}
.all_content .fourth_page .japan_content .japan_text2 ul.food_list2 li:nth-child(1){
  font-weight: bold;
}
.all_content .fourth_page .japan_content .japan_text2 ul.food_list2 li {
  display: flex;
  margin-bottom: 5vh;
}
.all_content .fourth_page .japan_content .japan_text2 ul.food_list2 span {
  position: absolute;
  font-size: 4vh;
  left: -4vw;
}
.all_content .fourth_page .japan_content .japan_text2 .menu{
  position: absolute;
  top: -2vh;
  left: -15vw;
}
.all_content .fourth_page .japan_content .japan_text2 i {
  position: absolute;
  font-size: 3vh;
  left: 50vw;
  width: 100vw;
  top: 5vh;
  color: black;
}
.all_content .fourth_page .japan_content .japan_text2 .menu_li {
  display: flex;
  position: absolute;
  font-size: 3vh;
  line-height: 5vh;
  left: 50vw;
  top: 10vh;
  width: 100vw;
  color: black;
}
.all_content .fourth_page .japan_content .japan_text2 .menu_li .menu_name {
  position: absolute;
  left: -5vw;
}
.all_content .fourth_page .japan_content .japan_text2 .menu_li .menu_price {
  position: absolute;
  left: 7vw;
}
.all_content .fourth_page .japan_content .swiper-contaier {
  position: absolute;
  font-size: 2.3vh;
  width: 100vw;
  height: 4vh;
  color: rgb(49, 47, 47);
  top:35vh;
  left:48vw;
  overflow: hidden;
}
.all_content .fourth_page .japan_content .japan_text2 .swiper-contaier {
  position: absolute;
  left : 30vw;
} 
.all_content .fourth_page .japan_content .fourth_back img{
  position: absolute;
  top: -100vh;
}

.all_content .fourth_page .mark img {
  width: 15vw;
}
.all_content .fourth_page .mark {
  position: absolute;
  top: 0;
  right: 0;
}
.all_content .fourth_page .mark span{
  position: absolute;
  top: 5vh;
  right: 5.2vw;
  font-family: 'Kaushan Script', cursive;
  font-size: 3vh;
}

/*fifth_page*/
.all_content .fifth_page {
  height: 110vh;
  position: relative;
  background-image: url("../img/fifth_page_bg.png");
  z-index: -2;
}
.all_content .fifth_page .westren_content{
  position: absolute;
  width: 25vw;
  height: 80vh;
  top: 20vh;
  left: 20vw;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}
.all_content .fifth_page .westren_content .westren_img1 img {
  position: absolute;
  width: 20vw;
  height: 35vh;
  top: 5vh;
  left: 2.5vw;
}
.all_content .fifth_page .westren_content .westren_text1{
  position: absolute;
  top: 45vh;
  left: 8vw;
  width: 25vw;
  height: 40vh;
}

.all_content .fifth_page .westren_content .westren_text1 ul.food_list1{
  position: absolute;
  font-size: 2.5vh;
  color: black;

}
.all_content .fifth_page .westren_content .westren_text1 ul.food_list1 li {
  display: flex;
  margin-bottom: 5vh;
}
.all_content .fifth_page .westren_content .westren_text1 ul.food_list1 li:nth-child(1){
  font-weight: bold;
}
.all_content .fifth_page .westren_content .westren_text1 ul.food_list1 span {
  position: absolute;
  font-size: 4vh;
  left: -4vw;
}
.all_content .fifth_page .westren_content .swiper-contaier {
  position: absolute;
  font-size: 2.3vh;
  width: 100vw;
  height: 4vh;
  color: rgb(49, 47, 47);
  bottom: 6vh;
  left : -5vw;
  overflow: hidden;
}
.all_content .fifth_page .westren_content .westren_text1 .swiper-contaier {
  position: absolute;
} 
.all_content .fifth_page .westren_content .westren_text1 .menu{
  position: absolute;
  top: -5vh;
  left: -48.5vw;
}
.all_content .fifth_page .westren_content .westren_text1 i {
  position: absolute;
  font-size: 3vh;
  left: 50vw;
  width: 100vw;
  top: 5vh;
  color: black;
}
.all_content .fifth_page .westren_content .westren_text1 .menu_li {
  display: flex;
  position: absolute;
  font-size: 3vh;
  line-height: 5vh;
  left: 50vw;
  top: 10vh;
  width: 100vw;
  color: black;
}
.all_content .fifth_page .westren_content .westren_text1 .menu_li .menu_name {
  position: absolute;
  left: -5vw;
}
.all_content .fifth_page .westren_content .westren_text1 .menu_li .menu_price {
  position: absolute;
  left: 7vw;
}
.all_content .fifth_page .westren_content1 {
  position: absolute;
  width: 25vw;
  height: 80vh;
  top: 20vh;
  left: 55vw;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}
.all_content .fifth_page .westren_content1 .westren_img2 img {
  position: absolute;
  width: 20vw;
  height: 35vh;
  top: 5vh;
  left: 2.5vw;
}
.all_content .fifth_page .westren_content1 .westren_text2{
  position: absolute;
  top: 45vh;
  left: 8vw;
  width: 25vw;
  height: 40vh;
}

.all_content .fifth_page .westren_content1 .westren_text2 ul.food_list2{
  position: absolute;
  font-size: 2.5vh;
  color: black;

}
.all_content .fifth_page .westren_content1 .westren_text2 ul.food_list2 li {
  display: flex;
  margin-bottom: 5vh;
}
.all_content .fifth_page .westren_content1 .westren_text2 ul.food_list2 li:nth-child(1){
  font-weight: bold;
}
.all_content .fifth_page .westren_content1 .westren_text2 ul.food_list2 span {
  position: absolute;
  font-size: 4vh;
  left: -4vw;
}
.all_content .fifth_page .westren_content1 .swiper-contaier {
  position: absolute;
  font-size: 2.3vh;
  width: 100vw;
  height: 4vh;
  color: rgb(49, 47, 47);
  bottom: 6vh;
  left : -6vw;
  overflow: hidden;
}
.all_content .fifth_page .westren_content1 .westren_text2 .swiper-contaier {
  position: absolute;
} 
.all_content .fifth_page .westren_content1 .westren_text2 .menu{
  position: absolute;
  top: -5vh;
  left: -48.5vw;
}
.all_content .fifth_page .westren_content1 .westren_text2 i {
  position: absolute;
  font-size: 3vh;
  left: 50vw;
  width: 100vw;
  top: 5vh;
  color: black;
}
.all_content .fifth_page .westren_content1 .westren_text2 .menu_li {
  display: flex;
  position: absolute;
  font-size: 3vh;
  line-height: 5vh;
  left: 50vw;
  top: 10vh;
  width: 100vw;
  color: black;
}
.all_content .fifth_page .westren_content1 .westren_text2 .menu_li .menu_name {
  position: absolute;
  left: -7vw;
}
.all_content .fifth_page .westren_content1 .westren_text2 .menu_li .menu_price {
  position: absolute;
  left: 9vw;
}
.all_content .fifth_page .tape img {
  width: 13vw;
  height: 18vh;
  animation: tapee_action 0.5s /* 속도 */
               linear 0s   /* 처음부터 끝까지 일정 속도로 진행 */
               infinite alternate; /* 무한 반복 */
}
.all_content .fifth_page .tape .tape1_control {
  position: absolute;
  top: 15vh;
  left: 15vw;
  transform: rotate(-70deg);
}
.all_content .fifth_page .tape .tape2_control {
  position: absolute;
  top: 87vh;
  left: 37vw;
  transform: rotate(-90deg);
}
.all_content .fifth_page .tape .tape3_control {
  position: absolute;
  top: 10vh;
  left: 61.5vw;
  transform: rotate(-35deg);
}
.all_content .fifth_page .sticker img {
  position: absolute;
  z-index: -2;
  animation: sticker_action 0.5s /* 속도 */
               linear 0s   /* 처음부터 끝까지 일정 속도로 진행 */
               infinite alternate; /* 무한 반복 */
}
@keyframes sticker_action {
	0% {transform: rotate( 0deg );} /* 처음 위치 */
	100% {transform: rotate( 3deg );} /* 마지막 위치 */
  }
.all_content .fifth_page .sticker .sticker_control1{
  position: absolute;
  right: 10vw;
  top: 20vh;
  right: 17vw;
}
.all_content .fifth_page .sticker .sticker_control2{
  position: absolute;
  top: 30vh;
  left: 2vw;
}
.all_content .fifth_page .sticker .sticker_control3{
  position: absolute;
  right: 10vw;
  top: 70vh;
  right: 17vw;
}
.all_content .fifth_page .sticker .sticker_control4{
  position: absolute;
  top: 70vh;
  left: 10vw;
}
.all_content .fifth_page .sticker .sticker_control5{
  position: absolute;
  right: 10vw;
  top: 40vh;
  right: 12vw;
}

.all_content .fifth_page .mark img {
  width: 15vw;
}
.all_content .fifth_page .mark {
  position: absolute;
  top: 0;
  right: 0;
}
.all_content .fifth_page .mark span{
  position: absolute;
  top: 5vh;
  right: 4vw;
  font-family: 'Kaushan Script', cursive;
  font-size: 3vh;
}