@import url("https://fonts.googleapis.com/css?family=Do+Hyeon:400");
@import url("https://fonts.googleapis.com/css2?family=Mynerve&display=swap");
@import url("https://fonts.googleapis.com/css?family=Kirang+Haerang:400");
@supports ((-webkit-mask-image: url(#mask)) or (mask-image: url(#mask))) {
  /* code that requires mask-image here. */
}
* {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  background-color: #fff;
  font-family: "Do Hyeon";
}

header {
  position: fixed;
  height: 100px;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  background-color: transparent;
}
header .title {
  color: #ea5c2b;
  font: 8vh "Kirang Haerang";
  text-shadow: 0px 3px 0 white;
  padding-left: 40px;
  height: 100px;
  line-height: 18vh;
}
header .other-menu ul {
  display: flex;
  position: absolute;
  top: 0;
  right: 10%;
  height: 100%;
}
header .other-menu ul li {
  position: relative;
  margin: auto 15px;
  font-size: 20px;
  transition: 0.7s;
}
header .other-menu ul li span {
  display: none;
  box-sizing: border-box;
  font-size: 13px;
  font-weight: 700;
  padding: 2px 7px;
  width: 70px;
  height: 25px;
  background-color: #ff7f3f;
  position: absolute;
  top: -28px;
  left: -24px;
  border-radius: 4px;
  text-align: center;
}
header .other-menu ul li a {
  color: #5c3b16;
}
header .other-menu ul li:hover span {
  display: block;
  color: white;
}
header .other-menu ul li:hover::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  transform: rotate(45deg);
  top: -8px;
  left: 6px;
  background-color: #ff7f3f;
}

.weather {
  position: fixed;
  display: flex;
  width: 150px;
  bottom: 10px;
  right: 10px;
  padding: 7px 10px;
  background-color: #ff9a1f;
  border-radius: 10px;
  z-index: 3;
  opacity: 0.7;
}
.weather i {
  font-size: 2rem;
  text-align: center;
  line-height: 32px;
  margin: auto 10px auto 5px;
  color: white;
  animation: weatherAnim 10s infinite;
}
@keyframes weatherAnim {
  0% {
    opacity: 0;
    transform: rotate(90deg) translateY(-40%) scale(0.8);
  }
  50% {
    opacity: 1;
    transform: rotate(0deg);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}
.weather ul li {
  font-size: 14px;
  line-height: 14px;
  font-family: "Noto Sans KR", sans-serif;
  margin: 5px 0;
}

.returnToTop {
  position: fixed;
  bottom: 10px;
  right: 190px;
}
.returnToTop a {
  display: block;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  text-align: center;
  font-size: 1.2rem;
}
.returnToTop a i {
  color: #626458;
}

.all_content {
  position: relative;
}
.all_content .first_page {
  height: 100vh;
  overflow: hidden;
}
.all_content .first_page .left_text {
  position: absolute;
  font-size: 5vw;
  line-height: 20vh;
  top: 20vh;
  left: 10vw;
  color: rgb(201, 112, 30);
}
.all_content .first_page .right_text {
  position: absolute;
  font-size: 2vw;
  line-height: 10vh;
  top: 55vh;
  right: 15vw;
  color: rgba(201, 113, 30, 0.753);
}
.all_content .second_page {
  height: 100vh;
  position: relative;
  display: flex;
  background-color: #fff;
}
.all_content .second_page img {
  height: 50vw;
  /*width: 33.333%;*/
  position: absolute;
  background-size: cover;
}
.all_content .second_page .box1 {
  width: 33.333%;
  color: #fff;
}
.all_content .second_page .box1 .imgBox {
  width: 100%;
  height: 100%;
  filter : grayscale(70%);
}
.all_content .second_page .box1 .hoverbox{
  opacity: 1;
}
.all_content .second_page .box1 .hoverbox p{
  color: #fff;
  text-align: center;
  font-size: 15vh;
  left: 0;
}
.all_content .second_page .box1 .hoverbox span{
  display: block; border: 2px solid #ccc;
  position: absolute; top: 50%; transform: translateY(-50%); height: 30px; 
  width: 30vh; left: 10vw;transition: 0.5s;
} 
.all_content .second_page .box1:hover .hoverbox {
  opacity: 1;
}
.all_content .second_page .box1:hover .hoverbox span{
  animation: box_an1 1s linear 1; height: 150px;
  cursor: pointer; 
}
.all_content .second_page .box1:hover .hoverbox span p {
  animation: box_an2 1s linear 1;
  position: absolute; left: 100px; top: 10px;
}
.all_content .second_page .box1:hover .imgBox{
  filter : grayscale(0);
  transform: translateX(-200px);
  transition: 3s;
}
.all_content .second_page .box2 {
  width: 33.333%;
  color: #fff;
}

.all_content .second_page .box2 .imgBox {
  width: 100%;
  height: 100%;
  filter : grayscale(70%);
}
.all_content .second_page .box2 .hoverbox p{
  color: #fff;
  text-align: center;
  font-size: 10vh;
}
.all_content .second_page .box2 .hoverbox span{
  display: block; border: 2px solid #ccc;
  position: absolute; top: 50%; transform: translateY(-50%); height: 30px; 
  width: 30vh; left: 42vw; transition: 0.5s;
} 
.all_content .second_page .box2 .hoverbox span p{
  opacity: 0;
}
.all_content .second_page .box2:hover .hoverbox span{
  animation: box_an1 1s linear 1; height: 150px;
  cursor: pointer;
}
.all_content .second_page .box2:hover .hoverbox span p {
  animation: box_an2 1s linear 1; opacity: 1;
  position: absolute; left: 50px; top: 40px;
}
.all_content .second_page .box2:hover .imgBox{
  filter : grayscale(0);
  transform: translateX(-200px);
  transition: 3s;
}
.all_content .second_page .box3 {
  width: 33.333%;
  color: #fff;
}
.all_content .second_page .box3 .imgBox {
  width: 100%;
  height: 100%;
  filter : grayscale(70%);
}
.all_content .second_page .box3 .hoverbox p{
  color: #fff;
  text-align: center;
  font-size: 10vh;
}
.all_content .second_page .box3 .hoverbox span{
  display: block; border: 2px solid #ccc;
  position: absolute; top: 50%; transform: translateY(-50%); height: 30px; 
  width: 30vh; left: 75vw; transition: 0.5s;
} 
.all_content .second_page .box3 .hoverbox span p{
  opacity: 0;
}
.all_content .second_page .box3:hover .hoverbox span{
  animation: box_an1 1s linear 1; height: 150px;
  cursor: pointer;
}
.all_content .second_page .box3:hover .hoverbox span p {
  animation: box_an2 1s linear 1; opacity: 1;
  position: absolute; left: 50px; top: 40px;
}
.all_content .second_page .box3:hover .imgBox{
  filter : grayscale(0);
  transform: translateX(-200px);
  transition: 3s;
}
@keyframes box_an1{
  0%{height: 30px;}
  80%{height: 150px;}
  100%{height: 150px;;}
}
@keyframes box_an2{
  0%{opacity: 0;}
  80%{opacity: 0;}
  100%{opacity: 1;}
}

.all_content .third_page .sea_page{
  height: 100vh;
  position: relative;
}
.all_content .third_page .sea_page .sea1{
  position: absolute;
  opacity: 1;
  z-index: 2;
}
.all_content .third_page .sea_page .sea_bg {
 position: absolute;
 opacity: 0.5;
 height: 100vh;
 width: 210vh;
 z-index: -2;
}
.all_content .third_page .sea_page .sea1 .sea_content1{
  position: absolute;
  height: 50vh;
  left: 20vw;
  top: 4vh;
}
.all_content .third_page .sea_page .sea1 .sea1_text{
  position: absolute;
  width: 500vw;
  font-size: 4vh;
  line-height: 12vh;
  top: 11vh;
  left: 60vw;
}
.all_content .third_page .sea_page .sea1 .sea1_text span {
  position: absolute;
  font-size: 6vh;
  left: -5vw;
  top: 3vh;
  color: #ea5c2b;
}
.all_content .third_page .sea_page .sea1 .sea1_text .two {
  position: absolute;
  top: 15vh;
}
.all_content .third_page .sea_page .sea1 .sea1_text .three {
  position: absolute;
  top: 27vh;
}
.all_content .third_page .mountain_page{
  height: 100vh;
  background-color: rgb(55, 84, 31);
}
.all_content .third_page .popular_page{
  height: 100vh;
  background-color: rgb(24, 206, 176);
}


/*# sourceMappingURL=food_style.css.map */