//TITLE FONT
@import url('https://fonts.googleapis.com/css?family=Do+Hyeon:400');
//font-family : 'Do+Hyeon' 
//MAIN TEXT FONT
@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');
//font-family: 'Mynerve', cursive;
@import url('https://fonts.googleapis.com/css?family=Kirang+Haerang:400');
//Reset
@import "reset";

body {
  background-image: url("../jeju/bg1.png");
}
header {
  height: 100px;
}

.all_content {
  .slide {
    height: 300px;
    display: flex;
    position: relative;
    .left {
      width: 20%;

      .jeju_view {
        font-size: 30px;
        line-height: 70px;
      }
    }
    .right {
      width: 80%;
      position: relative;
      .swiper-container{
        overflow: hidden;
        .swiper-wrapper {
          display:flex;
          height: 300px;
          img {
            width: 250px;
            height: 250px;
          }
          .swiper-slide {
            text-align:center;
            display:flex; /* 내용을 중앙정렬 하기위해 flex 사용 */
            align-items:center; /* 위아래 기준 중앙정렬 */
            justify-content:center; /* 좌우 기준 중앙정렬 */
          }
        }
      }
    }
  }

  .post{
    position: relative;
    margin-top: 250px;
    .content {
      display: flex;
      height: 400px;
      margin-bottom: 300px;
      .imgs {
        position: absolute;
        margin-bottom: 300px;
        .back_img {
          position: absolute;
          background-color: #fff;
          border: 1px solid black;
          width :400px;
          height: 400px;
          left: 150px;
        }
        .content_img {
          position: absolute;
          width :330px;
          height: 330px;
          top: 35px;
          left: 185px;
        }
      }
      .paragraph {
        position: absolute;
        width: 50%;
        right: 0;
        
        .content_text {
          position: absolute;
          width :450px;
          height: 450px;
          top: -20px;
          right: 200px;
        }
        .text {
          position: absolute;
          left: 240px;
          top: 80px;
          font-size: 20px;
        }
      }
    }
  }
  
}
