//TITLE FONT
@import url('https://fonts.googleapis.com/css?family=Do+Hyeon:400');
//font-family : 'Do Hyeon' 
//MAIN TEXT FONT
@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');
//font-family: 'Mynerve', cursive;



//Reset
@import "reset";

body {
  background-color: #f6d860;;
  font-family:'Do Hyeon' ;
}
header {
  height: 100px;
}

.all_content {
  .slide {
    height: 50vh;
    display: flex;
    position: relative;
    .left {
      width: 20%;

      .jeju_view {
        font-size: 30px;
        line-height: 70px;
      }
    }
    .right {
      width: 80%;
      position: relative;
      .swiper-container{
        overflow: hidden;
        .swiper-wrapper {
          display:flex;
          height: 30vh;
          img {
            width: 250px;
            height: 250px;
          }
          .swiper-slide {
            text-align:center;
            display:flex; /* 내용을 중앙정렬 하기위해 flex 사용 */
            align-items:center; /* 위아래 기준 중앙정렬 */
            justify-content:center; /* 좌우 기준 중앙정렬 */
          }
        }
      }
    }
  }

  .post{
    position: relative;
    margin-top: 250px;
    .content {
      height: 400px;
      margin-bottom: 300px;
      .imgs {
        position: absolute;
        margin-bottom: 300px;
        .back_img {
          position: absolute;
          width :400px;
          height: 400px;
          left: 150px;
        }
        .content_img {
          position: absolute;
          width :330px;
          height: 330px;
          top: 35px;
          left: 150px;
        }
      }
      .paragraph {
        position: absolute;
        width: 50%;
        right: 0;
        
        .text_title {
          position: absolute;
          font-size: 50px;
          left: -200px;
          top: 50px;
        }
        .text_content {
          position: absolute;
          font-size: 25px;
          left: 300px;
          top: 20px;
          left: 60px;

          .text_list {
            display: flex;
            line-height: 50px;
            p {
              width: 150px;
            }
            p:hover {
              background-color: orange;
              color: white;
              width: 150px;
              height: 50px;
            }

            .time, .menu, .road{
              display: none;
              margin-left: 100px;
            }
          }
        }
      }
    }
  }
}
