/* 개선 필요 점 (23.03.02) */

/* 메인 헤더, 날씨 API 넣어야 함 */
/* 위치 뜨게 하는 지도 넣어야 함 */
/* 링크 동그란 버튼에 hover 주면 시각적인 효과 주기 */
/* DETAILS, 제목에만 글자 굵기 변경하기 */
/* 책모양 느낌 같은 것 가능하다면 오른쪽에 fixed 해놓기 */
/* 슈퍼바운스 마지막 사진 2장에 슬기 CSS .shine 효과 끌고 오기 */


/* font-family: 'Kirang Haerang' */
@import url('https://fonts.googleapis.com/css?family=Kirang+Haerang:400');
/* font-family: 'Noto Sans KR', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap');
/* font-family: 'Lobster', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/* font-family: 'Josefin Slab'; */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital@0;1&display=swap");
/* font-family: 'Gloock', serif; */
@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');


/* MAIN HAEDER */

header {
  height: 100px;
  width: 1920px;
}

/* COMMON */

* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

figure {
  position: relative;
  margin: 0;
  width: 100%;
}

p {
  line-height: normal;
}

.strong {
  font-weight: 600;
}

figure video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.inner {
  position: relative;
  width: 1920px;
  height: px;
  margin: auto;
  /* border: 1px solid black; */
}


.swiper-slide a {
  justify-content: center;
  text-align: center;
}

.swiper-slide img {
  display: block;
  width: 1920px;
  height: 50%;
  mix-blend-mode: normal;
  overflow: hidden;
}

.swiper-slide img:hover {
  mix-blend-mode: luminosity;
  filter: none;
}

/* BUTTON */
/* button {
  position: absolute;
  width: 10%;
  height: 7%;
  background-color: rgba(247, 198, 92, 0.12);
  font-family: 'Noto Sans KR', sans-serif;
  border: 1px solid white;
  color: #fff;
  font-size: 2vh;
  font-weight: bold;
  border-radius: 30px;
  transform: translate(-50%, -50%);
  transition: .2s;
  text-shadow: 3px 3px 8px black;
  display: block;
  bottom: 20%;
  left: 50%;
} */

/* button:focus {
  outline: 0;
}

button:hover {
  background-color: rgba(223, 173, 81, 0.9);
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(223, 173, 81, 2.0);
  border: none;
} */

/* SWIPER */

.swiper {
  position: relative;
  margin-bottom: 21%;
  width: 100%;
  /* max-width: 90vw; */
}

.swiper-slide {
  width: 100%;
  background-color: #eee;
}

.swiper-pagination-bullet {
  width: 40px;
  height: 3px;
  border-radius: 0;
  background-color: #fff;
}

.swiper-pagination-bullet-active {
  background-color: rgba(240, 163, 20, 0.249);
  width: 80px;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}

.swiper-button-next,
.swiper-button-prev {
  opacity: 20px;
  background-position: center;
  background-repeat: no-repeat;
  /* z-index: 2; */
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: absolute;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  display: flex;
  text-align: center;
  font-size: 50px;
  color: orange;
  left: 20px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  font-weight: bold;
  text-shadow: 0px 2px 2px 5px;
}

.swiper-button-prev {
  background-image: url(#);
  left: 20px;
}

.swiper-button-prev:hover {
  background-image: url(#);
}

.swiper-button-next {
  background-image: url(#);
  right: 20px;
}

.swiper-button-next:hover {
  background-image: url(#);
  right: 20px;
}

/* TEXT-WRAP BUTTON */

/* .text-wrap {
  position: absolute;
  top: 30vh;
  left: 0;
  right: 0;
  width: 80vw;
  opacity: 0;
  margin: auto;
  text-align: center;
  transition: .5s;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.545);
  border-radius: 20px;
} */

.text-wrap {
  position: absolute;
  /* background-color: rgba(0, 0, 0, 0.545); */
  top: 290.5px;
  left: 573px;
  width: 774px;
  height: 200px;
  text-align: center;
  padding: 1em 2em;
  justify-content: center;
  border: none;
  /* border-radius: .6rem; */
  cursor: pointer;
  /* overflow: hidden; */
  z-index: 1;
}

.text-wrap h2 {
  font-family: 'Noto Sans KR', sans-serif;
  color: #fff;
  font-size: 58px;
  line-height: 1.5;
  text-shadow: 3px 3px 8px black;
  text-align: center;
}

.text-wrap p {
  font-family: 'Noto Sans KR', sans-serif;
  color: #fff;
  font-size: 23px;
  font-weight: 20px;
  margin-top: 10px;
  text-align: center;
  text-shadow: 3px 3px 8px black;
}

.text-wrap span {
  opacity: 0;
}

/* .text-wrap:hover {
  background-color: rgba(223, 173, 81, 0.537);
  cursor: pointer;
  border: none;
}

.text-wrap:active {
  outline: none;
}

.swiper-slide-active .text-wrap {
  position: fixed;
  opacity: 1;
  top: 36%;
  transition: .5s;
  width: fit-content;
  padding: 40px 40px;
} */

.text-wrap span:not(:nth-child(6)) {
  position: absolute;
  left: 390px;
  top: 95px;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 100px;
  background-color: #d79c2ddd;
  opacity: 40%;
  border-radius: 50%;
  transition: .6s ease;
  z-index: -1;
}

.text-wrap span:nth-child(1) {
  transform: translate(-3.1em, -4em);
  opacity: 0;
}

.text-wrap span:nth-child(2) {
  transform: translate(-10em, 1.3em);
  opacity: 0;


}

.text-wrap span:nth-child(3) {
  transform: translate(-.2em, 5em);
  opacity: 0;

}

.text-wrap span:nth-child(4) {
  transform: translate(3em, 1.4em);
  opacity: 0;

}

.text-wrap span:nth-child(5) {
  transform: translate(3.5em, -3.8em);
  opacity: 0;

}

.text-wrap:hover span:not(:nth-child(6)) {
  transform: translate(-50%, -50%) scale(4);
  transition: 1.5s ease;
  opacity: 20%;

}


/* CONTENTS */

/* ARROW 981파크 */
.parkarrow {
  position: absolute;
  text-align: center;
  color: black;
  font-size: 27px;
  font-weight: 600;
  font-family: 'Noto Sans KR', sans-serif;
  margin-top: 150px;
  margin-bottom: 200px;
  top: -43.5%;
  left: 805px;
  z-index: 1;
}

.parkarrow>span {
  font-size: 70px;
  cursor: pointer;
}

/* 981파크 */

.inner .park981 {
  position: relative;
  width: 100%;
  height: auto;
}

.inner .park981 .bigcloud {
  position: absolute;
  top: 50%;
  left: 22%;
  width: 30%;
  transform: translateY(-43%);
  z-index: 1;
}

.inner .park981 .smallcloud {
  position: absolute;
  top: -5%;
  left: 2%;
  width: 20%;
  transform: translateY(-20%);
  opacity: 50%;
  z-index: 1;
}

.inner .park981 img .building {
  position: absolute;
  left: 0;
  width: 100%;
  height: auto;
}

.inner .park981 .movecart {
  position: absolute;
  opacity: 86%;
  left: 5%;
  width: 40%;
  top: -50px;
  animation: movecar 2.3s infinite alternate;
  overflow: hidden;
}

.ease_in_out {
  top: 200px;
  animation-timing-function: ease-in-out;
}


@-webkit-keyframes movecar {
  from {
    left: 1500px;
  }

  to {
    left: 60px;
  }
}

.inner .park981 .parktext1 {
  position: absolute;
  right: 2%;
  top: -13%;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 25px;
  font-weight: 500;
}

.inner .park981 .parktext2 {
  position: absolute;
  left: 3%;
  top: 77.5%;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 25px;
  font-weight: 500;
}

/* 981파크 CONTACT*/

.inner .park981 .contact981 {
  position: absolute;
  left: 2%;
  top: 93%;
}

.inner .park981 .contact981 .background981 {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.127);
  width: 480px;
  height: 332px;
}

.inner .park981 .contact981 .background981>p {
  font-family: 'Noto Sans KR', sans-serif;
  color: black;
  margin: 8% 8% 2% 8%;
  font-size: 21px;
  font-weight: 500;
}

.inner .park981 .contact981 .background981>.sns {
  position: absolute;
  display: flex;
  margin-top: 3.5%;
  margin-left: 8%;
}

.inner .park981 .contact981 .background981 .sns>li>a {
  display: block;
  background-color: black;
  text-align: center;
  border-radius: 100%;
  font-size: 20%;
  margin: 0px 20px 0px 0px;
}

.inner .park981 .contact981 .background981 .sns>li>a>i {
  color: white;
  border-radius: 100%;
  text-align: center;
  padding: 10px;
}


/* ARROW 렛츠런팜 */
.runarrow {
  position: absolute;
  text-align: center;
  color: black;
  font-size: 27px;
  font-weight: 600;
  font-family: 'Noto Sans KR', sans-serif;
  margin: 30px 0;
  top: 132%;
  left: 42%;
  padding-top: 30px;
}

.runarrow span {
  font-size: 70px;
  cursor: pointer;
}


/* 렛츠런팜 */

.inner .letsrunfarm {
  position: absolute;
  width: 100%;
  height: auto;
  top: 156%;
}

.inner .letsrunfarm .farmvideo {
  position: absolute;
  width: 100%;
  height: auto;
  justify-content: center;
}

.inner .letsrunfarm .farmbus {
  position: absolute;
  width: 70%;
  right: 0;
  top: 1079px;
}

.inner .letsrunfarm .horse {
  position: absolute;
  width: 53%;
  height: auto;
  top: 750px;
  right: 10px;
  z-index: 1;
  filter: drop-shadow(5px 5px 6px #000000);
  animation: horse 1s infinite alternate;
  overflow: hidden;
}

.horse_ease_in_out {
  top: 100px;
  animation-timing-function: ease-in-out;
}

@-webkit-keyframes horse {
  0% {
    transform: rotate(0deg) translateX(0);
  }

  25% {
    transform: rotate(2deg) translateX(50px);
  }

  50% {
    transform: rotate(-2deg) translateX(100px);
  }

  100% {
    transform: rotate(2deg) translateX(150px);
  }

  from {
    right: 0px;
  }

  to {
    right: 100px;
  }
}

.inner .letsrunfarm .horsetree {
  position: absolute;
  width: 25%;
  height: auto;
  left: 0;
  top: 1480px;
  transform: rotate('5', '5');
  animation: compare 2s infinite alternate;
}

.ease {
  animation-timing-function: ease;
}

@-webkit-keyframes compare {

  /* from {
    left: 10x;
  }

  to {
    left: 200px;
  } */
  0% {
    transform: rotate(0deg) translateX(0);
  }

  25% {
    transform: rotate(5deg) translateX(50px);
  }

  50% {
    transform: rotate(-5deg) translateX(100px);
  }

  100% {
    transform: rotate(5deg) translateX(150px);
  }
}

.inner .letsrunfarm .grass {
  position: absolute;
  width: 40%;
  height: auto;
  left: 0;
  top: 1732px;
}

.inner .letsrunfarm .runtext {
  position: absolute;
  background-color: rgba(20, 20, 20, 0.451);
  padding: 60px 60px;
  margin-top: 59px;
  right: 3%;
  /* top: 10%; */
  /* z-index: 1; */
}

.inner .letsrunfarm .runfarmdes {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 25px;
  font-weight: 400;
  color: white;
}

/* 렛츠런팜 CONTACT*/


.inner .letsrunfarm .contactrun {
  position: absolute;
  left: 2.5%;
  top: 1130px;
}

.inner .letsrunfarm .contactrun .backgroundrun {
  position: absolute;
  background-color: rgba(35, 97, 19, 0.13);
  width: 480px;
  height: 332px;
}

.inner .letsrunfarm .contactrun .backgroundrun>p {
  position: absolute;
  font-family: 'Noto Sans KR', sans-serif;
  color: black;
  margin: 8% 8% 2% 8%;
  font-size: 21px;
  font-weight: 500;
}

.inner .letsrunfarm .contactrun .backgroundrun>.sns {
  position: absolute;
  display: flex;
  margin-top: 53%;
  margin-left: 8%;
}

.inner .letsrunfarm .contactrun .backgroundrun .sns>li>a {
  display: block;
  background-color: black;
  text-align: center;
  border-radius: 100%;
  font-size: 20%;
  margin: 0px 20px 0px 0px;
}

.inner .letsrunfarm .contactrun .backgroundrun .sns>li>a>i {
  color: white;
  border-radius: 100%;
  text-align: center;
  padding: 10px;
}

/* ARROW 카이트서핑 */

.kitearrow {
  position: absolute;
  text-align: center;
  color: black;
  font-size: 27px;
  font-weight: 600;
  font-family: 'Noto Sans KR', sans-serif;
  margin: 20px 0;
  top: 343%;
  left: 41.3%;
}

.kitearrow span {
  font-size: 70px;
  cursor: pointer;
}


/* 카이트 서핑 */
.inner .kitesurfing {
  position: absolute;
  width: 100%;
  height: auto;
  top: 362%;
}

.inner .kitesurfing .kitetitle {
  position: absolute;
  font-family: 'Noto Sans KR', sans-serif;
  color: rgba(244, 247, 250, 0.964);
  font-size: 57px;
  font-weight: bold;
  z-index: 1;
  text-align: center;
  text-shadow: 1px 2px 5px black;
  left: 9.5%;
  top: 115px;
}

.inner .kitesurfing .kite1 {
  position: absolute;
  width: 100%;
  height: auto;
  top: 73%;
  /* left: 0; */
  overflow: hidden;
  margin: 0;
}

.inner .kitesurfing .kite2 {
  position: absolute;
  width: 100%;
  top: 870px;
}

.inner .kitesurfing .wing1 {
  position: absolute;
  top: 15px;
  width: 30%;
  right: 0;
  z-index: 1;
  animation: wing1 3s infinite alternate;
  overflow: hidden;
}

@-webkit-keyframes wing1 {

  0% {
    transform: translateX(30px);
  }

  25% {
    transform: translateY(150px);
  }

  50% {
    transform: translateX(-100px);
  }

  100% {
    transform: translateY(150px);
  }
}

.inner .kitesurfing .wing2 {
  position: absolute;
  top: 120px;
  width: 35%;
  left: 0;
  z-index: 1;
  animation: wing2 2s infinite alternate;
  overflow: hidden;
}

.wing2_ease_in_out {
  top: 100px;
  animation-timing-function: ease-in-out;
}

@-webkit-keyframes wing2 {
  from {
    bottom: 300px;
  }

  to {
    top: 400px;
  }

  100% {
    transform: translateX(70px);
  }
}

.inner .kitesurfing .wing3 {
  position: absolute;
  top: 700px;
  width: 50%;
  right: 0;
  z-index: 1;
  animation: wing3 2s infinite alternate;
  overflow: hidden;
}

.wing3_ease_in_out {
  top: 100px;
  animation-timing-function: ease-in-out;
}

@-webkit-keyframes wing3 {
  from {
    bottom: 20px;
  }

  to {
    top: 1350px;
  }

}

.inner .kitesurfing .kitetext {
  position: absolute;
  font-family: 'Noto Sans KR', sans-serif;
  color: black;
  top: 1750px;
  font-weight: 550;
  font-size: 26px;
  left: 5%;
}

/* 카이트서핑 CONTACT*/

.inner .kitesurfing .contactkite {
  position: absolute;
  left: 2.5%;
  top: 1280px;
}

.inner .kitesurfing .contactkite .backgroundkite {
  position: absolute;
  background-color: rgba(159, 189, 208, 0.284);
  width: 480px;
  height: 332px;
}

.inner .kitesurfing .contactkite .backgroundkite>p {
  position: absolute;
  font-family: 'Noto Sans KR', sans-serif;
  color: #fff;
  margin: 8% 8% 2% 8%;
  font-size: 21px;
  font-weight: 500;
}

.inner .kitesurfing .contactkite .backgroundkite>.sns {
  position: absolute;
  display: flex;
  margin-top: 53%;
  margin-left: 8%;
}

.inner .kitesurfing .contactkite .backgroundkite .sns>li>a {
  display: block;
  background-color: black;
  text-align: center;
  border-radius: 100%;
  font-size: 20%;
  margin: 0px 20px 0px 0px;
}

.inner .kitesurfing .contactkite .backgroundkite .sns>li>a>i {
  color: white;
  border-radius: 100%;
  text-align: center;
  padding: 10px;
}

/* ARROW 블루원요트클럽 */

.bluearrow {
  position: absolute;
  text-align: center;
  color: black;
  font-size: 27px;
  font-weight: 600;
  font-family: 'Noto Sans KR', sans-serif;
  margin: 20px 0;
  top: 550%;
  left: 40%;
}

.bluearrow span {
  font-size: 70px;
  cursor: pointer;
}


/* 블루원 요트투어 */

.inner .blueone {
  position: absolute;
  width: 100%;
  height: auto;
  top: 570%;
}

.inner .blueone .blueone1 {
  position: absolute;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: 0;
}

.inner .blueone .blueonetitle {
  position: absolute;
  font-family: 'Gloock', serif;
  color: rgba(234, 244, 254, 0.964);
  font-size: 95px;
  font-weight: 500;
  z-index: 1;
  text-shadow: 1px 2px 5px black;
  right: 5%;
  top: 94px;
}

.inner .blueone .bluedes {
  position: absolute;
  font-family: 'Noto Sans KR', sans-serif;
  color: black;
  top: 1170px;
  justify-content: center;
  font-weight: 600;
  font-size: 50px;
  left: 16%;
}

.bluecontainer {
  position: relative;
  top: 1500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bluecon1 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  /* display: none; */
}

.bluecon1>img {
  width: 610px;
  height: auto;
  margin: 20px 20px;
}

.bluecon2 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 185px;
}

.bluecon2>img {
  width: 100%;
  height: auto;
  margin: 20px 20px;
}


/* 블루원 요트투어 CONTACT*/

.inner .blueone .contactblue {
  position: absolute;
  left: 2.5%;
  top: 700px;
}

.inner .blueone .contactblue .backgroundblue {
  position: absolute;
  background-color: rgba(159, 189, 208, 0.284);
  width: 480px;
  height: 332px;
}

.inner .blueone .contactblue .backgroundblue>p {
  position: absolute;
  font-family: 'Noto Sans KR', sans-serif;
  color: #fff;
  margin: 8% 8% 2% 8%;
  font-size: 21px;
  font-weight: 500;
}

.inner .blueone .contactblue .backgroundblue>.sns {
  position: absolute;
  display: flex;
  margin-top: 53%;
  margin-left: 8%;
}

.inner .blueone .contactblue .backgroundblue .sns>li>a {
  display: block;
  background-color: black;
  text-align: center;
  border-radius: 100%;
  font-size: 20%;
  margin: 0px 20px 0px 0px;
}

.inner .blueone .contactblue .backgroundblue .sns>li>a>i {
  color: white;
  border-radius: 100%;
  text-align: center;
  padding: 10px;
}

/* 블루원 요트투어 요트 설명 */

figure.snip1384 {
  font-family: 'Noto Sans KR', sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  background-color: #000000;
}

figure.snip1384 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

figure.snip1384 img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
}

figure.snip1384:after,
figure.snip1384 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

figure.snip1384:after {
  content: '';
  background-color: rgba(0, 0, 0, 0.437);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
}

figure.snip1384 figcaption {
  z-index: 1;
  padding: 30px;
  cursor: pointer;
}

figure.snip1384 h3,
figure.snip1384 .links {
  width: 100%;
  margin: 1px 0;
  padding: 0;
}

figure.snip1384 h3 {
  line-height: 3em;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  opacity: 0;
  padding-bottom: 3px;
  color: rgba(245, 248, 249, 0.93);
  text-shadow: 3px 3px 8px black;
}

figure.snip1384 p {
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 0.3px;
  opacity: 0;
  top: 50%;
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
  text-shadow: 3px 3px 3px black;
}

figure.snip1384:hover img,
figure.snip1384.hover img {
  zoom: 1;
  filter: alpha(opacity=30);
  -webkit-opacity: 0.5;
  opacity: 0.5;
}

figure.snip1384:hover:after,
figure.snip1384.hover:after {
  opacity: 1;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
}

figure.snip1384:hover h3,
figure.snip1384.hover h3,
figure.snip1384:hover p,
figure.snip1384.hover p,
figure.snip1384:hover i,
figure.snip1384.hover i {
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1;
}

/* ARROW 바운스 슈퍼파크 */

.bouncearrow {
  position: absolute;
  text-align: center;
  color: black;
  font-size: 27px;
  font-weight: 600;
  font-family: 'Noto Sans KR', sans-serif;
  margin: 20px 0;
  top: 2105px;
  left: 40%;
}

.bouncearrow span {
  font-size: 70px;
  cursor: pointer;
}


/* 바운스 슈퍼파크 */

.inner .bouncesuper {
  position: absolute;
  width: 100%;
  height: auto;
  top: 70px;
  /* margin-bottom: */
}

.inner .bouncesuper .bouncetitle {
  position: absolute;
  font-family: 'Noto Sans KR', sans-serif;
  color: #fff;
  background-color: rgba(28, 11, 65, 0.483);
  padding: 20px 20px;
  font-size: 50px;
  font-weight: 550;
  font-style: italic;
  right: 5%;
  top: 3500px;
  z-index: 1;
}

.inner .bouncesuper .bouncebg {
  position: absolute;
  width: 100%;
  top: 2250px;
}

.inner .bouncesuper .bouncechild1 {
  position: absolute;
  top: 570%;
  width: 40%;
  left: 15%;
  filter: drop-shadow(5px 5px 3px #bcb2b2);
  z-index: 1;
  animation: ball 2.5s infinite alternate;
  overflow: hidden;
}

@keyframes ball {
  0% {
    transform: translateY(100px);
  }

  25% {
    transform: translateY(-300px);
  }
}


.inner .bouncesuper .bouncechild2 {
  position: absolute;
  top: 2250px;
  width: 35%;
  right: 8%;
  filter: drop-shadow(5px 5px 3px #bcb2b2);
  z-index: 1;
  /* transform: rotate(-90deg) infinite; */
  animation: rotate 3s Infinite;
  overflow: hidden;
}

@keyframes rotate {
  0% {
    background-position: bottom;
    transform: translateY(300px);
  }

  25% {
    /* background-position: right bottom; */
    transform: translateY(480px);
  }

  50% {
    background-position: bottom;
    transform: rotate(60deg);
  }

  100% {
    background-position: bottom;
    transform: rotate(360deg);

  }
}

.inner .bouncesuper .bumperbg {
  position: absolute;
  top: 3680px;
  width: 100%;
  height: auto;
}

.inner .bouncesuper .bumpercar1 {
  position: absolute;
  top: 4570px;
  width: 50%;
  left: 0;
  transform: rotate(4deg);
  filter: drop-shadow(5px 5px 5px #000000);
  z-index: 1;
  animation: bumper1 3s linear infinite;
  /* transform-origin: 50% 50%; */
}

@-webkit-keyframes bumper1 {
  0% {
    left: 5px;
  }

  100% {
    left: 950px;
  }
}

.inner .bouncesuper .bumpercar2 {
  position: absolute;
  top: 3800px;
  width: 35%;
  right: 10%;
  transform: rotate(-3deg);
  filter: drop-shadow(5px 5px 5px #000000);
  z-index: 1;
  animation: bumper2 2s infinite;
  transform-origin: 50% 50%;
}

@keyframes bumper2 {
  100% {
    transform: rotate(360deg);
  }
}

.inner .bouncesuper .playground1 {
  position: absolute;
  top: 700px;
  width: 50%;
  right: 0;
}

.inner .bouncesuper .playground2 {
  position: absolute;
  top: 700px;
  width: 50%;
  right: 0;
}

.inner .bouncesuper .bouncetext1 {
  position: absolute;
  font-family: 'Noto Sans KR', sans-serif;
  color: black;
  top: 3750px;
  font-size: 26px;
  left: 5%;
  background-color: rgba(232, 232, 232, 0.475);
  padding: 20px 20px;
  font-weight: 550;
}

.inner .bouncesuper .bouncetext2 {
  position: absolute;
  font-family: 'Noto Sans KR', sans-serif;
  color: black;
  top: 6250px;
  font-size: 26px;
  left: 5%;
  font-weight: 550;
  padding-bottom: 50px;
}

.inner .bouncesuper .playground {
  position: relative;
  top: 4590px;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.inner .bouncesuper .playground1 {
  position: absolute;
  width: 50%;
  height: 900px;
  flex-grow: 1;
  left: 0;
}

.inner .bouncesuper .playground2 {
  position: absolute;
  width: 50%;
  height: 900px;
  flex-grow: 1;
  right: 0;

}

/* 바운스슈퍼파크 CONTACT*/

.inner .bouncesuper .contactbounce {
  position: absolute;
  left: 2.5%;
  top: 3260px;
}

.inner .bouncesuper .contactbounce .backgroundbounce {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.446);
  width: 480px;
  height: 332px;
}

.inner .bouncesuper .contactbounce .backgroundbounce>p {
  position: absolute;
  font-family: 'Noto Sans KR', sans-serif;
  color: #fff;
  margin: 8% 8% 2% 8%;
  font-size: 21px;
  font-weight: 500;
}

.inner .bouncesuper .contactbounce .backgroundbounce>.sns {
  position: absolute;
  display: flex;
  margin-top: 53%;
  margin-left: 8%;
}

.inner .bouncesuper .contactbounce .backgroundbounce .sns>li>a {
  display: block;
  background-color: black;
  text-align: center;
  border-radius: 100%;
  font-size: 20%;
  margin: 0px 20px 0px 0px;
}

.inner .bouncesuper .contactbounce .backgroundbounce .sns>li>a>i {
  color: white;
  border-radius: 100%;
  text-align: center;
  padding: 10px;
}

/* 상단 이동하기 버튼 */
.btn_gotop {
  display: block;
  position: fixed;
  bottom: 35px;
  left: 30px;
  z-index: 999;
  cursor: pointer;
  border-radius: 50%;
}

.btn_gotop img {
  width: 20%;
  opacity: 40%;
}