// Font 1 기랑해랑
@import url('https://fonts.googleapis.com/css?family=Kirang+Haerang:400');
//font-family: 'Kirang Haerang';

// Font 2 도현
@import url('https://fonts.googleapis.com/css?family=Do+Hyeon:400');
//font-family: 'Do Hyeon';

// Font 3 Noto Sans KR
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');
//font-family: 'Noto Sans KR', sans-serif;

// Font 4 Noto Sans
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;400;700&display=swap');
//font-family: 'Noto Sans', sans-serif;

// 롯데리아
@font-face {
  font-family: 'LOTTERIACHAB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

// 읏맨 엉뚱체
@font-face {
  font-family: 'OKDDUNG';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/OKDDUNG.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

// Josefin Slab
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital@0;1&display=swap');
// font-family: 'Josefin Slab', serif;

// Neo 둥근 고딕
@font-face {
  font-family: 'NeoDunggeunmoPro-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Merriweather+Sans:ital,wght@0,300;0,400;1,300;1,400;1,700&family=Mynerve&family=Rubik+Mono+One&display=swap");
//font-family: 'Rubik Mono One', sans-serif;